<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
$descriptionColapse = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_view', 'product_description_collapse');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
<div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
	<?php if ($_className == 'overview'): ?><span class="block-title"><?php /* @escapeNotVerified */ echo __('Description:') ?></span><?php endif; ?>
    <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
    <div class="value<?php echo $_code === 'short_description' ? ' v-ellipsis' : ''; ?>" data-collapse-open="<?php echo $descriptionColapse === '1' ? 'true' : 'false'; ?>" <?php echo $_code === 'short_description' ? 'data-expandlink="Read More" data-collapselink="Less"' : ''; ?> <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?></div>
</div>
<?php endif; ?>
