<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>
<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')): ?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php 
              $relatedBlock = $block->getChildHtml('catalog.product.related');
              if(stripos($relatedBlock, 'product-items') !== false){ ?>
                <div class="data item title"
                     aria-labelledby="tab-label-related-title"
                     data-role="collapsible" id="tab-label-related">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#related"
                       id="tab-label-related-title">
                        <?php /* @escapeNotVerified */ echo __('Related Products'); ?>
                    </a>
                </div>
                <div class="data item content" id="related" data-role="content">
                    <?php echo $relatedBlock; ?>
                </div>
            <?php } ?>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php 
                    $pos = strrpos($name, "product.attributes");
                    if($pos === false):?>
                    <?php
                        $html = $layout->renderElement($name);
                        if (!trim($html)) {
                            continue;
                        }
                        $alias = $layout->getElementAlias($name);
                        $label = $block->getChildData($alias, 'title');
                    ?>
                    <div class="data item title"
                        aria-labelledby="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title"
                        data-role="collapsible" id="tab-label-<?= /* @escapeNotVerified */ $alias ?>">
                        <a class="data switch"
                        tabindex="-1"
                        data-toggle="switch"
                        href="#<?= /* @escapeNotVerified */ $alias ?>"
                        id="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title">
                            <?= /* @escapeNotVerified */ $label ?>
                        </a>
                    </div>
                    <div class="data item content" id="<?= /* @escapeNotVerified */ $alias ?>" data-role="content">
                        <?= /* @escapeNotVerified */ $html ?>
                    </div>
                <?php endif; ?>
            <?php endforeach;?>
            <?php //echo $block->getChildHtml('reviews.tab2'); ?>
        </div>
    </div>
<?php endif; ?>
