<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
 
$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
$moreViewsType = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_view', 'product_more_views_type');

switch ($moreViewsType) {
	case 'list':
		$moreViewsTypeClassname = 'no-slider';
	break;
	case 'horizontal_slider':
		$moreViewsTypeClassname = 'more-views-horizontal-slider';
	break;
	case 'vertical_type_1':
		$moreViewsTypeClassname = 'more-views-vertical-slider type-1 ';
	break;
	case 'vertical_type_2':
		$moreViewsTypeClassname = 'more-views-vertical-slider type-2';
	break;
	case 'large':
		$moreViewsTypeClassname = 'more-views-large';
	break;
	default:
		$moreViewsTypeClassname = 'more-views-horizontal-slider';
	break;
}
?>
<div class="gallery-placeholder _block-content-loading <?php echo $moreViewsTypeClassname; ?><?php echo count($block->getGalleryImages()) == 1 ? ' single-image' : ''; ?><?php echo (count($block->getGalleryImages()) > 4 && $moreViewsType == "list") ? ' collapsed' : ''; ?>" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
        <div class="loader">
            <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>"
                 alt="<?= /* @escapeNotVerified */ __('Loading...') ?>">
        </div>
    </div>
</div>
<?php if ($moreViewsType == "list" && count($block->getGalleryImages()) > 4): ?>
    <span class="action-collapse">
        <span class="open"><?php echo __('Show more views'); ?><i class="meigee-arrow-down"></i></span>
        <span class="close"><?php echo __('Show less'); ?><i class="close meigee-arrow-up"></i></span>        
    </span>
<?php endif; ?>
<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script>
    var config = {
            "width": <?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_medium', 'width') ?>,
            "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
            "navtype": "<?= /* @escapeNotVerified */ $block->getVar("gallery/navtype") ?>",
            "height": <?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_medium', 'height') ?>
        },
        thumbBarHeight = 0,
        loader = document.querySelectorAll('[data-gallery-role="gallery-placeholder"] [data-role="loader"]')[0];

    if (config.navtype === 'horizontal') {
        thumbBarHeight = config.thumbheight;
    }

    loader.style.paddingBottom = ( config.height / config.width * 100) + "%";
    require(['jquery'], function($){
    	$(window).load(function(){
    		setTimeout(function(){
	    		loader.style.display = "none";
	    	},1000);
    	});    	
	});
</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?= /* @escapeNotVerified */ $block->getMagnifier() ?>,
                "data": <?= /* @escapeNotVerified */ $block->getGalleryImagesJson() ?>,
                "options": {
                    "nav": "<?= /* @escapeNotVerified */ $block->getVar("gallery/nav") ?>",
                    "loop": <?= /* @escapeNotVerified */ $block->getVar("gallery/loop") ? 'true' : 'false' ?>,
                    "keyboard": <?= /* @escapeNotVerified */ $block->getVar("gallery/keyboard") ? 'true' : 'false' ?>,
                    "arrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/arrows") ? 'true' : 'false' ?>,
                    "allowfullscreen": <?= /* @escapeNotVerified */ $block->getVar("gallery/allowfullscreen") ? 'true' : 'false' ?>,
                    "showCaption": <?= /* @escapeNotVerified */ $block->getVar("gallery/caption") ? 'true' : 'false' ?>,
					<?php if ($moreViewsType == "list"){ ?>
                        "thumbwidth": 90,
                        "thumbheight": 90,
                    <?php } elseif ($moreViewsType == "horizontal_slider"){ ?>
                        "thumbwidth": 100,
                        "thumbheight": 100,
                    <?php } elseif ($moreViewsType == "vertical_type_1"){ ?>
                        "thumbwidth": 90,
                        "thumbheight": 90,
					<?php } elseif ($moreViewsType == 'vertical_type_2'){ ?>
						"thumbwidth": 92,
                        "thumbheight": 92,
                    <?php } else { ?>
                        "thumbwidth": "<?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_small', 'width') ?>",
                        <?php if ($block->getImageAttribute('product_page_image_small', 'height') || $block->getImageAttribute('product_page_image_small', 'width')): ?>
							"thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height') ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                        <?php endif; ?>
                    <?php } ?>
					<?php if ($moreViewsType == 'vertical_type_1'){ ?>
                        "height" : 700,
                        "width" : 700,
                    <?php } else { ?>
                        "width": "<?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_medium', 'width') ?>",
                        <?php if ($block->getImageAttribute('product_page_image_medium', 'height') || $block->getImageAttribute('product_page_image_medium', 'width')): ?>
						"height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
							?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
						<?php endif; ?>
                    <?php } ?>
                    <?php if ($block->getVar("gallery/transition/duration")): ?>
                        "transitionduration": <?= /* @escapeNotVerified */ $block->getVar("gallery/transition/duration") ?>,
                    <?php endif; ?>
                    "transition": "<?= /* @escapeNotVerified */ $block->getVar("gallery/transition/effect") ?>",
                    "navarrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/navarrows") ? 'true' : 'false' ?>,
                    "navtype": "<?= /* @escapeNotVerified */ $block->getVar("gallery/navtype") ?>",
					<?php if ($moreViewsType == 'vertical_type_1' || $moreViewsType == 'vertical_type_2'){ ?>
						"navdir": "vertical"
					<?php } else { ?>
						"navdir": "<?= /* @escapeNotVerified */ $block->getVar("gallery/navdir") ?>"
					<?php } ?>
                },
                "fullscreen": {
                    "nav": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/nav") ?>",
                    "loop": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/loop") ? 'true' : 'false' ?>,
                    "navdir": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navdir") ?>",
					<?php if ($moreViewsType == "large"){ ?>
						"thumbwidth": 99,
						"thumbheight": 99,
					<?php } ?>
                    "navarrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navarrows") ? 'true' : 'false' ?>,
                    "navtype": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navtype") ?>",
                    "arrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/arrows") ? 'true' : 'false' ?>,
                    "showCaption": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/caption") ? 'true' : 'false' ?>,
                    <?php if ($block->getVar("gallery/fullscreen/transition/duration")): ?>
                        "transitionduration": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/transition/duration") ?>,
                    <?php endif; ?>
                    "transition": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/transition/effect") ?>"
                },
                "breakpoints": <?= /* @escapeNotVerified */ $block->getBreakpoints() ?>
            }
        }
    }
</script>
<script>
    require(['jquery', 'mage/gallery/gallery'], function($, gallery){
        $('[data-gallery-role=gallery-placeholder]').on('gallery:loaded', function () {
            <?php if ($moreViewsType == "list" && count($block->getGalleryImages()) > 4): ?>
                $(this).on('fotorama:ready', function(){
					function moreViewCollapsing() {
                        if (jQuery(document.body).width() > 767) {
                            setTimeout(function(){
                                if (jQuery('.gallery-placeholder .fotorama__nav-wrap').length && jQuery('.product.media .action-collapse').length) {
                                    var thambs = jQuery('.gallery-placeholder .fotorama__nav-wrap');
                                    var mvHeight = thambs.find('.fotorama__nav--thumbs').outerHeight() + parseInt(thambs.css('padding-top')) + parseInt(thambs.css('padding-bottom'));
                                    var collapseHeight =
                                    + (jQuery(thambs).find('.fotorama__nav__shaft .fotorama__nav__frame:nth-child(6) img').height()/3)
                                    + (jQuery(thambs).find('.fotorama__nav__shaft .fotorama__nav__frame:nth-child(6)').offset().top - jQuery(thambs).find('.fotorama__nav__shaft .fotorama__nav__frame:nth-child(2)').offset().top)
                                    + 20;
                                    jQuery(thambs).css("height", collapseHeight);

                                    jQuery(thambs).animate({'opacity' : '1', 'z-index' : 1}, 500);
                                    jQuery('.product.media .action-collapse').animate({'opacity' : '1', 'z-index' : 1}, 500);

                                    jQuery('.product.media .action-collapse').off().on('click', function () {
                                        jQuery(this).toggleClass('show');
                                        jQuery(thambs).toggleClass('is-open');
                                        if (jQuery(thambs).hasClass('is-open')) {
                                            jQuery(thambs).animate({
                                                height: mvHeight + 'px'
                                            }, 300);
                                        } else {
                                            jQuery(thambs).animate({
                                                height: collapseHeight + 'px'
                                            }, 300);
                                        }

                                    });
                                }
                            }, 1000);                        
                        } else {
                            jQuery('.gallery-placeholder .fotorama__nav-wrap').attr('style','');
                        }
                    }
                    moreViewCollapsing();
                    jQuery(window).resize(function() {
                        moreViewCollapsing();
                    });
                });
            <?php endif; ?> 
            if (jQuery(document.body).width() > 767) {
                $(this).on('fotorama:ready', function(){
                    setTimeout(function(){
                        var  api = $(this).data('gallery');
                        var offsetLeft = 0;
                        var mainOffset = $('#maincontent').offset().left;
                        <?php if ($moreViewsType == 'vertical_type_2'){ ?>
                            var galleryOffset = $('.product.media .more-views-vertical-slider .fotorama__stage__shaft').offset().left;
                            var galleryWidth = $('.product.media .more-views-vertical-slider .fotorama__stage__shaft').width();
                            var setGalleryWidth = galleryWidth + galleryOffset - mainOffset;
                            $('.product.media .more-views-vertical-slider .fotorama__stage__shaft').css({
                                'width': setGalleryWidth
                            });
                            $('.product.media .more-views-vertical-slider .fotorama__stage').css({
                                'width': setGalleryWidth,
                            });
                        <?php } ?>
                        <?php if ($moreViewsType == 'vertical_type_1' || $moreViewsType == 'vertical_type_2'){ ?>
                            setTimeout(function(){
                                var galleryImgHeight = $('.more-views-vertical-slider .fotorama__stage .fotorama__img').height();
								$('.product.media .more-views-vertical-slider .fotorama__stage').css({
                                    'height' : galleryImgHeight
                                });
                                <?php if ($moreViewsType == 'vertical_type_1'){ ?>
                                    var navHeight = galleryImgHeight;
                                <?php } else { ?>
                                    var navHeight = galleryImgHeight - $('.more-views-vertical-slider .fotorama__nav .fotorama__thumb__arr--left').height() - $('.more-views-vertical-slider .fotorama__nav .fotorama__thumb__arr--right').height() - 4;

                                <?php } ?>
                                var verticalThumbsHeight = $('.more-views-vertical-slider .fotorama__nav .fotorama__nav__shaft').height();
                                if (verticalThumbsHeight > galleryImgHeight) {
                                    $('.more-views-vertical-slider .fotorama__nav').css({
                                        'height' : navHeight
                                    });
                                }
                            }, 300);
                        <?php } ?>
                        <?php if ($moreViewsType == 'large'){ ?>
                            $('.product.media .gallery-placeholder .fotorama__nav--thumbs .fotorama__nav__frame').on('click', function(e) {
                                setTimeout(function(){
                                    api.fotorama.requestFullScreen();
                                }, 100);
                            })
                        <?php } ?>
                    }, 200);
                });
            }
        });
    });
</script>
