& when (@media-common = true) {
	.weltpixel-quickview-catalog-product-view,
	.weltpixel_quickview-catalog_product-view {
		.box-tocart .action.tocart {
			width: 100%;
		}
		.page-wrapper .page-main {
			padding: 20px;
			min-height: 600px;
		}
		.reviews-actions .add {
			display: none;
		}

		&.page-product-downloadable {
			.product-options-wrapper,
			.product-options-bottom {
				float: none;
				width: 100%;
			}
			.product-options-bottom {
				.price-box {
					display: none;
				}
			}
		}
	}

	.box-gotoproduct #product-gotoproduct-button {
		width: 100%;
		padding: 14px 17px;
		font-size: 1.8rem;
		text-align: center;
		border: 1px solid transparent;
	}

	.page-products .product-item .weltpixel-quickview {
		display: none
	}

	.weltpixel-quickview-catalog-product-view,
	.weltpixel_quickview-catalog_product-view {
		.page-wrapper {
			min-height: auto !important;
		}
		.column.main {
			display: inline-block;
			padding-bottom: 0;
		}
		&.catalog-product-view .page-title-wrapper {
			h1 {
				font-size: 22px !important;
			}
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

	.weltpixel-quickview-catalog-product-view,
	.weltpixel_quickview-catalog_product-view {
		&.catalog-product-view .breadcrumbs,
		&.catalog-product-view .columns,
		&.catalog-product-view .page.messages,
		&.catalog-product-view .page-title-wrapper {
			max-width: 100%;
			width: 100%;
			margin: 0 auto;
		}
	}

    .page-products .products-list {
        .product-item-info {
            .product-image-list {
                position: relative;
                .weltpixel-quickview.weltpixel_quickview_button_v1,
                .weltpixel-quickview.weltpixel_quickview_button_v2 {
                    display: none;
                }
            }

            &:hover {
                .weltpixel-quickview.weltpixel_quickview_button_v1 {
                    display: block;
                    position: absolute;
                    bottom: 30px;
                    z-index: 9;
                    width: calc(~"100% - 30px");
                    text-align: center;
                    color: #eeeeee;
                    background: rgba(0, 0, 0, 0.7);
                    font-size: 15px;
                    text-decoration: none;
                    span:before {
                        -webkit-font-smoothing: antialiased;
                        font-size: 15px;
                        line-height: 1;
                        color: #eeeeee;
                        content: '\e615';
                        font-family: 'luma-icons';
                        margin: 0;
                        vertical-align: top;
                        display: inline-block;
                        font-weight: normal;
                        overflow: hidden;
                        speak: none;
                        text-align: center;
                        position: relative;
                        top: 4px;
                        left: -5px
                    }
                }
                .weltpixel-quickview.weltpixel_quickview_button_v2 {
                    display: block;
                    z-index: 9;
                    position: absolute;
                    text-indent: -10000px;
                    width: 33px;
                    height: 35px;
                    background-image: url('../WeltPixel_Quickview/images/quickview.png');
                    background-repeat: no-repeat;
                    bottom: 30px;
                    right: 30px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.page-products .products-list .product-item{
		.weltpixel-quickview {
			font-size: 16px;
			padding: 15px 0;
			float: left;
		}
		.product-item-inner {
			clear: left;
		}
	}
	.page-products .products-grid .product-item {
		position: relative;
		.product-item-inner {
			margin: 9px -9px 0 -10px;
		}
		.product-item-details {
			position: relative;
		}
		.product-item-info {
			.weltpixel-quickview.weltpixel_quickview_button_v1 span {
				padding: 18px;
				display: block;
			}
			&:hover {
				.weltpixel-quickview.weltpixel_quickview_button_v1 {
					display: block;
					position: absolute;
					top: -66px;
					z-index: 9;
					width: 100%;
					text-align: center;
					color: #eeeeee;
					background: rgba(0, 0, 0, 0.7);
					font-size: 15px;
					text-decoration: none;
					span:before {
						-webkit-font-smoothing: antialiased;
						font-size: 15px;
						line-height: 1;
						color: #eeeeee;
						content: '\e615';
						font-family: 'luma-icons';
						margin: 0;
						vertical-align: top;
						display: inline-block;
						font-weight: normal;
						overflow: hidden;
						speak: none;
						text-align: center;
						position: relative;
						top: 4px;
						left: -5px
					}
				}
				.weltpixel-quickview.weltpixel_quickview_button_v2 {
					display: block;
					z-index: 9;
					position: absolute;
					text-indent: -10000px;
					width: 33px;
					height: 35px;
					background-image: url('../WeltPixel_Quickview/images/quickview.png');
					background-repeat: no-repeat;
					top: -46px;
					right: 5px;
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .page-products .products-list {
        .product-item-info {
            .product-image-list {
                .weltpixel-quickview.weltpixel_quickview_button_v1,
                .weltpixel-quickview.weltpixel_quickview_button_v2 {
                    display: none;
                }
            }
        }
    }
    .page-wrapper .products-list .product-item .product-item-info {
        .product-image-list {
            display: block;
            width: 100%;

            .product-item-photo {
                display: block;
                width: 100%;
            }
        }
    }
}
