/*Compare products table*/
.product-image-container {
  display: block;
}
.table-wrapper.comparison {
  clear: both;
  max-width: 100%;
  overflow-x: auto;
  #product-comparison {
    @media @mobile {
      width: auto;
      max-width: none;
    }
    thead {
      display: none;
    }
    tbody {
      border-top: 1px solid rgba(0,0,0,0.1);
      .cell {
        border-top-width: 1px;
        border-top-style: solid;
        border-color: rgba(0,0,0,0.1);
        width: 135px;
        &.table-label {
          border-left-width: 1px;
          border-left-style: solid;
          border-right-width: 1px;
          border-right-style: solid;
          &.product {
            span {
              display: block;
              position: static;
              height: auto;
              width: auto;
            }
          }
        }
        &:not(.table-label) {
          border-right-width: 1px;
          border-right-style: solid;
        }
        .attribute.value {
          div[class^="col-"] {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
        &.product {
          .product-reviews-summary {
            .rating-summary {
              .rating-result {
                i {
                  font-size: 20px;
                  width: 13px;
                  margin-right: 1px;
                }
              }
            }
          }
          .price-box  {
            .old-price {
              .price {
                color: rgba(0,0,0,0.6);
                text-decoration: line-through;
              }
            }
          }
          .product-item-actions {
            .actions-primary {
              display: block;
              float: left;
              margin-right: 10px;
              .action.tocart {
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                min-height: 30px;
                font-size: 18px;
                border: none;
                background-color: transparent;
                &:hover,
                &:active,
                &:focus {
                  background-color: transparent;
                  color: @color-primary;
                }
                i {
                  display: block;
                  font-size: inherit;
                  color: inherit;
                }
                span span {
                  display: none;
                }
              }
            }
            .actions-secondary {
              display: block;
              float: left;
              min-width: 80px;
              padding-left: 0;
              .action {
                display: block;
                float: left;
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                min-height: 30px;
                text-align: center;
                font-size: 18px;
                i {
                  display: block;
                  font-size: inherit;
                  color: inherit;
                  line-height: inherit;
                }
                &.towishlist {
                  &:before {
                    content: none;
                  }
                }
                &:hover,
                &:active,
                &:focus {
                  color: @color-primary;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
      tr {
        &:last-child {
          .cell {
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }
      }
    }
  }
}