/*Product Page*/
.catalog-product-view:not(.weltpixel-quickview-catalog-product-view):not(.weltpixel_quickview-catalog_product-view) {
  #maincontent {
    @media @sm-and-up {
      padding-top: 0 !important;
    }
  }
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
  right: -40px;
  color: rgba(255,255,255,0.4);
  background-color: transparent;
  font-size: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  border-radius: 0;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  &:hover {
    color: rgba(255,255,255,1);
  }
  &:before {
    content: '\e905';
    font-family: 'meigee';
    font-size: 22px;
    color: inherit;
  }
  @media @sm-and-down {
    right: 0;
    text-align: center;
    width: 40px;
    padding: 0;
  }
}
.catalog-product-view.weltpixel-quickview-catalog-product-view,
.catalog-product-view.weltpixel_quickview-catalog_product-view {
  .page-wrapper {
    #maincontent {
      padding: 60px;
      min-height: auto;
      @media @mobile {
        padding: 20px;
      }
      .page-title-wrapper {
        h1 {
          font-size: 30px !important;
          letter-spacing: -1.1px;
        }
      }
      .column.main {
        padding-top: 0;
      }
      .product.media {
        @media @sm-and-up {
          width: 50% !important;
        }
        .gallery-placeholder {
          margin-right: 10px;
          padding-right: 10px !important;
          &.no-slider .fotorama__nav--thumbs .fotorama__nav__frame {
            padding-left: 10px !important;
            padding-right: 10px !important;
          }
        }
        .action-collapse {
          display: none;
        }
      }
      .product-info-main {
        @media @sm-and-up {
          width: 50%;
          padding-left: 10px;
        }
        .product-info-price .price-box {
          padding-bottom: 3px;
        }
        .product-reviews-summary {
          margin-bottom: 0;
          &.empty {
            display: none;
          }
        }
        .block-link.size-chart {
          display: none;
        }
        .box-tocart {
          float: none;
          width: 100%;
          .action.tocart {
            margin: 0;
            background: #4caf50;
            font-family: @font-second;
            font-size: 14px;
            letter-spacing: 1.5px;
            font-weight: 500;
            color: #fff;
            &:hover {
              background: @color-title;
            }
          }
        }
        .box-gotoproduct {
          margin-top: 0;
          margin-bottom: 10px;
          margin-left: 0;
          float: none;
          width: 100%;
          #product-gotoproduct-button {
            line-height: 1.45;
            font-size: 14px;
            font-weight: 500;
            font-family: @font-second;
            letter-spacing: 1.5px;
            min-height: 40px;
            border-radius: 0;
            border-color: rgba(0,0,0,0.1);
          }
          @media @mobile {
            float: left;
          }
        }
        .product.attribute.overview {
          display: none;
        }
      }
    }
  }
}
.catalog-product-view {
  @media @mobile {
    .column.main {
      padding-bottom: 0;
    }
  }
}

.price-label {
  display: none !important;
}
.product-info-main {
  .page-layout-1column & {
    @media @sm-and-up {
      width: 50%;
    }
    @media @desktop {
      padding-right: 86px;
      padding-left: 63px;
    }
    @media @tablet-h {
      padding-left: 33px;
    }
  }
  .page-title-wrapper {
    h1 {
      font-size: 36px;
      margin-bottom: 4px;
      @media @mobile {
        font-size: 26px;
        margin-bottom: 14px;
      }
    }
  }
  .product-reviews-summary {
    display: block;
    float: none;
    width: 100%;
  }
  .rating-summary {
    margin-bottom: 0;
    margin-right: 16px;
    .rating-result {
      width: auto;
      display: block;
      &:before,
      & > span:before {
        content: none !important;
      }
      i {
        font-size: 19px;
        width: auto;
        margin-right: -1px;
      }
    }
  }
  .reviews-actions {
    font-size: 14px;
    margin-top: 0;
    a {
      color: rgba(0,0,0,0.6);
      font-family: @font-second;
      text-decoration: none;
      padding: 0;
      &:hover {
        color: @color-primary;
        background-color: transparent;
      }
      &:not(:last-child) {
        margin-right: 0;
      }
      & + a:last-child {
        margin-left: 15px;
        padding-left: 20px;
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          height: 20px;
          width: 1px;
          background-color: rgba(0,0,0,0.1);
          position: absolute;
          left: 0;
        }
      }
      &:last-child {
        margin-left: 0;
        padding-left: 0;
        &:before {
          content: none;
          display: none;
        }
      }
    }
  }
  .product-info-price {
    border: none;
    display: block;
    color: rgba(0,0,0,0.6);
    margin: 0;
    &:before,
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .price-box {
      display: block;
      width: 100%;
      @media @mobile {
        padding-left: 0;
        .special-price,
        .old-price {
          line-height: 1;
        }
      }
    }
  }
  .prices-tier {
    border: 1px solid rgba(0,0,0,0.1);
    border-left: 3px solid #edbd31;
    padding: 12px 25px;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    display: inline-block;
    margin-bottom: 25px;
    .item {
      margin-bottom: 4px;
      .price {
        color: rgba(0,0,0,0.8);
        font-weight: 400;
      }
      .benefit {
        color: rgba(0,0,0,0.8);
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .product-info-stock-sku {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 0;
	padding-top: 10px;
  }
  .table.grouped {
    .stock.unavailable {
      color: #f44336;
    }
    .price-box {
      .old-price .price-container .price {
        line-height: 24px;
      }
    }
    @media @mobile {
      &:not(.totals):not(.cart):not(.table-comparison) > tbody > tr td {
        display: block;
        width: 100%;
        margin: 0;
        & > *:not(.qty) {
          display: table-row;
          float: none;
          width: 100%;
          &.price-box {
            padding-top: 8px;
            float: left;
          }
        }
      }
    }
  }
  .product.attribute {
    &.sku {
      font-size: 13px;
      font-family: @font-second;
      color: rgba(0,0,0,0.8);
      .type {
        color: rgba(0,0,0,0.8);
		font-family: @font-main;
	    font-size: 14px;
		font-weight: 600;
        &:after {
          content: ':';
        }
      }
	  .value {
		font-family: @font-main;
		font-size: 16px;
	  }
    }
  }
  .product-add-form {
    padding-top: 0;
    .product-options-wrapper {
      position: relative;
      .swatch-opt {
        margin-bottom: 10px;
      }
      .swatch-attribute {
        padding: 10px 0 0;
        .swatch-attribute-label {
          display: table-cell;
          width: 1%;
          font-weight: 400;
          padding-right: 15px;
          line-height: 40px;
          &:after {
            content: ':';
            display: inline;
            font: inherit;
            color: inherit;
            line-height: inherit;
          }
        }
        .swatch-attribute-selected-option {
          display: none;
        }
        .swatch-attribute-options {
          display: table-cell;
          width: 99%;
          vertical-align: middle;
          margin: 0;
          .swatch-option {
            &.color,
            &.image {
              width: 20px !important;
              height: 20px !important;
              min-width: 20px;
              border: 1px solid rgba(0,0,0,0.3);
              outline: 1px solid rgba(0,0,0,0);
              transition: all 300ms ease;
              -moz-transition: all 300ms ease;
              -webkit-transition: all 300ms ease;
              -o-transition: all 300ms ease;
              padding: 0;
              margin: 0 10px 10px 0;
              &.selected,
              &:not(.disabled):hover {
                border-color: #fff;
                outline-color: rgba(0,0,0,8);
              }
            }
            &.text {
              border: solid 1px rgba(0,0,0,.1);
              display: block;
              font-size: 14px;
              font-weight: 400;
              color: rgba(0,0,0,0.8);
              font-family: @font-second;
              box-sizing: border-box;
              padding: 0 10px;
              margin: 0 10px 10px 0;
              min-height: 40px;
              min-width: 40px;
              line-height: 40px;
              text-align: center;
              background-color: transparent;
              transition: all .3s ease;
              -moz-transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -o-transition: all .3s ease;
              outline: none;
              &.selected,
              &:not(.disabled):hover {
                background-color: @color-default !important;
                color: #fff;
                border-color: @color-default;
                outline: none;
              }
              &.disabled {
                color: rgba(0,0,0,0.3);
                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
      .fieldset-product-options-inner {
        .legend {
          font-weight: 500;
        }
      }
      .field.date {
        select {
          &.mage-error {
            outline: 1px solid #f44336;
            & + .mage-error {
              display: none !important;
            }
          }
        }
      }
    }
  }
  .product-options-bottom .box-tocart {
    margin-top: 10px;
    margin-bottom: 20px;
      .quantity-wrapper {
            float: none;
        }
        .actions {
            float: none;
            .btn {
                padding: 10px 0;
            }
        }
  }
    .box-tocart {
        margin: 15px 0;
        .quantity-wrapper {
            float: left;
            div[class*="quantity"] {
                line-height: 41px;
            }
            input {
                height: 41px;
                line-height: 41px;
            }
        }
        .actions {
            float: right;
            .btn {
                margin-top: 0;
                padding: 10px 15px;
            }
        }
    }
  .quantity-wrapper {
    .field.qty {
      display: table-cell;
      vertical-align: middle;
      width: 1%;
      min-width: 120px;
      .label {
        display: none;
      }
      .control {
        background-color: rgba(0,0,0,0.04);
        float: left;
        display: table;
        div.quantity-decrease,
        div.quantity-increase {
          display: table-cell;
          vertical-align: middle;
          width: 40px;
          text-align: center;
          cursor: pointer;
          font-size: 21px;
          color: rgba(0,0,0,0.33);
          &:hover {
            background-color: rgba(0,0,0,0.1);
          }
        }
        input.qty {
          display: table-cell;
          vertical-align: middle;
          width: 40px;
          color: rgba(0,0,0,0.8);
          background-color: transparent;
          border: none;
          font-size: 18px;
          padding: 0 3px;
        }
      }
    }
    .widget.block {
      display: table-cell;
      vertical-align: middle;
      width: 99%;
      .free-shipping-info {
        padding-left: 30px;
      }
    }
  }
  .timer-box {
    float: left;
    border-bottom: 2px solid #f44336;
    margin-top: 15px;
    margin-bottom: 20px;
    & ~ .product-social-links {
      @media @desktop {
        .page-layout-1column &,
        .page-layout-2columns-left &,
        .page-layout-2columns-right & {
          float: right;
        }
      }
    }
    .time-title {
      font-size: 18px;
      color: #f44336;
      font-family: @font-main;
      font-weight: 600;
      letter-spacing: -1.1px;
      display: block;
      float: left;
      margin-right: 7px;
      margin-bottom: 0;
    }
    .flip-block {
      width: 32px;
      .flip-items {
        width: 32px;
        height: 22px;
        span.flip-wrapper {
          height: 11px;
        }
      }
      .flip-text {
        font-size: 24px;
      }
    }
  }
  .product.attribute.overview {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,0.6);
    margin-top: 0px;
    display: block;
    width: 100%;
    a {
      color: #222;
      cursor: pointer;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
      }
    }
    .block-title {
      font-size: 14px;
      color: rgba(0,0,0,0.8);
      font-weight: 600;
      font-family: @font-main;
      display: block;
      margin-bottom: 0px;
      letter-spacing: -0.2px;
    }
  }
}
.swatch-option {
  min-width: 20px;
}
.catalog-product-view {
  .free-shipping-info {
    font-size: 13px;
    font-family: @font-second;
    color: #f72525;
    display: block;
  }
}
.block-link.size-chart {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: underline;
  color: rgba(0,0,0,0.8);
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  &:hover {
    color: @color-primary;
  }
}
.size-chart-bottom {
  padding-bottom: 20px;
  .block-link.size-chart {
    bottom: 4px;
  }
}
.size-chart-top {
  padding-bottom: 20px;
  .block-link.size-chart {
    top: 7px;
  }
}
.product-info-main,
.product-add-form {
  .price-box {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 8px;
    .price-container {
      .price {
        font-family: @font-second;
        color: #4caf50;
        font-size: 24px;
        font-weight: 600;
      }
      .price-label {
        display: none;
      }
    }
    .special-price,
    .normal-price {
      display: block;
      float: left;
    }
    .old-price {
      display: block;
      float: left;
      margin-left: 10px;
      .price-container {
        .price {
          color: rgba(0,0,0,0.4);
          font-size: 18px;
          text-decoration: line-through;
        }
      }
    }
  }
  .product-social-links {
    float: left;
    margin-bottom: 0;
    clear: right;
    a.mailto.friend,
    a.action {
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: transparent;
      color: #000;
      display: block;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0;
      font-size: 24px;
      text-align: center;
      &:hover {
        background-color: rgba(0,0,0,0.06);
      }
      span {
        display: none;
      }
      &:before {
        display: block;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        width: auto;
        margin: 0;
      }
      &.mailto.friend {
        &:before {
          content: '\e90a';
          font-family: 'meigee';
          font-size: inherit;
          color: inherit;
          line-height: inherit;
          width: auto;
          margin: 0;
        }
      }
    }
    a.action {
      &.towishlist {
        &:before {
          content: '\e914';
          font-family: 'meigee';
          font-size: inherit;
          color: inherit;
          line-height: inherit;
        }
        &:hover {
          content: '\e915';
        }
      }
      &.tocompare {
        &:before {
          content: '\e907';
          font-family: 'meigee';
          font-size: inherit;
          color: inherit;
          line-height: inherit;
        }
      }
    }
    a.mailto.friend {
      margin-right: 0;
    }
    & + * {
      clear: left;
    }
  }
}

.box-tocart .actions,
.bundle-actions {
  .btn,
  button#bundle-slide {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0 !important;
    background-color: @btn-default-bg-color;
    border-color: @btn-default-border-color;
    color: #fff;
    margin-right: 0;
    line-height: 1.45;
    font-size: 14px;
  }
  .btn {
    &:hover,
    &:active,
    &:focus {
      background-color: @btn-default__hover-bg-color;
      border-color: @btn-default__hover-border-color;
      color: #fff;
    }
  }
  button#bundle-slide {
    margin-top: 10px;
    &:hover,
    &:active,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
      background-color: #f5f5f5;
      border-color: #f5f5f5;
    }
  }
  .free-shipping-info {
    display: none;
  }
}

.bundle-options-container {
  .bundle-options-wrapper {
    padding-top: 66px;
    width: 60%;
    @media @mobile {
      width: 100%;
    }
    #product-options-wrapper {
      width: 100%;
      position: relative;
    }
    .legend.title {
      font-size: 24px;
      font-weight: 600;
      font-family: 'Barlow';
      letter-spacing: -0.6px;
      color: rgba(0, 0, 0, 0.8);
    }
    .action.back {
      color: @color-primary;
      text-decoration: underline;
      padding: 3px 5px;
      text-transform: none;
      margin-bottom: 15px;
      line-height: normal;
      min-height: 1px;
      &:hover,
      &:active,
      &:focus {
        background-color: @color-primary;
        color: #fff;
        text-decoration: none;
      }
    }
    .field {
      .control {
        width: 80%;
        display: table;
        @media @mobile {
          width: 100%;
        }
        .bundle.option {
          display: table-cell;
          width: 99%;
          vertical-align: middle;
          margin-right: 10px;
        }
        .nested {
          display: table-cell;
          width: 1%;
          vertical-align: middle;
          min-width: 54px;
          padding-left: 10px;
          .field.qty {
            margin-top: 0;
            .label {
              display: none;
            }
            .control {
              width: auto;
              input {
                width: 40px;
                height: 40px;
                line-height: 38px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .product-options-bottom {
      border: none;
    }
  }
  .block-bundle-summary {
    .bundle-summary .subtitle,
    & > .title {
      margin-bottom: 0;
      border: none;
      strong {
        font-size: 24px;
        font-weight: 600;
        font-family: 'Barlow';
        letter-spacing: -0.6px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
    .quantity-wrapper {
      .field.qty {
        display: block;
        width: 100%;
        min-width: 120px;
        .label {
          display: none;
        }
        .control {
          background-color: rgba(0,0,0,0.04);
          float: left;
          display: table;
          div.quantity-decrease,
          div.quantity-increase {
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            text-align: center;
            cursor: pointer;
            font-size: 21px;
            color: rgba(0,0,0,0.33);
            &:hover {
              background-color: rgba(0,0,0,0.1);
            }
          }
          input.qty {
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            color: rgba(0,0,0,0.8);
            background-color: transparent;
            border: none;
            font-size: 18px;
            padding: 0 3px;
          }
        }
      }
    }
    .price-box {
      .price-wrapper {
        & > .price {
          font-family: 'Work Sans';
          color: #4caf50;
          font-size: 33px;
          font-weight: 600;
        }
      }

    }
    .bundle-summary {
      .bundle.items {
        .label {
          color: rgba(0,0,0,0.8);
          font-weight: 500;
          display: block;
        }
        div {
          display: block;
        }
      }
    }
  }

}
.page-product-downloadable {
  .product-options-wrapper {
    .size-chart {
      display: none;
    }
  }
  .product-options-bottom {
    position: relative;
    .block-link.size-chart {
      display: none;
    }
    .price-box {
      display: none;
    }
  }
  .product-options-bottom,
  .product-options-wrapper {
    float: none;
    width: 100%;
  }

}

/*Tabs*/
.product.info.detailed {
  padding-top: 0px;
  @media @mobile {
    padding-top: 30px;
  }
  .product.data.items {
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    padding-top: 8px;
    border-bottom: none;
    & > .item.title {
      float: none;
      display: inline-block;
      vertical-align: middle;
      a.switch {
        background-color: transparent;
        color: rgba(0,0,0,0.4);
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        font-family: @font-main;
        border: none;
        padding: 19px 30px;
        height: 60px;
        .counter {
          color: inherit;
        }
        @media @mobile {
          text-align: left;
          padding: 10px;
          height: auto;
        }
        @media @sm-only {
          padding: 10px;
        }
        &:after {
          top: 50%;
          margin-top: -11px;
        }
      }
      &.active {
        a.switch {
          background-color: transparent;
          color: rgba(0,0,0,0.8);
        }
      }
    }
    & > .item.content {
      text-align: left;
      border: none;
      color: rgba(0,0,0,0.5);
      font-family: @font-second;
      background-color: transparent;
      font-size: 16px;
      line-height: 30px;
      padding-top: 47px;
      padding-left: 10px;
      padding-right: 10px;
      @media @desktop {
        padding-left: 0;
        padding-right: 0;
      }
      @media @mobile {
        padding-top: 20px;
      }
    }
    .additional-attributes-wrapper {
      .table {
        tbody {
          border: 1px solid #ddd;
          @media @mobile {
            border: none;
          }
          tr {
            &:nth-child(2n) {
              background-color: #f5f5f5;
              @media @mobile {
                background-color: transparent;
              }
            }
            th {
              padding-left: 15px;
              font-weight: 600;
              color: rgba(0,0,0,0.8);
              padding-top: 7px;
              padding-bottom: 7px;
            }
            td {
              padding-right: 15px;
              padding-top: 7px;
              padding-bottom: 7px;
              font-weight: 400;
              color: rgba(0,0,0,0.5);
            }
          }
        }
      }
    }
  }
}

.product-top-banner {
  &.fullwidth-block {
    .fullwidth-inner {
      .wide-layout & {
        padding: 15px 0;
        background-color: #edbd31;
        background-image: url('../images/coccinelle_berry_product_fullwidth_banner_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .boxed-layout & {
        .container {
          background-color: #edbd31;
          background-image: url('../images/coccinelle_berry_product_fullwidth_banner_bg.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
  .title {
    color: @color-white;
    font-size: 20px;
    line-height: 30px;
    margin-right: 30px;
    margin-bottom: 0;
    padding-right: 48px;
    padding-left: 20px;
    border-right: 1px solid @color-white;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: @font-main;
    @media @tablet-v {
      margin-right: 15px;
      padding-right: 15px;
      padding-left: 0;
      font-size: 17px;
    }
    @media @mobile {
      margin-right: 0;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-right: none;
      border-bottom: 1px solid @color-white;
    }
  }
  .text {
    font-family: @font-second;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    color: @color-white;
  }

}

/*Reviews ===========================================================================*/
#product-review-container {
  width: 66%;
  float: left;
  box-sizing: border-box;
  margin-top: 95px;
  @media @sm-and-down {
    width: 100% !important;
    margin-top: 0;
  }
  .block-title {
    font-size: 24px;
    font-weight: 600;
    color: @color-title;
    font-family: @font-main;
    letter-spacing: -1px;
    strong {
      font-weight: inherit;
    }
    @media @md-and-up {
      .icon-more {
        display: none;
      }
    }
  }
  .review-list {
    @media @tablet-v {
      margin-bottom: 0;
    }
    .block-title {
      strong {
        font: inherit;
        color: inherit;
      }
    }
  }
  .review-items {
    list-style: none;
    .review-item {
      text-align: center;
      position: relative;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      padding-top: 30px;
      border: none;
      .review-box-inner {
        @media @sm-and-down {
          height: auto !important;
        }
      }
      .top-block {
        padding-top: 22px;
        margin-bottom: 0;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,0.1);
        border-width: 1px 1px 0 1px;
        .customer-rating {
          padding: 0 20px 12px;
          .review-ratings {
            display: block;
            width: 100%;
            float: none;
            max-width: 100%;
            .rating-summary {
              display: block;
              margin: 0 0 10px;
              .rating-result {
                i {
                  font-style: normal;
                  font-size: 25px;
                  display: inline-block;
                  width: 18px;
                  margin-right: 2px;
                }
              }
              .label {
                display: block;
                font-size: 11px;
                color: rgba(0,0,0,0.3);
                padding: 0;
                line-height: normal;
              }
            }
          }
        }
        .review-title {
          font-weight: 500;
          font-size: 14px;
          font-family: @font-second;
          color: rgba(0,0,0,0.8);
          margin-bottom: 0;
          display: block;
        }
      }
      .review-box {
        font-size: 13px;
        line-height: 24px;
        padding: 0 26px 28px;
        position: relative;
        z-index: 1;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,0.1);
        border-width: 0 1px 1px 1px;
        color: rgba(0,0,0,0.5);
        font-family: @font-second;
        .read-more-link {
          color: rgba(0,0,0,0.8);
          cursor: pointer;
          &:hover {
            color: @color-primary;
          }
        }
        .review-content {
          padding-top: 10px;
          margin-bottom: 17px;
        }
        .review-author {
          color: rgba(0,0,0,0.8);
        }
        .date {
          color: rgba(0,0,0,0.3);
        }
      }
    }
  }
  .review-toolbar {
    border: none;
  }
  & + .block.review-add {
    width: 32.4%;
    float: right;
    box-sizing: border-box;
    @media @sm-and-down {
      width: 100% !important;
    }
  }
  &.is-empty  {
    display: none;
    & + .block.review-add {
      width: 80%;
      float: left;
    }
  }
}
.block.review-add {
  margin-top: 0;
  padding-bottom: 30px;
  @media @sm-and-down {
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
  .block-title {
    font-size: 24px;
    font-weight: 600;
    color: @color-title;
    font-family: @font-main;
    letter-spacing: -1px;
    display: block;
    margin-bottom: 30px;
    @media @sm-and-down {
      font-size: 18px;
      letter-spacing: unset;
    }
    strong {
      font-weight: inherit;
    }
    @media @md-and-up {
      .icon-more {
        display: none;
      }
    }
  }
  #review-form {
    .review-legend {
      font-size: 14px;
      line-height: 30px;
      font-family: @font-second;
      margin-bottom: 15px;
      display: none;
      strong {
        display: inline;
        color: rgba(0,0,0,0.8);
        margin-left: 8px;
      }
    }
    .review-field-ratings {
      margin-bottom: 3px;
      legend.label {
        display: none;
      }
      #product-review-table {
        .review-field-rating {
          margin-bottom: 20px;
          .label {
            font-weight: 500;
            color: rgba(0,0,0,0.8);
            margin-right: 15px;
            line-height: 30px;
            display: inline-block;
            vertical-align: middle;
            min-width: 50px;
          }
          .review-control-vote {
            min-height: 30px;
            min-width: 160px;
            display: inline-block;
            margin: 0 10px 0 0;
            vertical-align: middle;
            &:before {
              content: '\e912' '\e912' '\e912' '\e912' '\e912';
              font-family: 'meigee';
              font-size: 24px;
              height: 24px;
              letter-spacing: 10px;
              line-height: 24px;
              color: rgba(0,0,0,0.2);
            }
            label {
              &:before {
                font-size: 24px;
                height: 24px;
                letter-spacing: 10px;
                line-height: 24px;
                color: rgba(0,0,0,0.8);
              }
            }
            .rating-1 {
              z-index: 6;
              &:before {
                content: '\e912';
                font-family: 'meigee';
              }
            }
            .rating-2 {
              z-index: 5;
              &:before {
                content: '\e912' '\e912';
                font-family: 'meigee';
              }
            }
            .rating-3 {
              z-index: 4;
              &:before {
                content: '\e912' '\e912' '\e912';
                font-family: 'meigee';
              }
            }
            .rating-4 {
              z-index: 3;
              &:before {
                content: '\e912' '\e912' '\e912' '\e912';
                font-family: 'meigee';
              }
            }
            .rating-5 {
              z-index: 2;
              &:before {
                content: '\e912' '\e912' '\e912' '\e912' '\e912';
                font-family: 'meigee';
              }
            }
          }
          .rating-values {
            display: inline-block;
            vertical-align: top;
            color: rgba(0,0,0,0.8);
            font-size: 13px;
            margin-left: 5px;
            line-height: 28px;
          }
        }
      }
      & + .mage-error {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
    input.form-control {
      margin-bottom: 10px;
      padding-left: 15px;
      height: 40px;
      line-height: 38px;
      font-size: 14px;
      &.mage-error {
        & + .mage-error {
          display: none !important;
        }
      }
    }
    textarea {
      padding-left: 15px;
      font-size: 14px;
      height: 180px;
      &.mage-error {
        & + .mage-error {
          display: none !important;
        }
      }
    }
    .review-fieldset {
      margin-bottom: 10px;
    }
  }
}

/*Related ===========================================================================*/
.block {
  &.related,
  &.upsell {
    position: relative;
    padding-top: 93px;
    margin-bottom: 0;
    padding-bottom: 30px;
    @media @sm-and-down {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .image-wrapper {
      .product-image-container {
        display: block;
      }
    }
    body:not(.wide-layout) &,
    body:not(.page-layout-1column) & {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 43px;
      @media @mobile {
        padding-left: 0;
        padding-right: 0;
      }
      .product-items {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &:before {
      content: none;
      background-color: rgba(0,0,0,0.04);
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      .wide-layout.page-layout-1column & {
        left: -100%;
        right: -100%;
      }
      @media @sm-and-down {
        content: none !important;
      }
    }
    .block-title {
      font-size: 24px;
      font-weight: 600;
      font-family: @font-main;
      letter-spacing: -0.6px;
      color: @color-title;
      text-align: center;
      strong {
        font: inherit;
      }
      @media @md-and-up {
        .icon-more {
          display: none;
        }
      }
    }
    .block-content {
      .block-actions {
        text-align: center;
        .action.select {
          color: rgba(0,0,0,0.8);
          cursor: pointer;
          &:hover {
            color: @color-primary;
          }
        }
      }
      .products-related {
        margin-bottom: 0;
      }
      @media @sm-and-down {
        .products {
          margin: 0;
          li.item {
            padding-bottom: 5px;
          }
        }
      }
    }    
  }
  &.related + &.upsell {
    padding-top: 30px;
    @media @sm-and-down {
      padding-top: 0;
    }
  }
  &.related {
    .related-available {
      .product-item-name {
        margin-left: 0;
      }
      .price-box {
        padding-left: 0px;
      }
      .field.choice {
        top: 6px;
      }
    }
    .block-title.title.accordion-title,
    #block-related-heading{
        display: none;
    }
    .block-content.content.accordion-content{
        display: block;
    }
  }
}


/* More views ===========================================================================*/
.product.media {
  .page-layout-1column & {
    @media @sm-and-up {
      width: 50%;
    }
    @media @desktop {
      padding-right: 18px;
    }
    @media @tablet-h {
      padding-right: 10px;
    }
  }
  .action-skip-wrapper {
    display: none;
  }
  .fotorama__nav-wrap--horizontal {
    padding-top: 20px;
    @media @mobile {
      padding-top: 10px;
    }
  }
  .gallery-placeholder {
    padding-right: 45px;
    margin-right: 0;
    @media @tablet-h {
      padding-right: 15px;
    }
    @media @mobile {
      padding-right: 0 !important;
    }
  }
  .fotorama__stage.fotorama__shadows--top:before,
  .fotorama__nav.fotorama__shadows--top:before,
  .fotorama__stage.fotorama__shadows--bottom:after,
  .fotorama__nav.fotorama__shadows--bottom:after {
    background-image: none;
  }
}
body {
  .fotorama__dot {
    background-color: rgba(0, 0, 0, 0.22);
    border: none;
    height: 6px;
    width: 6px;
  }
  .fotorama__active {
    .fotorama__dot {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .fotorama__nav--dots {
    .fotorama__nav__frame {
      width: 20px;
    }
  }
}

/* New more views */
.product.media {
  overflow: visible;
  .fotorama__nav--thumbs {
    .fotorama__nav__frame {
      padding: 0 20px 0 0!important;
    }
  }
  .fotorama__thumb-border {
    display: none !important;
  }
  .fotorama__stage,
  .fotorama__nav {
    .fotorama__shadows--left:before,
    .fotorama__shadows--right:after,
    .fotorama__shadows--top:before,
    .fotorama__shadows--bottom:after {
      content: none !important;
    }
  }
  .fotorama__thumb__arr {
    background-color: transparent;
  }
}

/* No Slider */
.product.media {
  .gallery-placeholder.no-slider {
    .fotorama__nav-wrap--horizontal {
      .fotorama__thumb__arr {
        display: none !important;
      }
    }
    .fotorama__nav--thumbs {
      height: auto !important;
      width: 100% !important;
      .fotorama__nav__frame {
        float: left;
        padding: 0 10px !important;
        box-sizing: border-box;
        margin-top: 20px;
        width: 25% !important;
        height: auto;
        &:nth-of-type(-n+5) {
          margin-top: 0;
        }
        &:nth-of-type(6) {
          margin-top: 20px;
        }
        @media @tablet-v {
          padding-left: 5px !important;
          padding-right: 5px !important;
        }
      }
      .fotorama_vertical_ratio {
        .fotorama__img {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          height: auto;
          position: relative;
          top: 0;
        }
      }
    }
    .fotorama__nav__shaft {
      display: block;
      width: calc(~"100% + 20px");
      margin-left: -10px;
      margin-right: -10px;
      @media @tablet-h {
        width: 102.1%;
      }
      @media @tablet-v {
        margin-left: -5px;
        margin-right: -5px;
      }
      @media @mobile {
        width: auto;
        display: inline-block;
      }
    }
    .fotorama__stage,
    .fotorama__nav {
      &.fotorama__shadows--right {
        &:after {
          content: none;
        }
      }
      &.fotorama__shadows--left {
        &:before {
          content: none;
        }
      }
    }
  }
  .fotorama__thumb--icon {
    background-image: none;
    &:before {
      display: inline-block;
      font-family: 'meigee';
      font-size: 14px;
      color: rgba(0,0,0,0.3);
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\1f310';
      transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -webkit-transition: all 300ms ease;
      -o-transition: all 300ms ease;
    }
    &:hover:before {
      color: rgba(0,0,0,0.8);
    }
  }
  .fotorama__thumb__arr--right {
    .fotorama__thumb--icon {
      &:before {
        content: '\e903';
      }
    }
  }
  .fotorama__nav-wrap--horizontal {
    .fotorama__thumb__arr--left,
    .fotorama__thumb__arr--right {
      .fotorama__thumb--icon {
        padding: 0;
        text-align: center;
      }
    }
  }
  .gallery-placeholder {
    &.collapsed {
      .fotorama__nav-wrap {
        overflow: hidden;
        position: relative;
        opacity: 0;
        @media @mobile {
          opacity: 1;
        }
        &:after {
          content: '';
          display: block;
          z-index: 998;
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 1;
          background: rgba(255,255,255,0);
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) calc(100%));
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(calc(100%), rgba(255,255,255,1)));
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) calc(100%));
          background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) calc(100%));
          background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) calc(100%));
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) calc(100%));
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
          -webkit-transition: opacity 300ms;
          -moz-transition: opacity 300ms;
          -ms-transition: opacity 300ms;
          -o-transition: opacity 300ms;
          transition: opacity 300ms;
          pointer-events: none;
        }
        &.is-open {
          &:after {
            opacity: 0;
          }
        }
      }
    }
  }
  .action-collapse {
    display: block;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    margin-top: 15px;
    opacity: 0;
    &.show {
      .open {
        display: none;
      }
      .close {
        display: inline-block;
      }
    }
    i {
      display: inline-block;
      font-size: 11px;
      line-height: 1;
      vertical-align: middle;
      margin-left: 6px;
    }
    .close {
      display: none;
    }
  }
}

/* Horizontal Slider */
.more-views-horizontal-slider {
  .fotorama__nav--thumbs {
    overflow: visible;
  }
  .fotorama__arr--disabled {
    & + .fotorama__nav__shaft {
      left: 50px;
      transition: all 300ms ease-in !important;
      -moz-transition: all 300ms ease-in !important;
      -webkit-transition: all 300ms ease-in !important;
      -o-transition: all 300ms ease-in !important;
    }
  }
  .fotorama__nav__shaft {
    left: -40px;
    transition: all 300ms ease-in !important;
    -moz-transition: all 300ms ease-in !important;
    -webkit-transition: all 300ms ease-in !important;
    -o-transition: all 300ms ease-in !important;
  }
}
body {
  .fotorama__arr--disabled {
    opacity: 1;
    div {
      opacity: 0;
    }
  }
}
.product.media {
  .fotorama__nav-wrap--horizontal {
    .fotorama__thumb__arr--left {
      left: 0;
    }
    .fotorama__thumb__arr--right {
      right: 0;
    }
    .fotorama__thumb__arr--left,
    .fotorama__thumb__arr--right {
      width: 40px;
      background-color: #fff;
    }
  }
}


/* Vertical Slider */
.more-views-vertical-slider {
  .fotorama__nav--thumbs {
    width: 110px !important;
    @media @tablet-v {
      width: 100px !important;
    }
  }
  .fotorama__arr {
    display: none !important;
  }
}
.product.media {
  .more-views-vertical-slider {
    .fotorama__nav--thumbs {
      .fotorama__nav__frame {
        padding: 0 !important;
        margin: 0 0 20px 0;
      }
    }
    .fotorama__thumb--icon {
      padding-bottom: 0;
      &:before {
        font-size: 24px;
      }
    }
    .fotorama__arr--disabled + .fotorama__nav__shaft {
      top: 0;
      transition: all 150ms linear !important;
      -moz-transition: all 150ms linear !important;
      -webkit-transition: all 150ms linear !important;
      -o-transition: all 150ms linear !important;
      @media @mobile {
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
      }
    }
    .fotorama__nav__shaft {
      top: -73px;
      transition: all 150ms linear !important;
      -moz-transition: all 150ms linear !important;
      -webkit-transition: all 150ms linear !important;
      -o-transition: all 150ms linear !important;
    }
    .fotorama__nav__shaft:not(.fotorama__grab) {
      top: 0;
    }
  }
  .fotorama__caption__wrap {
    display: none;
  }
  .fotorama__nav-wrap--vertical {
    .fotorama__thumb__arr--left,
    .fotorama__thumb__arr--right {
      background-color: #fff;
      height: 40px;
      width: 100%;
      /* -webkit-transition: background-color 0ms ease-in-out;
      -moz-transition: background-color 0ms ease-in-out;
      -ms-transition: background-color 0ms ease-in-out;
      -o-transition: background-color 0ms ease-in-out;
      transition: background-color 0ms ease-in-out; */
      &.fotorama__arr--disabled {
        background-color: transparent;
      }
    }
    .fotorama__thumb__arr--left {
      .fotorama__thumb--icon {
        position: relative;
        top: 8px;
        right: 8px;
        @media @tablet-v {
          right: 0;
        }
      }
    }
    .fotorama__thumb__arr--right {
      .fotorama__thumb--icon {
        top: 13px;
        right: 8px;
        position: relative;
        @media @tablet-v {
          right: 0;
        }
      }
    }
  }
}

/* Vertical Slider Type1 and Type2 */
.product.media {
  .more-views-vertical-slider {
    &.type-1 {
      .fotorama__nav {
        background-color: #fff;
      }
      .fotorama__stage {
        left: 110px !important;
        @media @tablet-v {
          left: 90px !important;
        }
      }
      .fotorama__wrap {
        .fotorama__stage {
          @media @mobile {
            left: 0 !important;
          }
        }
      }
    }
    &.type-2 {
      @media @desktop {
        body.boxed-layout & {
          margin-left: -81px;
          margin-right: -15px !important;
          .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
            left: 81px;
          }
        }
        body.boxed-layout.page-layout-3columns &,
        body.boxed-layout.page-layout-2columns-left & {
          margin-left: 0;
          .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
            left: 20px;
          }
        }
      }
      .fotorama__stage {
        left: 0 !important;
        max-width: calc(100%) !important;
        img {
          // width: 100%;
        }
      }
      .fotorama__stage__shaft {
        max-width: calc(100%) !important;
      }
      &.gallery-placeholder {
        margin-right: 0 !important;
        .fotorama__nav-wrap--vertical {
          .fotorama__nav__shaft {
            background-color: transparent;
          }
        }
      }
      .fotorama__nav-wrap--vertical {
        &.fotorama__nav-wrap {
          left: 40px;
          top: 40px;
          overflow: hidden;
          @media @tablet-v {
            left: 20px;
            top: 20px;
          }
        }
        .fotorama__thumb__arr--left,
        .fotorama__thumb__arr--right {
          background-color: transparent;
          width: 100%;
          @media @tablet-v {
            width: 100%;
            height: 20px;
          }
        }
        .fotorama__thumb__arr--left {
          top: 0;
          .fotorama__thumb--icon {
            @media @tablet-v {
              top: 0;
            }
          }
        }
        .fotorama__thumb__arr--right {
          bottom: 0;
          .fotorama__thumb--icon {
            @media @tablet-v {
              top: 0;
            }
          }
        }
      }
      .fotorama__nav--thumbs {
        .fotorama__thumb {
          border: 2px solid #fff !important;
        }
        &.fotorama__nav {
          overflow: visible;
        }
        @media @tablet-v {
          width: 54px !important;
        }
        .fotorama__nav__frame {
          @media @tablet-v {
            width: 50px !important;
            margin-bottom: 12px;
          }
        }
      }
    }
    @media @tablet-v {
      .fotorama__nav--thumbs {
        width: 70px !important;
        height: 100%;
      }
      .fotorama__nav--thumbs {
        .fotorama__img {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          height: auto;
          top: 0;
          width: 100%;
          position: relative;
        }
        .fotorama__nav__frame {
          width: 70px !important;
          height: 100%;
        }
      }
      &.type-1 {
        .fotorama__stage {
          @media @tablet-v {
            left: 90px !important;
          }
        }
      }
    }
  }
}
.page-layout-2columns-left .product.media .more-views-vertical-slider.type-2 .fotorama__nav-wrap--vertical.fotorama__nav-wrap,
.page-layout-2columns-right .product.media .more-views-vertical-slider.type-2 .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
  top: 20px;
  left: 30px;
  @media @tablet-v {
    top: 15px;
    left: 15px;
  }

}

/* Large more views */
.more-views-large:not(.single-image) {
  .fotorama__stage {
    display: none;
  }
}
.product.media {
  .gallery-placeholder.more-views-large {
    .fotorama__dot {
      @media @tablet-v {
        display: none;
      }
    }
    .fotorama__nav-wrap--horizontal {
      padding-top: 0;
      @media @mobile {
        padding-top: 10px;
      }
      .fotorama__thumb__arr {
        display: none !important;
      }
    }
    .fotorama__nav--thumbs {
      height: auto !important;
      width: 100% !important;
      .fotorama__nav__frame {
        float: left;
        padding-right: 19px !important;
        margin-top: 10px;
        width: 50% !important;
        display: block;
        padding: 0 10px !important;
        box-sizing: border-box;
        margin-top: 20px;
        @media @tablet-v {
          height: auto;
          width: 100%;
        }
      }
      .fotorama__nav__shaft {
        .fotorama__nav__frame:not(.fotorama__thumb-border) {
          &:nth-child(-n+3) {
            margin-top: 0;
          }
          &:nth-child(1n) {
            clear: right;
          }
          &:nth-child(2n) {
            clear: left;
          }
          &:nth-child(2) {
            clear: left;
          }
          &:nth-child(3) {
            clear: right;
          }
        }
      }
    }
    .fotorama__nav__shaft {
      display: block;
      width: 100%;
      margin-left: -10px;
      margin-right: -10px;
      overflow: hidden;
      @media @mobile {
        width: auto;
        display: inline-block;
      }
    }
    .fotorama__nav-wrap {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      position: relative;
      top: 0;
      .fotorama__nav__frame {
        height: auto !important;
        @media @mobile {
          height: 30px !important;
        }
      }
      .fotorama__thumb {
        height: auto;
      }
      .fotorama__img {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        position: relative;
        top: 0;
      }
    }
    .fotorama__img {
      @media @tablet-v {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        height: auto;
        top: 0;
        width: 100%;
        position: relative;
      }
    }
    .fotorama__stage {
      @media @mobile {
        display: block !important;
      }
    }
  }
}

.page-layout-3columns {
  .product.media {
    .gallery-placeholder {
      margin-right: 0;
    }
  }
}

.gallery-placeholder {
  .fotorama__nav.fotorama__nav--dots {
    .fotorama__nav__shaft {
      @media @mobile {
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
      }
    }
  }
}
.modal-popup .modal-header {
  padding-top: 2rem;
}
.modal-slide .action-close {
  padding: 10px;
}
.modal-popup._inner-scroll .modal-inner-wrap {
  width: fit-content;
  width: -moz-fit-content;
  @media @mobile {
    &[class] {
      background-color: #fff;
      min-height: 1px;
      margin: 0 auto;
    }
  }
}
.modal-popup.modal-slide {
  @media @mobile {
    left: 10px;
    right: 10px;
    top: 10px;
    .modal-content {
      padding: 10px;
    }
  }
}
/*Modal Popup Confirmation*/
.modal-popup--lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  &.modal-slide {
    @media (max-width: 767px) {
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
      width: 100%;
      height: calc(~'100vh + 0px');
    }
    &._inner-scroll {
      .modal-inner-wrap {
        box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
        @media (max-width: 767px) {
          max-width: calc(~'100vw - 20px');
          height: auto;
          min-height: unset;
          max-height: calc(~'100vh - 20px');
          background: #fff;
        }
      }
    }
  }
  .modal-inner-wrap {
    position: static;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 90%;
    height: auto;
    min-height: unset;
    max-height: 90%;
    margin: 0 auto;
    background: #fff;
    @media (max-width: 767px) {
      max-width: calc(~'100vw - 20px');
      max-height: calc(~'100vh - 20px');
    }
  }
}

.modal-popup {
  .table_size {
    @media @md-and-up {
      min-width: 560px;
    }
    td {
      border: 1px solid #fff;
      padding: 5px;
      font-size: 11px;
      line-height: 16px;
      background: #f2f2f0;
      text-align: center;
      vertical-align: middle;
      &:nth-child(1) {
        vertical-align: middle;
        background-color: #ebebe8;
        font-weight: 700;
      }
    }
  }
}

.fb_iframe_widget_fluid {
  display: inline-block !important;
}

body.catalog-product-view #main-content {

}