._error {
  .order-comment-input {
    outline: none;
    border: 2px solid @checkout-field-validation__border-color;
    &:focus {
      outline: none;
      border: 2px solid @checkout-field-validation__border-color;
      box-shadow: 0 0 3px @checkout-field-validation__border-color;
    }
  }
}

.checkout-payment-method {
  .payment-option._collapsible.comment {
    .payment-option-content {
      display: block;
    }
  }
}

.checkout-index-index {
  .opc-wrapper.am-opc-wrapper {
    .payment-option-content {
      padding: 0;
      margin-top: 1em;
    }
  }
  .opc-wrapper {
    .form-discount {
      max-width: none;
    } 
  }
}