<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Product\View\Other $block */
?>

<?php $_product = $block->getProduct(); ?>
<div class="actions">
    <a href="<?php echo $block->escapeUrl($_product->getProductUrl()) ?>" class="action back"><span><?php echo $block->escapeHtml(__('Back to Main Product Info')) ?></span></a>
</div>
