@import "_product_hovers.less";

.add-to-links a.action,
.lightbox-button {
  width: auto;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  background-color: transparent;
  color: #000;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 24px;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    background-color: @hover-bg-color;
    color: #000;
    text-decoration: none;
  }

  i,
  &.towishlist:before {
    display: block;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    width: auto;
    margin: 0;
  }
}

/* Large first product image grid */
.block {
  &.widget {
    .widget-product-grid-large {
      margin-left: -10px;
      margin-right: -10px;
      .product-items {
        float: left;
        width: 50%;
        &.large-product {
          padding-left: 10px;
          padding-right: 10px;
          @media @mobile {
            margin-bottom: 20px;
          }
          .product-action-wrapper {
            .btn {
              @media @mobile {
                margin-right: 10px;
              }
            }
          }
        }
        @media @mobile {
          width: 100%;
        }
      }
      .mobile-action-buttons {
        .product-action-wrapper {
          @media @tablet-v {
            width: 100%;
          }
        }
      }
    }
  }
}
.product-item  {
  .price-box {
    .price-label {
      display: none;
    }
  }
}

.weltpixel-quickview {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  span {
    line-height: inherit;
    vertical-align: middle;
  }
}
.product-item {
  .action.tocompare:before {
    content: '\e907';
    font-family: 'meigee';
  }
}

.products-grid,
.products-list {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  font-family: @font-main;
  z-index: 3;
  &.hover-scale {
    .image-wrapper.hover-image {
      img.product-image-photo {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: relative;
        display: block;
        z-index: 1;
      }
      &:hover {
        img.product-image-photo {
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -o-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.5);
          opacity: 0;
          z-index: 2;
        }
      }
    }
  }
  .product-item-info {
    &.sold-out {
      @media @sm-and-up {
        .image-wrapper {
          .product-action-wrapper {
            padding-top: 0;
          }
          .weltpixel-quickview {
            display: none;
          }
        }
      }
      .product-image-wrapper {
        opacity: 0.3;
      }
      .product-item-name {
        & > a {
          color: rgba(0,0,0,0.3);
        }
      }
      .price-box {
        .price-container {
          .price {
            color: rgba(0,0,0,0.3);
          }
        }
        .special-price,
        .old-price {
          .price-container {
            .price {
              color: rgba(0,0,0,0.3);
              text-decoration: line-through;
            }
          }
        }
      }
    }
    .btn {
      min-height: 50px;
      line-height: 28px;
      @media @md-and-up {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    .image-wrapper {
      position: relative;
      overflow: visible;
      margin-bottom: 15px;
      .hover-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        -webkit-transition: opacity 300ms ease;
        -moz-transition: opacity 300ms ease;
        transition: opacity 300ms ease;
        object-fit: cover;
        object-position: center;
      }
      &:hover {
        .hover-image {
          opacity: 1;
          z-index: 1;
        }
      }
      .btn {
        i {
          display: none;
        }
      }
      .add-to-links {
        position: absolute;
        top: 6px;
        right: 5px;
        margin: 0;
        padding: 0;
        z-index: 1;
        a.action.towishlist {
          margin: 0;
          color: rgba(0,0,0,0.5);
          font-size: 24px;
          text-decoration: none;
          &:hover,
          &:active,
          &:focus {
            background-color: transparent;
            color: #f44336;
            &:before {
              content: '\e915';
            }
          }
          &.added {
            color: #f44336;
            &:before {
              content: '\e915';
            }
          }
        }
        a.action.tocompare {
          &:before {
            content: none;
          }
        }
      }
      .hover-buttons {
        position: absolute;
        display: block;
        bottom: -38px;
        background-color: #fff;
        padding: 5px;
        right: 0;
        z-index: 10;
        left: auto;
        opacity: 0;
        transition: bottom .25s ease-in-out, opacity .4s ease-in-out, background .2s ease-in-out 0s, color .2s ease-in-out 0s;
        -moz-transition: bottom .25s ease-in-out, opacity .4s ease-in-out, background .2s ease-in-out 0s, color .2s ease-in-out 0s;
        -webkit-transition: bottom .25s ease-in-out, opacity .4s ease-in-out, background .2s ease-in-out 0s, color .2s ease-in-out 0s;
        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

        &:before,
        &:after {
          display: table;
          content: '';
          clear: both;
        }

        .add-to-links {
          float: left;
          position: relative;
          top: auto;
          right: auto;
        }
        .add-to-links a.action,
        .lightbox-button {
          margin: 0;
        }
      }
      .product-labels {
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 1;
        right: auto;
        span {
          padding: 3px 7px;
          z-index: 3;
          color: #fff;
          text-align: center;
          font-size: 12px;
          line-height: 11px;
          background-color: #f72525;
          border-radius: 0;
          font-family: @font-main;
          font-weight: 400;
          text-transform: uppercase;
          margin: 0;
          float: left;
          position: relative;
          &.label-new {
            background-color: #03a9f4;
          }
          &.percentage {
            span {
              padding: 0;
              margin-right: 3px;
            }
          }
          strong {
            font-weight: inherit;
          }
        }
        &.two-items {
          span:last-child {
            margin-left: 2px;
          }
        }
        &.label-type-3 {
          & > span {
            border-radius: 50px;
            -moz-border-radius: 50px;
            line-height: 30px;
            height: 30px;
            padding: 0 12px;
            min-width: 40px;
            span {
              line-height: inherit;
            }
          }
        }
        &.label-type-4 {
          & > span {
            padding: 0 8px;
            height: 20px;
            line-height: 19px;
            margin-right: 0;
            span {
              line-height: inherit;
            }
            &:before {
              width: 0;
              height: 0;
              content: '';
              position: absolute;
              top: 0;
              left: -8px;
              border-top: 14px solid #03a9f4;
              border-left: 8px solid transparent;
            }
            &:after {
              width: 0;
              height: 0;
              content: '';
              position: absolute;
              bottom: 0;
              left: -8px;
              border-bottom: 14px solid #03a9f4;
              border-left: 8px solid transparent;
            }
            &.label-sale {
              &:before {
                border-top-color: #f72525;
              }
              &:after {
                border-bottom-color: #f72525;
              }
            }
            & + span {
              margin-right: 0;
              &:last-child {
                margin-left: 0;
              }
              &:before {
                left: auto;
                right: -8px;
                border-top-color: #f72525;
                border-right: 8px solid transparent;
              }
              &:after {
                left: auto;
                right: -8px;
                border-right: 8px solid transparent;
                border-bottom-color: #f72525;
              }
            }
          }
        }
        &.label-type-1 {
          // right: 20px;
          & > span {
            border-radius: 50%;
            -moz-border-radius: 50%;
            height: 40px;
            min-width: 40px;
            line-height: 35px;
            &.label-sale {
              line-height: 1;
              padding-top: 7px;
              span,
              strong {
                line-height: inherit;
                background-color: transparent;
                display: block;
                float: none;
              }
            }
            & + span {
              // float: right;
            }
          }
        }
      }
      .sold-out-label {
        display: block;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        z-index: 14;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear;
        span {
          white-space: nowrap;
          color: #fff;
          background-color: #222;
          font-weight: 500;
          font-family: @font-main;
          padding: 15px 23px;
          text-transform: uppercase;
          font-size: 14px;
          display: inline-block;
          letter-spacing: 1.2px;
        }
      }

      .weltpixel-quickview {
        border-color: @white;

        &:hover,
        &:active,
        &:focus {
          border-color: @btn-primary__hover-border-color;
        }

      }
    }
    .product-action-wrapper {
      padding-top: 10px;
      &:before,
      &:after {
        display: table;
        content: '';
        clear: both;
      }
      .btn {
        margin-right: 20px;
        margin-bottom: 10px;
        i {
          display: none;
        }
      }
      .add-to-links {
        float: left;
      }
    }
    .action-secondary {
      display: inline-block;
      vertical-align: top;
    }
    .price-box {
      padding: 5px 0 2px;
      margin: 0;
      &:before,
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      .special-price {
        .price-container {
          .price {
            color: #f72525;
            line-height: 1;
          }
        }
      }
      .old-price {
        margin: 0 10px 0 0;
        float: left;
        .price-container {
          .price {
            color: rgba(0,0,0,0.3);
            font-size: 14px;
            text-decoration: line-through;
          }
        }
      }
    }
    .product-reviews-summary {
      .rating-summary {
        margin-bottom: 0;
        margin-right: 10px;
        margin-top: 5px;
        .rating-result {
          display: block;
          i {
            font-size: 20px;
            width: auto;
            margin-right: 1px;
          }
        }
      }
      .reviews-actions {
        margin-left: 0;
        margin-top: 7px;
        a {
          color: rgba(0, 0, 0, 0.6);
          font-family: @font-second;
          text-decoration: none;
          padding: 0;
          &:hover {
            color: @color-primary;
            background-color: transparent;
            text-decoration: underline;
          }
          &:not(:last-child) {
            margin-right: 0;
          }
          & + a {
            margin-left: 10px;
            padding-left: 10px;
            position: relative;
            &:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              height: 20px;
              width: 1px;
              background-color: rgba(0, 0, 0, 0.1);
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
    .swatches-wrapper {
      .swatch-attribute {
        &.color,
        &.image {
          .swatch-option {
            width: 20px;
            height: 20px;
            max-width: 20px;
            min-width: 20px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            outline: 1px solid rgba(0, 0, 0, 0);
            margin-right: 7px;
            margin-bottom: 7px;
            &:hover,
            &.selected {
              border-color: #fff;
              outline-color: #000000;
            }
          }
        }
        .swatch-option.text {
          border: solid 1px rgba(0, 0, 0, 0.1);
          display: inline-block;
          font-size: 12px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.8);
          font-family: @font-second;
          box-sizing: border-box;
          padding: 0 4px;
          margin-bottom: 7px;
          min-height: 20px;
          min-width: 20px;
          line-height: 18px;
          text-align: center;
          background-color: transparent;
          transition: all .3s ease;
          -moz-transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          &:hover,
          &.selected {
            background-color: @color-default !important;
            color: #fff;
            border-color: @color-default;
            outline: none;
          }
        }
      }
    }
  }
}
.products-grid {
  .hover-buttons-toggle,
  .mobile-action-buttons {
    display: none;
  }
  &.products-widget-slider {
    .product-item-info {
      padding-left: 10px;
      padding-right: 10px;
      &:hover,
      &:active,
      &:focus {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .owl-nav {
      div {
        position: absolute;
        top: 50%;
        transform: translateY(calc(~"-50% - " 20px));
        left: auto;
        right: auto;
        z-index: 11;
        font-size: 23px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        &.owl-prev {
          left: -60px;
          .boxed-layout & {
            left: -40px;
          }
        }
        &.owl-next {
          right: -60px;
          .boxed-layout & {
            right: -40px;
          }
        }
      }
    }
  }
  .product-items {
    .catalog-category-view & {
      @media @sm-and-up {
        margin-left: -10px !important;
        margin-right: -10px !important;
      }
    }
    li.item {
      clear: none;
      margin: 0;
      padding: 0 10px 20px;
      width: 24.9%;
      @media @mobile {
        &:not(.row-banner) {
          width: 50% !important;
        }
      }
      @media @mobile-sm {
        &:not(.row-banner) {
          width: 100% !important;
        }
      }
      .product-item-info {
        width: 100%;
      }
    }
  }
  .page-products.page-layout-1column &,
  .page-products.page-layout-3columns & {
    li.item {
      margin: 0 !important;
    }
  }
  .page-products.page-layout-1column &.one-columns,
  .page-products.page-layout-3columns &.one-columns,
  &.one-columns {
    li.item {
      width: 100%;
    }
  }
  .page-products.page-layout-1column &.two-columns,
  .page-products.page-layout-3columns &.two-columns,
  &.two-columns {
    li.item {
      width: 49.9%;
      &:nth-of-type(2n+1) {
        clear: left;
      }
      &:nth-of-type(2n+2) {
        clear: right;
      }
    }
  }
  .page-products.page-layout-1column &.three-columns,
  .page-products.page-layout-3columns &.three-columns,
  &.three-columns {
    li.item {
      width: 33.2%;
      &:nth-of-type(3n+1) {
        clear: left;
      }
      &:nth-of-type(3n+3) {
        clear: right;
      }
    }
  }
  .page-products.page-layout-1column &.four-columns,
  .page-products.page-layout-3columns &.four-columns,
  &.four-columns {
    li.item {
      width: 24.9%;
      &:nth-of-type(4n+1) {
        clear: left;
      }
      &:nth-of-type(4n+4) {
        clear: right;
      }
    }
  }
  .page-products.page-layout-1column &.five-columns,
  .page-products.page-layout-3columns &.five-columns,
  &.five-columns {
    li.item {
      width: 19.9%;
      &:nth-of-type(5n+1) {
        clear: left;
      }
      &:nth-of-type(5n+5) {
        clear: right;
      }
    }
  }
  .page-products.page-layout-1column &.six-columns,
  .page-products.page-layout-3columns &.six-columns,
  &.six-columns {
    li.item {
      width: 15.6%;
      &:nth-of-type(6n+1) {
        clear: left;
      }
      &:nth-of-type(6n+6) {
        clear: right;
      }
    }
  }
  .page-products.page-layout-1column &.seven-columns,
  .page-products.page-layout-3columns &.seven-columns,
  &.seven-columns {
    li.item {
      width: 13.2%;
      &:nth-of-type(7n+1) {
        clear: left;
      }
      &:nth-of-type(7n+7) {
        clear: right;
      }
    }
  }
  .page-products.page-layout-1column &.eight-columns,
  .page-products.page-layout-3columns &.eight-columns,
  &.eight-columns {
    li.item {
      width: 11.5%;
      &:nth-of-type(8n+1) {
        clear: left;
      }
      &:nth-of-type(8n+8) {
        clear: right;
      }
    }
  }
  .page-layout-3columns &.three-columns,
  .page-layout-3columns &.four-columns,
  .page-layout-3columns &.five-columns,
  .page-layout-2columns-left &.four-columns,
  .page-layout-2columns-right &.four-columns,
  .page-layout-2columns-left &.five-columns,
  .page-layout-2columns-right &.five-columns,
  &.five-columns,
  &.six-columns,
  &.seven-columns,
  &.eight-columns {
    .product-item-info {
      .image-wrapper {
        .sold-out-label {
          span {
            padding: 9px 14px;
            font-size: 12px;
          }
        }
        @media @md-and-up {
          & > .add-to-links,
          .hover-buttons,
          .actions-hover-buttons {
            display: none;
          }
          .hover-buttons-toggle {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            left: auto;
            z-index: 10;
            .toggle-options {
              display: block;
              height: 30px;
              width: 30px;
              line-height: 30px;
              text-align: center;
              position: absolute;
              top: 0;
              right: 0;
              z-index: 1;
              cursor: pointer;
              i {
                line-height: inherit;
                vertical-align: middle;
                color: rgba(0,0,0,0.3);
              }
            }
            .options-block {
              display: none;
              background-color: transparent;
              height: 0;
              width: 0;
              overflow: hidden;
              transition: height 350ms ease, width 350ms ease;
              -moz-transition: height 350ms ease, width 350ms ease;
              -webkit-transition: height 350ms ease, width 350ms ease;
              .add-to-links {
                position: static;
                float: left;
                // width: 100%;
                a.action {
                  width: 40px;
                  height: 40px;
                  float: left;
                  line-height: 40px;
                  margin: 0;
                  background-color: transparent;
                  color: #222;
                  display: block;
                  min-width: 40px;
                  font-size: 16px;
                  position: relative;
                  z-index: 10;
                  &:hover {
                    background-color: #f5f5f5;
                  }
                }
              }
              .weltpixel-quickview,
              .lightbox-button {
                position: static;
                float: left;
                width: 40px;
                height: 40px;
                min-height: 40px;
                text-align: center;
                padding: 0;
                line-height: 38px;
                font-size: 16px;
                background-color: transparent;
                color: #222;
                border: none;
                margin: 0;
                min-width: 40px;
                span {
                  display: none;
                }
                i {
                  display: block;
                  font-size: inherit;
                  color: inherit;
                  line-height: inherit;
                }
                &:hover {
                  background-color: #f5f5f5;
                }
              }
              .weltpixel-quickview {
                font-size: 13px;
              }
            }
            &.open {
              .toggle-options {
                display: none;
              }
              .options-block {
                background-color: #fff;
                max-height: 80px;
                max-width: 80px;
                height: auto;
                width: auto;
                font-size: 16px;
                z-index: 1;
                display: block;
              }
            }
          }
        }
      }
      .mobile-action-buttons {
        @media @md-and-up {
          display: block;
          .add-to-links,
          .weltpixel-quickview,
          .lightbox-button {
            display: none;
          }
          .product-action-wrapper .btn,
          & > .btn {
            width: auto;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 0;
            max-width: 100%;
            white-space: normal;
            line-height: 1.5;
            text-align: center;
            font-size: 13px;
            margin-right: 0;
            min-height: 40px;
            i {
              display: none;
            }
          }
        }
      }
      &:hover,
      &:active,
      &:focus {
        .image-wrapper {
          .actions-hover-buttons {
            bottom: 0;
            opacity: 1;
          }
        }
      }
    }
  }
  &.one-column {
    @media @mobile {
      li.item:not(.row-banner) {
        width: 100% !important;
      }
    }
  }
  &.two-columns {
    @media @mobile-sm {
      li.item:not(.row-banner) {
        width: 49.9% !important;
      }
    }
  }
  @media @tablet-v {
    &.one-column,
    &.two-columns,
    &.three-columns {
      .mobile-action-buttons {
        .product-action-wrapper {
          margin-right: 10px;
        }
      }
    }
    &.six-columns,
    &.seven-columns,
    &.eight-columns {
      .product-item-info {
        .image-wrapper {
          .sold-out-label {
            span {
              padding: 7px 5px;
              font-size: 11px;
            }
          }
        }
        .product-reviews-summary {
          display: none;
        }
        .swatches-wrapper {
          .swatch-attribute {
            &.color,
            &.image {
              .swatch-option {
                width: 20px;
                min-width: 20px;
                height: 20px;
                max-width: 20px;
              }
            }
            .swatch-option.text {
              font-size: 10px;
              padding: 0 5px;
              min-height: 25px;
              min-width: 25px;
              line-height: 25px;
            }
          }
        }
        .mobile-action-buttons {
          .add-to-links {
            a.action {
              width: 30px;
              height: 30px;
              min-width: 30px;
              line-height: 30px;
              font-size: 17px;
              margin-right: 5px;
              margin-top: 5px;
              font-size: 15px;
              &.tocompare {
                margin-right: 0;
              }
            }
          }
          .product-action-wrapper .btn,
          & > .btn {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            line-height: 30px;
            padding: 0;
            margin: 0;
            span {
              display: none;
            }
            i {
              display: block;
              line-height: inherit;
              font-size: 15px;
            }
          }
          .product-action-wrapper {
            padding-top: 5px;
            margin-right: 5px;
          }
          & > .btn {
            margin-top: 5px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  @media @mobile-sm {
    .mobile-action-buttons {
      .product-action-wrapper {
        margin-right: 10px;
      }
    }
  }
  @media @sm-and-down {
    .image-wrapper {
      & > .add-to-links,
      .hover-buttons,
      .actions-hover-buttons {
        display: none !important;
      }
    }
    .mobile-action-buttons {
      display: block;
      width: 100%;
      padding-bottom: 10px;
      .add-to-links {
        display: block;
        float: left;
        a.action {
          width: 35px;
          height: 35px;
          min-width: 35px;
          line-height: 35px;
          margin: 12px 10px 5px 0;
          color: rgba(0,0,0,0.8);
          display: block;
          float: left;
          font-size: 19px;
          &.tocompare {
            margin-right: 0;
            &:before {
              content: none;
            }
          }
        }
      }
      .weltpixel-quickview,
      .lightbox-button {
        display: none;
      }
      .product-action-wrapper {
        display: block;
        float: left;
        max-width: 100%;
        .btn {
          margin-bottom: 0;
          margin-right: 0;
        }
      }
      .btn {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
        max-width: 100%;
        white-space: normal;
        line-height: 1.5;
        text-align: center;
        font-size: 13px;
        margin-right: 0;
        min-height: 40px;
        float: left;
        i {
          display: none;
        }
      }
      & > .btn {
        margin-top: 10px;
        margin-right: 8px;
      }
    }
  }
}

.block-new-products.list {
  .product-item-info {
    display: block;
  }
}
.block-new-products-list {
  .product-item {
    margin-bottom: 15px;
    .product-item-photo {
      display: table-cell;
      vertical-align: top;
    }
    .product-item-details {
      display: table-cell;
      vertical-align: top;
      padding-left: 20px;
      .price-box {
        margin-bottom: 10px;
        .special-price {
          .price {
            color: #f44336;
            line-height: 1;
            font-weight: 500;
          }
        }
        .old-price {
          float: left;
          margin: 0 10px 0 0;
          .price {
            color: rgba(0, 0, 0, 0.3);
            font-size: 14px;
            text-decoration: line-through;
          }
        }
      }
      .product-item-actions {
        .action.tocart {
          border: none;
          color: #000;
          background-color: transparent;
          font-size: 24px;
          line-height: 1;
          padding: 0;
          min-height: 1px;
          span {
            display: none;
          }
          &:before {
            content: "\e904";
            font-family: 'meigee';
            font-size: inherit;
            text-transform: none;
          }
          &:hover,
          &:active,
          &:focus {
            color: #f44336;
          }
        }
      }
    }
  }
}
.block-compared-products-grid,
.block-viewed-products-grid {
  .price-box {
    .special-price {
      display: inline-block;
    }
  }
  .product-item-actions {
    padding-top: 10px;
    margin-top: 0;
    .actions-primary {
      display: inline-block;
      vertical-align: middle;
      button.primary {
        border: none;
        color: #000;
        background-color: transparent;
        font-size: 24px;
        padding: 0;
        min-height: 50px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        span {
          display: none;
        }
        &.tocart {
          &:before {
            content: "\e904";
            font-family: 'meigee';
            font-size: inherit;
            text-transform: none;
          }
        }
        &:hover {
          background-color: transparent;
          color: #f44336;
        }
      }
    }
    .actions-secondary {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      .action {
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: transparent;
        color: #000;
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 0;
        padding: 0;
        font-size: 24px;
        text-align: center;
        &:before {
          font-size: inherit;
          line-height: inherit;
          color: inherit;
          width: auto;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.06);
          color: #333333;
        }
        &.towishlist {
          &:before {
            content: '\e914';
            font-family: 'meigee';
          }
          &:hover {
            &:before {
              content: '\e915';
            }
          }
        }
      }
    }
  }
  .product-item-description {
    margin-top: 0;
    margin-bottom: 10px;
    a.product-item-link {
      color: @color-primary;
      text-decoration: underline;
      background-color: transparent;
      padding: 2px 5px;
      &:hover {
        background-color: @color-primary;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.products-list {
  .product-items {
    margin-bottom: 30px;
    .list &,
    &.list {
      .item {
        @media @mobile {
          padding-right: 10px;
        }
      }
      .image-wrapper {
        float: left;
        overflow: visible;
        display: table-cell;
        vertical-align: top;
        width: 33.3%;
        @media @mobile {
          width: 100% !important;
        }
        .product-item-photo {
          width: 100%;
          display: block;
          border: none;
          opacity: 1;
          position: relative;
          overflow: hidden;
          z-index: 1;
          padding-right: 0;
          padding-bottom: 0;
          .product-image-container {
            @media @mobile {
              width: 100% !important;
            }
          }
          .hover-image {
            position: absolute;
            top: 50%;
            width: 100%;
            max-height: 100%;
            z-index: -1;
            transform: translateY(-50%);
          }
        }
        &:hover {
          .product-item-photo {
            .hover-image {
              z-index: 1;
            }
          }
          .actions-hover-buttons {
            z-index: 2;
          }
        }
      }
      .product-item-details {
        padding-left: 30px;
        @media @mobile {
          padding-left: 0;
        }
        .product-item-description {
          margin-top: 15px;
        }
        .weltpixel-quickview  {
          display: none !important;
        }
      }
      &.twenty {
        .image-wrapper {
          width: 20%;
        }
      }
      &.twenty-five {
        .image-wrapper {
          width: 25%;
        }
      }
      &.thirty {
        .image-wrapper {
          width: 30%;
        }
      }
      &.thirty-five {
        .image-wrapper {
          width: 35%;
        }
      }
      &.forty {
        .image-wrapper {
          width: 40%;
        }
      }
      &.forty-five {
        .image-wrapper {
          width: 45%;
        }
      }
      &.fifty {
        .image-wrapper {
          width: 50%;
        }
      }
    }
    &.list {
      .item {
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
    }
    .block.widget.meigee-widget.list.footer-list & {
      .product-item {
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        .image-wrapper {
          float: left;
          display: block;
          width: 35%;
          .product-item-photo {
            width: 100%;
            float: none;
          }
        }
        .product-item-details {
          display: block;
          float: left;
          width: 65%;
          @media @mobile {
            width: 100%;
          }
          .price-box {
            margin-bottom: 15px;
          }
          .add-to-links {
            .action {
              &.tocompare:before {
                content: none;
              }
              &.towishlist {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

.actions-hover-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  .btn {
    white-space: nowrap;
    display: block;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    margin: 5px 0 !important;
    + .btn {
      margin: 5px 0 !important;
    }
    &.weltpixel-quickview {
      width: calc(~"100% - " 12px);
      margin-left: 6px !important;
      margin-right: 6px !important;
    }
  }
}
.products-grid,
.products-list {
  .product-item-info {
    background: transparent;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  .product-item-info:hover,
  .product-item-info:active,
  .product-item-info:focus {
    background: transparent;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    .actions-hover-buttons {
      opacity: 1;
      z-index: 1;
    }
    .image-wrapper {
      .hover-buttons {
        bottom: 0;
        opacity: 1;
      }
      .sold-out-label {
        opacity: 0;
        visibility: hidden;
      }
    }
    &.sold-out {
      @media @sm-and-up {
        .image-wrapper {
          .weltpixel-quickview {
            display: none;
          }
        }
      }
    }
  }
}

/*Lightbox popup*/
.popup-lightbox-modal.modal-slide {
  left: 0;
  right: 0;
  .modal-inner-wrap {
    max-height: 80vh;
    max-width: 90vw;
    width: fit-content;
    width: -moz-fit-content;
    top: 10%;
    position: relative;
    @media @tablet-h {
      max-height: 85vh;
      top: 5%;
    }
    @media @mobile {
      min-height: 100px !important;
      left: auto;
      right: auto;
      margin: 0 auto;
    }
    .modal-header {
      padding: 0;
    }
    .modal-content {
      padding: 15px;
      .product-title {
        display: block;
        width: 100%;
        text-align: center;
        font-family: @font-main;
        color: rgba(0,0,0,0.8);
        font-weight: 600;
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
}
