.products-grid,
.products-list {
  &.product-hover-2 {
    .product-item-info {
      .product-action-wrapper {
        padding-top: 0;
        display: inline-block;
        width: auto;
        .btn {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  &.product-hover-2,
  &.product-hover-3 {
    .product-item-info {
      .image-wrapper {
        .hover-buttons {
          top: 100%;
          bottom: auto;
          left: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          text-align: center;
          background-color: transparent;
          .lightbox-button {
            display: inline-block;
            vertical-align: middle;
            float: none;
          }
          .btn {
            display: inline-block;
            padding: 0;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border: none;
            float: none;
            i {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              font-size: 22px;
              line-height: inherit;
              @media @sm-and-down {
                width: 32px;
                height: 32px;
                font-size: 18px;
                line-height: 1;
              }
            }
            span {
              display: none;
            }
            &.weltpixel-quickview {
              i {
                font-size: 17px;
              }
            }
          }
          .add-to-links {
            float: none;
            display: inline-block;
            vertical-align: middle;
          }
          .lightbox-button,
          .btn,
          .add-to-links a.action {
            border-radius: 50%;
            background-color: #fff;
            color: rgba(0, 0, 0, 0.8);
            opacity: 0;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: opacity .3s, background .5s, -webkit-transform .5s;
            transition: opacity .3s, background .5s, -webkit-transform .5s;
            transition: transform .5s, opacity .3s, background .5s;
            transition: transform .5s, opacity .3s, background .5s, -webkit-transform .5s;
            &:hover,
            &:active,
            &:focus {
              background-color: #e6e6e6;
              color: rgba(0, 0, 0, 0.8);
            }
            &.hover-btn-1 {
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
            }
            &.hover-btn-2 {
              -webkit-transition-delay: .1s;
              transition-delay: .1s;
            }
            &.hover-btn-3 {
              -webkit-transition-delay: .2s;
              transition-delay: .2s;
            }
          }
        }
      }
      &:hover {
        .image-wrapper {
          .hover-buttons {
            .lightbox-button,
            .btn,
            .add-to-links a.action {
              opacity: 1;
              visibility: visible;
              bottom: 0;
              -webkit-transform: translateY(-72px);
              transform: translateY(-72px);
              opacity: 1;
              @media @sm-and-down {
                transform: none;
              }
            }
            & > *:not(:last-child) {
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
  &.product-hover-3 {
    .product-item-info {
      position: relative;
      z-index: 2;
      .indent {
        position: relative;
        z-index: 4;
      }
      .image-wrapper {
        .product-item-photo,
        .product-image-container {
          display: block;
        }
        .more-views {
          overflow: hidden;
          display: block;
          width: 100%;
          height: 100%;
          opacity: 1;
          position: relative;
          top: 0;
          left: 0;
          .owl-stage-outer {
            padding: 0;
            width: 100%;
          }
          .owl-nav {
            div {
              position: absolute;
              top: 50%;
              width: 40px;
              height: 40px;
              margin-top: -20px;
              z-index: 1;
              line-height: 40px;
              overflow: hidden;
              font-size: 18px;
              opacity: 0;
              background: #f5f5f5;
              transition: all .3s ease;
              -moz-transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -o-transition: all .3s ease;
              text-align: center;
              transform: translateY(0);
              &:hover {
                background-color: #fff;
              }
              i {
                line-height: inherit;
              }
              &.owl-prev {
                left: -100px;
              }
              &.owl-next {
                right: -100px;
              }
            }
          }
          &:not(.owl-loaded) {
            a {
              display: block;
            }
            a:not(.first) {
              display: none;
            }
          }
        }
        .more-views + .product-item-photo {
          display: none;
        }
      }
      .product-item-details {
        padding-bottom: 5px;
        .product-item-description {
          margin: 5px 0 15px;
        }
      }
      .mobile-action-buttons {
        .product-action-wrapper {
          @media @md-and-up {
            padding-top: 0;
          }
        }
      }
      &:before {
        content: '';
        display: block;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        transition: all .3s ease;
        -moz-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        z-index: -1;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        @media @sm-and-down {
          content: none !important;
        }
      }
      .mobile-action-buttons {
        display: block;
        position: absolute;
        width: auto;
        left: 0;
        right: 0;
        top: 100%;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        text-align: left;
        max-height: 0px;
        background: #fff;
        padding: 0;
        transition: all .3s ease;
        -moz-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        @media @sm-and-down {
          position: static;
          background-color: transparent;
          box-shadow: none;
          padding: 0 !important;
        }
        .btn {
          display: inline-block;
          i {
            display: none;
          }
        }
        .add-to-links {
          display: none;
          @media @sm-and-down {
            display: block;
          }
        }
        & > * {
          -moz-transform: scale(0) translateY(110%);
          -ms-transform: scale(0) translateY(110%);
          -o-transform: scale(0) translateY(110%);
          -webkit-transform: scale(0) translateY(110%);
          transform: scale(0) translateY(110%);
          transition: all .3s ease;
          -moz-transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          @media @sm-and-down {
            -moz-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            -o-transform: scale(1) translateY(0);
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
          }
        }
      }
      &:hover {
        z-index: 3;
        &:before {
          opacity: 1;
          visibility: visible;
          left: -30px;
          top: -30px;
          right: -30px;
        }
        .mobile-action-buttons {
          left: -30px;
          right: -30px;
          max-height: 400px;
          opacity: 1;
          z-index: 100;
          padding: 0 30px 30px;
          & > * {
            -moz-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            -o-transform: scale(1) translateY(0);
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
          }
        }
        .image-wrapper {
          .more-views {
            .owl-nav {
              div {
                opacity: 1;
                &.owl-prev {
                  left: 0;
                }
                &.owl-next {
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  &.products-widget-slider {
    &.product-hover-3 {
      .product-items {
        padding-right: 80px;
        .owl-stage-outer {
          padding: 40px 40px 10px;
          width: calc(~"100% + " 80px);
          @media @sm-and-down {
            width: 100%;
            padding: 10px 0;
          }
          .owl-item {
            transition: all .3s ease;
            -moz-transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            &:hover {
              z-index: 100;
            }
            &:not(.active) {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }
      .product-item-info {
        .mobile-action-buttons {
          position: relative;
          background: transparent;
          box-shadow: none;
          left: 0;
          right: 0;
          padding: 0;
          min-height: 50px;
          .product-action-wrapper {
            @media @md-and-up {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

body .list.products-list {
  .product-item.item {
    display: block;
    @media @sm-and-down {
      padding: 10px 0;
    }
  }
  &.product-hover-3 {
    .product-items.list {
      .product-item.item {
        position: relative;
        transition: border .3s ease;
        -moz-transition: border .3s ease;
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        &:hover {
          border-color: rgba(0, 0, 0, 0);
        }
      }
    }
    .product-item-info {
      position: relative;
      .indent {
        @media @sm-and-up {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
        }
      }
      .mobile-action-buttons {
        display: inline-block;
        position: static;
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        @media @sm-and-down {
          max-height: -webkit-fit-content;
          max-height: -moz-fit-content;
          max-height: fit-content;
          width: 100%;
          display: block;
        }
        .product-action-wrapper {
          @media @md-and-up {
            padding-top: 0;
          }
        }
      }
      &:hover {
        left: 0;
        right: 0;
        &:before {
          bottom: -20px;
        }
      }
    }
  }
  &.product-hover-2,
  &.product-hover-3 {
    @media @sm-and-down {
      .product-item-info {
        .image-wrapper {
          margin-bottom: 0;
          .hover-buttons {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            justify-content: flex-start;
            margin: 0;
            padding: 10px 0;
            & > *,
            .add-to-links {
              margin: 0;
              padding: 0;
            }
            .lightbox-button,
            .btn,
            .add-to-links a.action {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              width: 40px;
              max-width: 40px;
              min-width: 40px;
              height: 40px;
              max-height: 40px;
              min-height: 40px;
              margin: 0 10px 0 0;
              padding: 0;
              border-radius: 0;
              background: #f5f5f5;
              line-height: normal;
              color: @color-title;
              transform: none;
              opacity: 1;
              i {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                width: 40px;
                max-width: 40px;
                min-width: 40px;
                height: 40px;
                max-height: 40px;
                min-height: 40px;
                margin: 0;
                padding: 0;
                font-size: 22px;
                line-height: 40px;
              }
              &:hover {
                margin: 0 10px 0 0;
                padding: 0;
                background: transparent;
              }
            }
            .weltpixel-quickview {
              display: none;
            }
            &:hover {
              margin: 0;
              padding: 10px 0;
              transform: none;
              & > *,
              .add-to-links {
                margin: 0;
                padding: 0;
              }
              .lightbox-button,
              .btn,
              .add-to-links a.action {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 0 10px 0 0;
                padding: 0;
                transform: none;
              }
              .weltpixel-quickview {
                display: none;
              }
            }
          }
        }
        &:hover {
          .image-wrapper {
            .hover-buttons {
              margin: 0;
              padding: 10px 0;
              transform: none;
              & > *,
              .add-to-links {
                margin: 0;
                padding: 0;
              }
              .lightbox-button,
              .btn,
              .add-to-links a.action {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 0 10px 0 0;
                padding: 0;
                transform: none;
              }
              .weltpixel-quickview {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}