/*Breadcrumbs*/
body  {
  &.boxed-layout {
    .page-wrapper > .breadcrumbs {
      @media @desktop {
        padding-left: 40px;
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 0;
    min-height: 60px;
    @media @sm-and-up {
      // width: 100%;
      // max-width: 100%;
    }
    .items {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    a,
    strong {
      font-size: 13px;
      font-family: @font-second;
      color: rgba(0,0,0,0.6);
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
      &:visited {
        color: rgba(0,0,0,0.6);
      }
    }
    strong {
      color: rgba(0,0,0,0.3);
    }
    a:hover {
      color: @color-primary;
    }
    .item:not(:last-child) {
      &:after {
        content: '/';
        font-family: @font-second;
        color: rgba(0,0,0,0.2);
        font-size: 20px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}