<?php
	$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
	$contentWidth = $meigee_helper->getCustomThemeOptionCnf('coccinelle_layout', 'container_width');
	$sticky_opacity = $meigee_helper->getCustomThemeOptionCnf('coccinelle_header', 'sticky_header_opacity');
?>
<link href='//fonts.googleapis.com/css?family=Barlow:200,400,500,600%7CWork+Sans:400,500,600' rel='stylesheet' type='text/css'>
<style type="text/css">
	body.boxed-layout .container,
	body .container,
	body #maincontent,
	body .page-wrapper > .breadcrumbs {max-width: <?php echo $contentWidth; ?>px; width: 100%;}
	#sticky-header {opacity: <?php echo $sticky_opacity/100; ?>;}
</style>