<div id="tierprice_load" class="loading-mask" data-role="loader"
     style="display: none;">
    <div class="popup popup-loading">
        <div class="popup-inner">
            <img alt="Loading..."
                 src="<?php /* @noEscape */
                 echo $block->getBaseUrl(); ?>
                /pub/static/adminhtml/Magento/backend/en_US/images/loader-2.gif">Please
            wait...
        </div>
    </div>
</div>

<div id='approver_errormesage'></div>
<div id="body" style="
    width: 100%;">
    <div class="table-wrapper orders-recent">
        <label class="label" for="customer_sku_csv"><span><h3><?php echo __('Add items'); ?></h3></span></label>
        <form id="quick_order_form"
              action="<?php /* @noEscape */
              echo $block->getUrl('checkout', []); ?>"
              method="post">
            <table class="data table table-order-items recent"
                   id="my-orders-table">
                <thead>
                <tr>
                    <th scope="col" class="col id"><?php echo __('Code'); ?></th>
                    <th scope="col" class="col date"><?php echo __('Quantity'); ?></th>
                    <th scope="col" class="col shipping"><?php echo __('Action'); ?></th>
                </tr>
                </thead>
                <tbody class="cart item" id="cart_item">
                <?php $count = 0; ?>
                <input name="form_key" type="hidden"
                       value="<?php /* @noEscape */
                       echo $block->getFormKey(); ?>">
                <tr class="item-info">
                    <td class="col productsku" width="500"><select
                                class='select frontend__control-select productadd'
                                id="product_sku" name="product_sku[]">
                        </select></td>
                    <td class="col qty" data-th="Qty">
                        <div class="field qty">
                            <div class="control qty" style="white-space:nowrap;">
                                <button class="dec">-</button>
                                <input name="qty[]" value="" autocomplete="off"
                                       type="number" id="qty" size="4" title="Qty"
                                       class="input-text qty" maxlength="12"
                                       data-validate="{required:true,'validate-greater-than-zero':true}"
                                       data-role="cart-item-qty">
                                <button class="inc">+</button>
                            </div>
                        </div>
                    </td>
                    <td class="col action remove"><a href='javascript:;'
                                                     class="delete row"><?php echo __('Remove'); ?></a></td>

                </tr>
                <input type="hidden" id="count" value="<?php /* @noEscape */
                echo $count ?>">
                </tbody>
            </table>
        </form>
    </div>
    <div class="block block-dashboard-info">

        <span><button class="action primary add"><?php echo __('Add More Product'); ?></button></span>
        <span><button class="action primary proceed"><?php echo __('Go To Checkout'); ?></button></span>
    </div>
    <form id="bulk-order" enctype="multipart/form-data"
          action="<?php /* @noEscape */
          echo $block->getUrl('b2bmage/quickorder/cart_bulkorder', []); ?>"
          method="post">
        <div class="bulk-upload-box">
            <div class="bulk field upload skus">
                <label class="label" for="customer_sku_csv"><span><h3><?php echo __('File import'); ?></h3></span></label>
                <div class="bulk-control">
                    <input id="bulk_customer_sku_csv" data-reset="true"
                           name="sku_file" type="file">
                    <input id="bulk-reset" value="0" data-reset="true"
                           name="sku_file_uploaded" type="hidden">
                    <div class="note">
                        <p><?php echo __('File extensions allowed: csv'); ?></p>
                        <p><?php echo __('Your csv file must include sku and qty columns.'); ?></p>
                        <p><a href="<?php echo $block->getUrl('b2bmage/quickorder/cart_downloadcsv'); ?>"><?php echo __('Download the sample file'); ?></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bulk-actions-toolbar">
            <div class="primary">
                <button type="submit" title="Add to Cart" class="bulk action tocart primary">
                    <span><?php echo __('Add to Cart'); ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/x-magento-init">
    {
        "#body": {
            "productListing": {
                "searchUrl": "<?php /* @noEscape */
    echo $block->getUrl('b2bmage/quickorder/cart_productsearchlist'); ?>"
            }
        }
    }

</script>
<script type="text/x-magento-init">
  { "#body": {
       "productAction": {
           "searchUrl": "<?php /* @noEscape */
    echo $block->getUrl('b2bmage/quickorder/cart_productsearchlist'); ?>",
           "removeUrl": "<?php /* @noEscape */
    echo $block->getUrl('checkout/sidebar/removeItem', []); ?>",
           "formKey": "<?php /* @noEscape */
    echo $block->getFormKey(); ?>",
           "addUrl": "<?php /* @noEscape */
    echo $block->getUrl('checkout/cart/add/form_key/' .
        $block->getFormKey(), []); ?>",
           "updateUrl": "<?php /* @noEscape */
    echo $block->getUrl('checkout/sidebar/updateItemQty/' .
        $block->getFormKey(), []); ?>"
        }
     }
  }

</script>
