/* Own styles for meigee themes */
.header-wrapper .navigation .level0 .submenu {
	z-index: 10;
}


/*Header Menu*/
.header-wrapper {
  .navbar-default {
    background-color: transparent;
    font-weight: 500;
    .navbar-collapse.collapse {
      li.level-top {
        margin-right: 0;
        vertical-align: top;
        a.level-top {
          color: rgba(0,0,0,0.8);
          font-size: 18px;
          line-height: 40px;
          padding: 20px 30px;
          font-family: @font-main;
          display: block;
          &.ui-state-focus,
          &.ui-state-active,
          &:hover {
            background-color: transparent;
            border: none;
            .ui-menu-icon {
              color: inherit;
            }
          }
          .ui-menu-icon {
      	    color: inherit;
    		    opacity: 0.6;
    		    line-height: 1;
    		    margin-left: 5px;
            float: right;
            margin-top: 11px;
          	&:after {
          		content: '\e908';
          		font-family: 'meigee';
          	}
          }
          span {
            float: left;
          }
          &:after {
            content: '';
            display: table;
            clear: both;
          }
          @media @tablet-h {
            padding: 10px 20px;
          }
          &:before {
            @media @md-and-up {
              content: '';
              height: 1px;
              width: auto;
              position: absolute;
              bottom: 15px;
              background-color: rgba(0,0,0,0.8);
              top: auto;
              left: 30px;
              right: 30px;
              opacity: 0;
              -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
              -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
              transition: height 0.3s, opacity 0.3s, transform 0.3s;
              -webkit-transform: translateY(-10px);
              -moz-transform: translateY(-10px);
              transform: translateY(-10px);
            }
            @media @tablet-h {
              left: 20px; 
              right: 20px;
              bottom: 10px;
            }
          }
        }
        &.active,
        &.has-active {
          a.level-top {
            background-color: transparent;
            border: none;
            .ui-menu-icon {
              color: inherit;
            }
          }
        }
        &.active a.level-top,
        &.has-active a.level-top,
        a.level-top.ui-state-focus,
        a.level-top.ui-state-active,
        a.level-top:hover {
          &:before {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
            height: 2px;
          }
        }
        .megamenu-wrapper {
        	padding: 20px 20px 8px;
          border-radius: 0;
          -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
        	li.level1,
          ul.level1 {
            a {
              font-size: 16px;
              font-family: @font-second;
              font-weight: 400;
              color: rgba(0,0,0,0.6);
              padding-top: 8px;
              padding-bottom: 8px;
              &[data-bold-link='1'] {
                font-size: 18px;
                font-family: @font-main;
                font-weight: 500 !important;
                color: rgba(0,0,0,0.8) !important;
                padding-bottom: 10px;
                @media @md-and-up {
                  &:hover,
                  &:active,
                  &:focus {
                    color: @color-primary;
                    text-decoration: none !important;
                  }
                }
              }
              @media @md-and-up {
                &:hover,
                &:active,
                &:focus {
                  color: @color-primary !important;
                  text-decoration: underline !important;
                }
              }
            }
        	}
        }
      }
    }
  }
}
@media @md-and-up {
  .header-wrapper {
    #sticky-header {
      .navigation {
        .megamenu {
          li {
            a {
              .category-label {
                top: 0;
                left: 10px;
              }
            }
            &.level-top[data-fixed-width="1"] {
              & > .megamenu-wrapper {
                top: 56px !important;
              }
            }
          }
        }
      }
    }
    .navigation {
      .megamenu {
        .topmenu {
          padding: 0;
        }
        li {
          p.category-image {
            margin-top: 20px;
            margin-left: 10px;
          }
          a {
            .category-label {
              font-family: @font-second;
              font-weight: 500;
              position: absolute;
              font-size: 10px;
              line-height: 10px;
              margin-left: 6px;
              top: 10px;
              left: 24px;
              z-index: 1;
              &.label-one {
                background-color: #edbd31;
                color: #fff;
              }
              &.label-two {
                background-color: #222;
                color: #fff;
              }
              &.label-three {
                background-color: #f72525;
                color: #fff;
              }
            }
          }
          .megamenu-wrapper {
            &.tabs-menu {
              &.vertical,
              &.horizontal {
                ul.level0 {
                  li.level1 {
                    & > a {
                      font-size: 18px;
                      font-family: @font-main !important;
                      font-weight: 500 !important;
                      color: rgba(0,0,0,0.8) !important;
                      line-height: 1;
                    }
                  }
                }
              }
              &.horizontal {
                li.level2 {
                  & > a {
                    span {
                      color: inherit;
                    }
                  }
                }
              }
            }
          }
          .submenu {
            &.default-menu {
              padding: 20px 0;
              li {
                margin: 0;
                &.active {
                  a {
                    border-left: none;
                    color: rgba(0,0,0,0.8);
                  }
                }
                a {
                  font-size: 16px;
                  font-family: @font-second;
                  font-weight: 400;
                  color: rgba(0,0,0,0.6);
                  padding-top: 9px;
                  padding-bottom: 9px;
                }
              }
            }
          }
        }
        .header-brands {
          margin: 0 0 22px;
          .brand {
            width: 20%;
            padding: 0 10px;
            float: left;
              a {
                display: block;
                padding: 0;
                margin: 0;
              }
          }
        }
      }
    }
  }
}
/* Mobile menu */
.back-link,
.submenu-parent-item,
a.action-link {
  display: none !important;
}

@media only screen and (max-width: 1007px) {
  .mobile-menu-wrapper {
    .nav-sections {
      .navbar-collapse.collapse {
        #mobile-nav {
          li {
            &.parent {
              > a {
                display: none !important;
              }
              > a.action-link {
                display: block !important;
                .ui-menu-icon {
                  display: none;
                }
              }
            }
          }
        }
      } 
    } 
  } 
  .back-link,
  .submenu-parent-item,
  a.action-link {
    display: block !important;
  }
}

@media @sm-and-down {
  .mobile-menu-wrapper {
    .nav-sections {
      .navbar-collapse.collapse {
        #mobile-nav {
          position: relative;
          overflow: hidden;
          &.type-2 {
            li {
              &.back-link {
                border-top: none;
                a {
                  &:before {
                    content: '\1f310';
                    font-family: 'meigee';
                    font-size: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: inherit;
                    margin-right: 5px;                    
                  }
                }
              }
              &.parent {
                position: static;
                a {
                  .icon-more {
                    &:before {
                      content: '\e903';
                      font-family: 'meigee';
                      font-size: 16px;
                      color: rgba(0,0,0,0.8);
                      display: inline-block;
                      vertical-align: middle;
                    }
                    i {
                      display: none;
                    }
                  }
                }
                .megamenu-wrapper,
                .default-menu {
                  position: absolute !important;
                  left: 100% !important;
                  top: 0 !important;
                  height: auto;
                  min-height: fit-content;
                  transition: all 0.3s ease;
                  display: block !important;
                  z-index: 10;
                  &.is-open {
                    left: 0 !important;
                  }
                  li.parent {
                    & > .submenu,
                    & > .megamenu-inner {
                      position: absolute !important;
                      left: 100% !important;
                      top: 0 !important;;
                      height: auto;
                      min-height: 100%;
                      transition: all 0.3s ease;
                      display: block !important;
                      z-index: 10;
                      background-color: #fff;
                      &.is-open {
                        left: 0 !important;
                        width: 100%;
                      }
                    }
                  }
                }
                .default-menu {
                  width: 100%;
                  background-color: #fff;
                  overflow: visible;
                }
              }
              &.level0.level-top {
                & > a.level-top {
                  display: block;
                  line-height: 37px;
                }
                .submenu {
                  padding: 0;
                  a {
                    font-size: 14px;
                    font-family: @font-second;
                    font-weight: 400;
                  }
                  li.submenu-parent-item a {
                    font-weight: 600;
                    color: rgba(0,0,0,0.8);
                  }
                }
              }
              .megamenu-wrapper {
                .megamenu-inner {
                  background-image: none !important;
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
      .header.links {
        a {
          color: rgba(0,0,0,0.8);
          font-family: @font-main;
          &:hover,
          &:active,
          &:focus {
            padding: 0;
            font-weight: 400;
            background-color: transparent;
            color: @color-primary;
          }
        }
      }
      #mobile_search {
        padding: 10px 20px;
        .block-search {
          float: none;
          width: 100%;
          padding-left: 0;
          input {
            background-color: rgba(0, 0, 0, 0.04);
            color: rgba(0, 0, 0, 0.6);
            border: 1px solid rgba(0, 0, 0, 0.04);
          }
          .action.search {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 25px;
            right: 0;
            color: rgba(0,0,0,0.8);
            &:before {
              content: '\e90e';
              font-family: 'meigee';
              line-height: inherit;
              color: inherit;
              font-size: inherit;
            }
          }
        }
      }
      .header-switcher {
        .options {
          .action.toggle {
            &:after {
              content: '\e908';
              font-family: 'meigee';
              font-size: 15px;
              position: absolute;
              right: 10px;
              top: 0;
              line-height: 42px;
            }
            strong {
              &:after {
                content: none;
              }
            }
            &.active {
              padding: 10px 12px;
            }
          }
        }
      }
    }
  }
}

@media @mobile {
  .mobile-menu-wrapper {
    .nav-sections {
      #mobile_search {
        .block-search {
          .block-content {
            position: relative;
            .label {
              display: none;
            }
            .control {
              border: none;
              margin: 0;
              padding: 0;
              input {
                position: static;
                left: 0;
                margin: 0;
                height: 40px;
                line-height: 38px;
                padding-left: 10px;
                font-size: 14px;
              }
            }
            .action.search {
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              padding: 0;
              background-color: transparent;
              border: none;
              width: 40px;
              height: 40px;
              line-height: 40px;
              font-size: 20px;
              span {
                display: none;
              }
            }
          }
        }
      }
      .header-switcher {
        .options {
          .action.toggle {
            &:after {
              line-height: 36px;
              font-size: 12px;
            }
          }
          ul.dropdown {
            bottom: 100%;
            top: auto !important;
            li:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
}