<?php
/**
 * @author    Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package   Amasty_Storelocator
 */
?>
<?php /** @var \Amasty\Storelocator\Block\Location $block
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 *
 */

?>
<?php

$productId = (int)$block->getRequest()->getParam('product');
/**
 * @var \MageAssist\Storelocator\Helper\Country $countryHelper
 */
$countryHelper = $this->helper(\MageAssist\Storelocator\Helper\Country::class);

$countries = $countryHelper->getOptionsByCountry();

if ($productId) :
    $product = $block->getProductById($productId);
    ?>
    <h1><?= $block->escapeHtml($product->getName()); ?><?= $block->escapeHtml(
            __(' can be found at the following stores:&nbsp;')
        ); ?></h1>
    <hr>
<?php endif; ?>
<div class="locator-main-container" style="<?= $block->escapeHtml($block->getMainBlockStyles()); ?>">
    <?php if ($block->getWidgetDescription()) : ?>
        <div>
            <strong><?= $block->escapeHtml($block->getWidgetDescription()); ?></strong>
        </div>
    <?php endif; ?>
    <div class="amlocator-map-container">
        <div class="container">
            <div class="icone">
                <div class="row">
                    <div class="col-md-6">
                        <div class="description">
                            <img src="/media/wysiwyg/importatore.png" />
                            <div class="titolo"><?= $block->escapeHtml(__('Lightech importer')); ?></div>
                        </div>
                        <div class="testo"><?= $block->escapeHtml(__('The Lightech&trade; importer offers the entire range of products available in the catalog. Trust him for assistance in purchasing or indicating the store nearest you, where you can buy the Lightech product made for you.')); ?></div>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <img src="/media/wysiwyg/dealer.png" />
                            <div class="titolo"><?= $block->escapeHtml(__('Lightech dealer')); ?></div>
                        </div>
                        <div class="testo"><?= $block->escapeHtml(__('The Lightech&trade; specialist retailer offers the entire range of products available in the catalog, with the aim of guaranteeing you the best purchase assistance and a capable service for the assembly of your new Lightech&trade; components')); ?></div>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($block->getShowSearch()) : ?>
            <div class="ma-amlocator-search-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="find_title"><?= $block->escapeHtml(__('FIND A DEALER')); ?></div>
                        </div>
                        <div class="col-md-3">
                            <div id="select_country" class="amlocator-block -current amlocator-current-location">
                                <div class="amlocator-wrapper">
                                    <span>
                                        <?= $block->escapeHtml(__('COUNTRY')); ?>
                                    </span>

                                    <select name="ma_store_locator_country" id="ma_store_locator_country">
                                        <?php foreach ($countries as $country): ?>
                                            <option value="<?= $country['value']?>"><?= $country['label']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="amlocator-block -current amlocator-current-location">
                                <div class="amlocator-wrapper">
                                    <span>
                                        <?= $block->escapeHtml(__('CITY - ADDRESS')); ?>
                                    </span>
                                    <input type="text" value="" class="amlocator-text"
                                           id="<?= $block->escapeHtml($block->getSearchId()); ?>"
                                           name="address" placeholder="<?= $block->escapeHtml(__('Current location')); ?>"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div>
                                <button  id="<?= $block->escapeHtml($block->getSearchButtonId()); ?>">
                                    <?= $block->escapeHtml(__('Search')) ; ?>
                                </button>
                            </div>
                        </div>

                        <input type="hidden" id="<?= $block->escapeHtml($block->getAmLatId()); ?>">
                        <input type="hidden" id="<?= $block->escapeHtml($block->getAmLngId()); ?>">
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($block->getShowLocations()) : ?>
            <div class="amlocator-block -filter">
                <div class="amlocator-filters-container">
                    <div id= <?= $block->escapeHtml($block->getFiltersId()); ?>
                         class="amlocator-title"
                         data-amlocator-js="filters-title">
                        <span><?= $block->escapeHtml(__('Filter')); ?></span>
                        <span class="amlocator-arrow <?=
                        /* @noEscape */
                        $block->getFilterClass() ? ' -down' : '';
                        ?>">
                        </span>
                    </div>
                    <div class="amlocator-content<?= $block->escapeHtml($block->getFilterClass()); ?>"
                         data-amlocator-js="filters-container">
                        <?php $attributes = $block->getAttributes(); ?>
                        <form id="attribute-form" class="attributes" action="#"
                              data-amlocator-js="attributes-form">
                            <?php foreach ($attributes as $attribute) : ?>
                                <div class="amlocator-attribute-wrapper">
                                    <div class="amlocator-label"><?= $block->escapeHtml(
                                            $attribute['label']
                                        ); ?></div>
                                    <div class="amlocator-input">
                                        <select name="<?= (int)$attribute['attribute_id']; ?>"
                                                class="amlocator-select"
                                            <?php if ($attribute['frontend_input'] == 'multiselect') : ?>
                                                multiple="multiple"
                                                data-amlocator-js="multiple-select"
                                            <?php endif; ?>>
                                            <?php if ($attribute['frontend_input'] != 'multiselect') : ?>
                                                <option value="" selected><?= $block->escapeHtml(
                                                        __('Please Select')
                                                    ); ?></option>
                                            <?php endif ?>
                                            <?php foreach ($attribute['options'] as $valueId => $option) : ?>
                                                <option
                                                    <?php if ($block->isOptionSelected(
                                                        $attribute,
                                                        $option
                                                    )) : ?>
                                                        selected
                                                    <?php endif; ?>
                                                        value="<?= (int)$option['value'] ?>">
                                                    <?= $block->escapeHtml(
                                                        $option['label']
                                                    ); ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </form>
                        <div class="amlocator-actions">
                            <button class="amlocator-button filter-attribute"
                                    title="<?= $block->escapeHtml(__('Filter')) ?>"
                                    id="<?= $block->escapeHtml($block->getAttributeFilterId()); ?>">
                                <?= $block->escapeHtml(__('Filter')); ?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="amlocator-block -storelistNew amlocator-store-list">
                <?= $block->getLeftBlockHtml(); ?>
            </div>
        <?php endif; ?>
    </div>
</div>
<script>
    var allCountries =  <?= $countryHelper->getJsonLocations($block->getLocationCollection()) ?>;
    require([
                'jquery',
                'MageAssist_Storelocator/js/main',
                'Amasty_Storelocator/js/cluster',
                'domReady!',
                'https://maps.googleapis.com/maps/api/js?libraries=places&key=<?= $block->escapeHtml(
                    $block->configProvider->getApiKey()
                ); ?>'
            ], function ($) {
        var mapId = "#" + "<?= $block->escapeHtml($block->getMapId()); ?>";
        $(mapId).amLocator({
                               baloonTemplate: <?= /* @noEscape */ $block->getBaloonTemplate(); ?>,
                               amMediaUrl: "<?= $block->escapeHtml($block->getAmStoreMediaUrl()); ?>",
                               mapZoom: <?= $block->escapeHtml($block->getMapZoom()); ?>,
                               productId: "<?= (int)$block->getProductId() ?>",
                               categoryId: "<?= (int)$block->getCategoryId() ?>",
                               locatorPageUrl: "<?= $block->escapeHtml($block->getLinkToMap()); ?>",
                               automaticLocate: "<?= (bool)$block->getAutomaticLocate(); ?>",
                               enableClustering: "<?= (bool)$block->getClustering(); ?>",
                               enableCountingDistance: "<?= (bool)$block->getCountingDistance(); ?>",
                               distanceConfig: "<?= $block->escapeHtml($block->getDistanceConfig()); ?>",
                               useGeoConfig: "<?= (bool)$block->getGeoUse()?>",
                               allowedCountries: <?= /* @noEscape */ $block->getAllowedCountries(); ?>,
                               ajaxCallUrl: "<?= $block->escapeHtml(
                                   $block->getUrl('amlocator/index/ajax') . $block->getQueryString()
                               ); ?>",
                               useBrowserLocation: "<?= (bool)$block->getUseBrowserLocation()?>",
                               jsonLocations: allCountries ,
                               imageLocations: "<?= $block->escapeHtml(
                                   $block->getViewFileUrl('Amasty_Storelocator::images/')
                               ); ?>",
                               searchButtonId: "<?= $block->escapeHtml($block->getSearchButtonId()); ?>",
                               searchRadiusId: "<?= $block->escapeHtml($block->getSearchRadiusId()); ?>",
                               searchId: "<?= $block->escapeHtml($block->getSearchId()); ?>",
                               filtersId: "<?= $block->escapeHtml($block->getFiltersId()); ?>",
                               resetButtonId: "<?= $block->escapeHtml($block->getResetButtonId()); ?>",
                               attributeFilterId: "<?= $block->escapeHtml(
                                   $block->getAttributeFilterId()
                               ); ?>",
                               nearbyButtonId: "<?= $block->escapeHtml($block->getNearbyButtonId()); ?>",
                               amLatId: "<?= $block->escapeHtml($block->getAmLatId()); ?>",
                               amLngId: "<?= $block->escapeHtml($block->getAmLngId()); ?>",
                               storeListId: "<?= $block->escapeHtml($block->getStoresListId()); ?>",
                               mapId: "<?= $block->escapeHtml($block->getMapId()); ?>",
                               showSearch: <?= (int)$block->getShowSearch(); ?>,
                               <?php if ($block->getRadiusType() == 'range') :?>
                               isRadiusSlider: <?= $block->escapeHtml($block->getRadiusType()) == 'range'?>,
                               maxRadiusValue: <?= (int)$block->getMaxRadiusValue(); ?>,
                               minRadiusValue: <?= (int)$block->getMinRadiusValue(); ?>,
                               measurementRadius: "<?= ($block->getDistanceConfig() != 'choose') ?
                                   $block->escapeHtml($block->getDistanceConfig()) : ''?>"
                               <?php endif;?>
                           });
    });
</script>
