<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Currency switcher
 *
 * @var \Magento\Directory\Block\Currency $block
 */
?>
<?php
if ($block->getCurrencyCount() > 1):
$label = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral')->getCustomThemeOptionCnf('coccinelle_currency_switcher', 'currency_switcher_label');
$currency_status = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral')->getCustomThemeOptionCnf('coccinelle_currency_switcher', 'currency_switcher_status');
?>
<?php $currencies = $block->getCurrencies(); ?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''; ?>
<div class="dropdown-item currency">
  <div class="currency switcher-currency header-switcher" id="switcher-currency<?php /* @escapeNotVerified */ echo $id?>">
      <?php if($label){ ?>
          <strong class="label switcher-label"><span><?php /* @escapeNotVerified */ echo __('Currency') ?></span></strong>
      <?php } ?>
    <?php if($currency_status == 'currency_images'){ ?>
      <div class="actions dropdown options switcher-options">
        <ul class="form-currency">
          <?php foreach ($currencies as $_code => $_name): ?>
            <?php if ($_code == $currentCurrencyCode): ?>
              <li class="currency-<?php echo $_code ?> switcher-option">
                <span><?php echo $_code.' - '.$_name ?></span>
              </li>
            <?php endif; ?>
          <?php endforeach; ?>
          <?php foreach ($currencies as $_code => $_name): ?>
            <?php if ($_code != $currentCurrencyCode): ?>
               <li class="currency-<?php echo $_code ?> switcher-option">
                 <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getSwitchCurrencyPostData($_code); ?>'>
                  <?php // echo $block->getSymbol($_code); ?>
                  <?php echo $_code.' - '.$_name ?>
                 </a>
               </li>
              <?php endif; ?>
            <?php endforeach; ?>
          </ul>
      </div>
      <?php } else { ?>
        <div class="actions dropdown options switcher-options">
          <div class="action toggle switcher-trigger" id="switcher-currency-trigger<?php /* @escapeNotVerified */ echo $id?>">
              <strong class="language-<?php echo $block->escapeHtml($block->getCurrentCurrencyCode()) ?>">
                  <span><?php echo $block->escapeHtml($currentCurrencyCode) ?> - <?php echo @$block->escapeHtml($currencies[$currentCurrencyCode]) ?></span>
                  <i class="meigee-drop"></i>
              </strong>
          </div>
          <ul class="dropdown switcher-dropdown" data-mage-init='{"dropdownDialog":{
              "appendTo":"#switcher-currency<?php /* @escapeNotVerified */ echo $id?> > .options",
              "triggerTarget":"#switcher-currency-trigger<?php /* @escapeNotVerified */ echo $id?>",
              "closeOnMouseLeave": false,
              "triggerClass":"active",
              "parentClass":"active",
              "buttons":null}}'>
              <?php foreach ($currencies as $_code => $_name): ?>
                  <?php if ($_code != $currentCurrencyCode): ?>
                      <li class="currency-<?php /* @escapeNotVerified */ echo $_code ?> switcher-option">
                          <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getSwitchCurrencyPostData($_code); ?>'><?php /* @escapeNotVerified */ echo $_code ?> - <?php /* @escapeNotVerified */ echo $_name ?></a>
                      </li>
                  <?php endif; ?>
              <?php endforeach; ?>
          </ul>
        </div>
      <?php } ?>
  </div>
</div>
<?php endif; ?>
