/*Cookie Notice*/
body.with-notice-cookie-block {
  padding-bottom: 335px;
  @media @mobile {
    padding-bottom: 345px;
  }
}
#notice-cookie-block {
  background-color: #fff;
  border: none;
  z-index: 23;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 44px;
    margin-bottom: 22px;
    @media @mobile {
      margin-top: 24px;
      font-size: 20px;
    }
  }
  p {
    font-family: @font-second;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    line-height: 30px;
    @media @tablet-v {
      font-size: 14px;
    }
    @media @mobile {
      font-size: 13px;
      line-height: 24px;
    }
    a {
      color:inherit;
      text-decoration: underline;
      &:visited {
        color: inherit;
      }
      &:hover,
      &:active,
      &:focus {
        color: rgba(0,0,0,0.8);
      }
    }
  }
  .actions {
    .btn {
      min-height: 50px;
      padding: 14px 48px;
      margin-top: 20px;
      margin-bottom: 48px;
      @media @mobile {
        margin-bottom: 20px;
        margin-top: 15px;
        padding: 9px 25px;
        min-height: 40px;
      }
    }
  }
}
