<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $meigee_front_helper = $this->helper('Meigee\Coccinelle\Helper\FrontHelper');
    $type = 'widget-new-list';

    $mode = 'list';

    $image = 'new_products_content_widget_list';
    $image_lightbox = 'image_lightbox';
    $title = $block->getTitle() ? __($block->getTitle()) : '';

    $widget_type = $this->getData('widget_type');
    if($widget_type == 'bestsellers') {
        $items = $block->getBestSellersCollection()->getItems();
    } elseif($widget_type == 'newproducts') {
        $items = $block->getNewProductsCollection()->getItems();
    } elseif($widget_type == 'featuredcategory') {
        $items = $block->getFeaturedCategoryProductsCollection()->getItems();
    } elseif($widget_type == 'saleproducts') {
        $items = $block->getSaleProductsCollection()->getItems();
    } else {
        $items = $block->getProductCollection()->getItems();
    }

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
	
    $lightbox_status = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral')->getCustomThemeOptionCnf('coccinelle_lightbox', 'lightbox_status');
    $lightbox_widget_status = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral')->getCustomThemeOptionCnf('coccinelle_lightbox', 'lightbox_home');
    $meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
    $stock_status = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral')->getCustomThemeOptionCnf('coccinelle_product_listing', 'stock_status');
    $rand = rand(5, 1500);
    $quickview_status = $meigee_front_helper->getConfig('weltpixel_quickview/general/enable_product_listing');
    $quickview_btn = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'quickview_btn');
    $widget_id = $block->getWidgetId();
    if(isset($widget_id)){
        $type_price = 'widget-product-list-'.$widget_id;
    }else{
        $type_price = $type;
    }

    $labels_type = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_type');
    $label_new = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_new');
    $label_sale = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_sale');
    $label_sale_percentage = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_sale_percentage');

    $image_hover_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_image_hover', 'image_hover_status');
    $image_hover_effect = $meigee_helper->getCustomThemeOptionCnf('coccinelle_image_hover', 'image_hover_type');

    $front_helper = $this->helper('\Meigee\Coccinelle\Helper\FrontHelper');
	
	$showName = $block->getOptionVal('product_name');
	$showPrice = $block->getOptionVal('product_price');
	$showCart = $block->getOptionVal('add_to_cart');
	$showWishlist = $block->getOptionVal('wishlist');
	$showCompare = $block->getOptionVal('compare');
}
?>

<?php if ($exist):?>
    <div class="block widget block-new-products meigee-widget footer-list <?= /* @escapeNotVerified */ $mode ?>">
        <div class="block-title">
            <strong role="heading" aria-level="2"><?= /* @escapeNotVerified */ $title ?></strong>
        </div>
        <div class="block-content">
            <?= /* @escapeNotVerified */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @escapeNotVerified */ $mode ?> <?= /* @escapeNotVerified */ $mode ?>">
                <ol class="product-items <?= /* @escapeNotVerified */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <div class="image-wrapper">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                    <?php
                                    $hoverImage = $image_hover_status ? $_item->getHoverImage() : false;
                                        if ($hoverImage)
                                        {
                                            $hoverImageUrl = $this->helper('Magento\Catalog\Helper\Image')
                                                              ->init($_item, 'hover_image')
                                                              ->setImageFile($hoverImage)
                                                              ->getUrl();
                                            $productImage = $block->getImage($_item, $image, array('data-hover-image'=>$hoverImageUrl));
                                        }
                                        else
                                        {
                                            $productImage = $block->getImage($_item, $image, array('data-hover-image'=>null));
                                        }
                                        echo $productImage->toHtml();
                                    ?>
                                </a>
                                <?php
                                    if($front_helper->isProductNew($_item) || $front_helper->isProductSale($_item) || $front_helper->isProductOnlyLeft($_item)){
                                        echo '<div class="product-labels clearfix '.$labels_type.' '.(($front_helper->isProductNew($_item) && $front_helper->isProductSale($_item)) || ($front_helper->isProductNew($_item) && $front_helper->isProductOnlyLeft($_item)) ? ' two-items' : '').'">';
                                            if($front_helper->isProductNew($_item) && $label_new) {
                                                echo '<span class="label-new">'.__('new').'</span>';
                                            }
                                            if ($front_helper->isProductOnlyLeft($_item) && $label_sale) {
                                                echo $front_helper->isProductOnlyLeft($_item);
                                            }
                                            elseif($front_helper->getProductSalePercent($_item) && $label_sale) {
                                                echo $front_helper->getProductSalePercent($_item);
                                            } elseif ($front_helper->isProductSale($_item) && $label_sale) {
                                                echo '<span class="label-sale">'.__('sale').'</span>';
                                            }
                                        echo '</div>';
                                    }
                                ?>
                                <?php if($quickview_btn && $quickview_status) { ?>
                                    <div class="actions-hover-buttons">                                                
                                        <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_item->getEntityId()); ?>" class="btn btn-primary weltpixel-quickview"><i class="meigee-quickview"></i><span><?php /* @escapeNotVerified */ echo __('Quick view') ?></span></a>
                                    </div>
                                <?php } ?>

                                <?php if (!$_item->getIsSalable()): ?>
                                    <div class="sold-out-label">
                                        <span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span>
                                    </div>
                                <?php endif; ?>
                            </div>
                                    <div class="product-item-details">
                                        <?php echo ($showPrice ? $block->getProductPriceHtml($_item, $type) : ''); ?>
                                        <?php if($showName) { ?>
                                            <strong class="product-item-name">
                                                <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                                   href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                                   class="product-item-link">
                                                    <?= $block->escapeHtml($_item->getName()) ?>
                                                </a>
                                            </strong>
                                        <?php } ?>
                                        <?php if($stock_status != 4 && $stock_status != 2) {
                                            if ($_item->getIsSalable()): ?>
                                                <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                            <?php else: ?>
                                                <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                            <?php endif;
                                        } ?>
                                        <?php if ($templateType): ?>
                                            <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                        <?php endif; ?>
                                        <div class="product-action-wrapper">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                    <button class="btn btn-default btn-cart action tocart"
                                                            data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                        <i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php else: ?>
                                                    <?php
                                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                    ?>
                                                    <button class="btn btn-default btn-cart"
                                                            data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                        <i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" title="<?php echo __('Read more') ?>" class="btn btn-default"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
                                            <?php endif; ?>   
                                            <?php if ($showWishlist || $showCompare || $lightbox_status && $lightbox_widget_status): ?>
                                                <div class="action-secondary">                                                    
                                                    <?php if ($showWishlist || $showCompare): ?>
                                                        <div class="add-to-links" data-role="add-to-links">
                                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                                <a href="#"
                                                                   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                                   class="action towishlist" data-action="add-to-wishlist"
                                                                   title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                                </a>
                                                            <?php endif; ?>
                                                            <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                                <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                                    <a href="#" class="action tocompare"
                                                                       data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                                       title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                                        <i class="meigee-compare"></i>
                                                                    </a>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>  
                                                    <?php if($lightbox_status && $lightbox_widget_status){ ?>
                                                        <a href="<?php echo $block->getImage($_item, $image_lightbox)->getImageUrl();  ?>" class="lightbox-button" data-toggle="lightbox" data-footer="<?php echo $block->escapeHtml($_item->getName()); ?>" title="<?php echo __('Lightbox'); ?>">
                                                            <i class="meigee-zoom"></i>
                                                        </a>
                                                    <?php } ?>
                                                </div>
                                            <?php endif; ?>  

                                        </div>


                                        <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Catalog::product/product_timer.phtml")->setProduct($_item)->toHtml(); ?>
                                    </div>
                        </div>
                        <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
