<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $type = 'widget-new-list';

    $mode = 'list';

    $image = 'new_products_content_widget_list';
    $image_lightbox = 'image_lightbox';
    $title = __('New Products');
    $items = $block->getProductCollection()->getItems();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = true;

	$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
    $lightbox_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_lightbox', 'lightbox_status');
    $lightbox_widget_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_lightbox', 'lightbox_home');

	$front_helper = $this->helper('\Meigee\Coccinelle\Helper\FrontHelper');
}
?>

<?php if ($exist):?>
    <div class="block widget block-new-products <?= /* @escapeNotVerified */ $mode ?>">
        <div class="block-title">
            <strong role="heading" aria-level="2"><?= /* @escapeNotVerified */ $title ?></strong>
        </div>
        <div class="block-content">
            <?= /* @escapeNotVerified */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @escapeNotVerified */ $mode ?> <?= /* @escapeNotVerified */ $mode ?> product-hover-1">
                <ol class="product-items <?= /* @escapeNotVerified */ $type ?>">
                    <?php foreach ($items as $_item): ?>
                        <li class="product-item">
							<div class="product-item-info">
								<div class="image-wrapper">
									<a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product-item-photo">
										<?= $block->getImage($_item, $image)->toHtml() ?>
									</a>
									<?php if ($showWishlist): ?>
										<div class="add-to-links" data-role="add-to-links">
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
												<a href="#"
												   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
												   class="action towishlist" data-action="add-to-wishlist"
												   title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
												</a>
											<?php endif; ?>
										</div>
									<?php endif; ?>

									<?php if ( $showCart ) : ?>
										<div class="actions-hover-buttons">
											<?php if($showCart){ ?>
												<?php if ($_item->isSaleable()): ?>
													<?php if (!$_item->getTypeInstance()->isPossibleBuyFromList($_item)): ?>
														<button class="btn btn-default btn-cart action tocart"
																data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
																type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
															<i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													<?php else: ?>
														<?php
															$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
															$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
														?>
														<button class="btn btn-default btn-cart"
																data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
																type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
															<i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													<?php endif; ?>
												<?php else: ?>
													<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" title="<?php echo __('Read more') ?>" class="btn btn-default"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
												<?php endif; ?>
											<?php } ?>
										</div>
									<?php endif; ?>

									<?php if ($showCompare || ($lightbox_status && $lightbox_widget_status)): ?>
										<div class="hover-buttons">
											<?php if ($showCompare): ?>
												<div class="add-to-links" data-role="add-to-links">
													<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
														<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
														<a href="#" class="action tocompare"
														   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
														   title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
															<i class="meigee-compare"></i>
														</a>
													<?php endif; ?>
												</div>
											<?php endif; ?>  
											<?php if($lightbox_status && $lightbox_widget_status){ ?>
												<a href="<?php echo $block->getImage($_item, $image_lightbox)->getImageUrl();  ?>" class="lightbox-button" data-toggle="lightbox" data-footer="<?php echo $block->escapeHtml($_item->getName()); ?>" title="<?php echo __('Lightbox'); ?>">
													<i class="meigee-zoom"></i>
												</a>
											<?php } ?>                                    
										</div>
									<?php endif; ?> 

									<?php if (!$_item->getIsSalable()): ?>
										<div class="sold-out-label">
											<span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span>
										</div>
									<?php endif; ?>
								</div>
								<div class="product-item-details">
									<?= $block->getProductPriceHtml($_item, $type) ?>
									<strong class="product-item-name">
										<a title="<?= $block->escapeHtml($_item->getName()) ?>"
										   href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>"
										   class="product-item-link">
											<?= $block->escapeHtml($_item->getName()) ?>
										</a>
									</strong>

									<?php if ($_item->getIsSalable()): ?>
										<div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
									<?php endif; ?>

									<?php if ($templateType): ?>
										<?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
									<?php endif; ?>
									
									<?php if ($description):?>
										<div class="product-item-description">
											<?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
											<a title="<?= $block->escapeHtml($_item->getName()) ?>"
											   href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>"
											   class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
										</div>
									<?php endif; ?>
								</div>
							</div>
						</li>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
