<div class="payment-option opc-payment-additional comment last">
    <div class="payment-option-title field choice" data-role="title">
        <span class="order-note-title" role="heading" aria-level="2">
            <!-- ko i18n: 'Order Comment'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko template: 'Bold_OrderComment/checkout/form-content' --><!-- /ko -->
    </div>
</div>