@font-face {
  font-family: 'meigeeadditional';
  src:  url('../fonts/meigeeadditional.eot?kr21aw');
  src:  url('../fonts/meigeeadditional.eot?kr21aw#iefix') format('embedded-opentype'),
    url('../fonts/meigeeadditional.ttf?kr21aw') format('truetype'),
    url('../fonts/meigeeadditional.woff?kr21aw') format('woff'),
    url('../fonts/meigeeadditional.svg?kr21aw#meigeeadditional') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="meigeeadditional-"], [class*=" meigeeadditional-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meigeeadditional' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meigeeadditional-check-new {
	&:before {
		content: "\e900";
	}
}
.meigeeadditional-grid-2 {
	&:before {
		content: "\e901";
	}
}
.meigeeadditional-grid-3 {
	&:before {
		content: "\e902";
	}
}
.meigeeadditional-grid-4 {
	&:before {
		content: "\e903";
	}
}
.meigeeadditional-grid-5 {
	&:before {
		content: "\e904";
	}
}
.meigeeadditional-grid-6 {
	&:before {
		content: "\e905";
	}
}
.meigeeadditional-grid-7 {
	&:before {
		content: "\e906";
	}
}
.meigeeadditional-grid-8 {
	&:before {
		content: "\e907";
	}
}
.meigeeadditional-size {
	&:before {
		content: "\e908";
	}
}
.meigeeadditional-author {
	&:before {
		content: "\e909";
	}
}
.meigeeadditional-category {
	&:before {
		content: "\e90a";
	}
}
.meigeeadditional-clock {
	&:before {
		content: "\e90b";
	}
}
.meigeeadditional-comment {
	&:before {
		content: "\e90c";
	}
}
.meigeeadditional-post_icon {
	&:before {
		content: "\e90d";
	}
}
.meigeeadditional-star {
	&:before {
		content: "\e90e";
	}
}
.meigeeadditional-accessories {
	&:before {
		content: "\e90f";
	}
}
.meigeeadditional-account {
	&:before {
		content: "\e910";
	}
}
.meigeeadditional-add-to-cart {
	&:before {
		content: "\e911";
	}
}
.meigeeadditional-arrow_right {
	&:before {
		content: "\e912";
	}
}
.meigeeadditional-arrow-left {
	&:before {
		content: "\e913";
	}
}
.meigeeadditional-cart {
	&:before {
		content: "\e914";
	}
}
.meigeeadditional-chat {
	&:before {
		content: "\e915";
	}
}
.meigeeadditional-chat-thin {
	&:before {
		content: "\e916";
	}
}
.meigeeadditional-close {
	&:before {
		content: "\e917";
	}
}
.meigeeadditional-close-newsletter {
	&:before {
		content: "\e918";
	}
}
.meigeeadditional-clothing {
	&:before {
		content: "\e919";
	}
}
.meigeeadditional-compare {
	&:before {
		content: "\e91a";
	}
}
.meigeeadditional-coupon {
	&:before {
		content: "\e91b";
	}
}
.meigeeadditional-coupon-arrow {
	&:before {
		content: "\e91c";
	}
}
.meigeeadditional-drop {
	&:before {
		content: "\e91d";
	}
}
.meigeeadditional-drop-right {
	&:before {
		content: "\e91e";
	}
}
.meigeeadditional-edit {
	&:before {
		content: "\e91f";
	}
}
.meigeeadditional-edit-cart {
	&:before {
		content: "\e920";
	}
}
.meigeeadditional-electronics {
	&:before {
		content: "\e921";
	}
}
.meigeeadditional-envelope {
	&:before {
		content: "\e922";
	}
}
.meigeeadditional-envelope-thin {
	&:before {
		content: "\e923";
	}
}
.meigeeadditional-furniture {
	&:before {
		content: "\e924";
	}
}
.meigeeadditional-glasses {
	&:before {
		content: "\e925";
	}
}
.meigeeadditional-health-products {
	&:before {
		content: "\e926";
	}
}
.meigeeadditional-household-product {
	&:before {
		content: "\e927";
	}
}
.meigeeadditional-leisure {
	&:before {
		content: "\e928";
	}
}
.meigeeadditional-musical-instruments {
	&:before {
		content: "\e929";
	}
}
.meigeeadditional-navicon {
	&:before {
		content: "\e92a";
	}
}
.meigeeadditional-percent {
	&:before {
		content: "\e92b";
	}
}
.meigeeadditional-plane {
	&:before {
		content: "\e92c";
	}
}
.meigeeadditional-planet {
	&:before {
		content: "\e92d";
	}
}
.meigeeadditional-quickview {
	&:before {
		content: "\e92e";
	}
}
.meigeeadditional-search {
	&:before {
		content: "\e92f";
	}
}
.meigeeadditional-search-close {
	&:before {
		content: "\e930";
	}
}
.meigeeadditional-smartphones {
	&:before {
		content: "\e931";
	}
}
.meigeeadditional-star2 {
	&:before {
		content: "\e932";
	}
}
.meigeeadditional-stationery {
	&:before {
		content: "\e933";
	}
}
.meigeeadditional-to-top {
	&:before {
		content: "\e934";
	}
}
.meigeeadditional-truck {
	&:before {
		content: "\e935";
	}
}
.meigeeadditional-windows {
	&:before {
		content: "\e936";
	}
}
.meigeeadditional-wishlist {
	&:before {
		content: "\e937";
	}
}
.meigeeadditional-zoom {
	&:before {
		content: "\e938";
	}
}
.meigeeadditional-wishlist-fill {
	&:before {
		content: "\e939";
		color: #f44336;
	}
}
.meigeeadditional-support {
	&:before {
		content: "\e93a";
	}
}
.meigeeadditional-sort-up {
	&:before {
		content: "\e93b";
	}
}
.meigeeadditional-sort-down {
	&:before {
		content: "\e93c";
	}
}
.meigeeadditional-small-arrow-right {
	&:before {
		content: "\e93d";
	}
}
.meigeeadditional-plus {
	&:before {
		content: "\e93e";
	}
}
.meigeeadditional-nav {
	&:before {
		content: "\e93f";
	}
}
.meigeeadditional-minus {
	&:before {
		content: "\e940";
	}
}
.meigeeadditional-email {
	&:before {
		content: "\e941";
	}
}
.meigeeadditional-close-small {
	&:before {
		content: "\e942";
	}
}
.meigeeadditional-arrow {
	&:before {
		content: "\e943";
	}
}
.meigeeadditional-arrow-right {
	&:before {
		content: "\e944";
	}
}