<?php
/**
 * Nicola Bisinella - Asimmetrica
 * nicola.bisinella@asimmetrica.com
 */

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) {
    $storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
?>


<div class="custom-label-modal">
    <a class="action" data-trigger="custom-label-modal">
        <span><?= $block->escapeHtml(__('How it works Lightech stock management')); ?></span>
    </a>
    <div data-bind="mageInit: {
            'Magento_Ui/js/modal/modal':{
                'type': 'popup',
                'trigger': '[data-trigger=custom-label-modal]',
                'responsive': true,
                'buttons': []
            }}">
        <div class="custom-label-modal-content">
            <img 
                src="<?php echo $block->getViewFileUrl('images').'/Stock_Legend_'.strtoupper($block->escapeHtml($storeManager->getStore()->getCode())); ?>.jpg" 
                alt="<?php echo $block->escapeHtml($storeManager->getStore()->getName()) ?>" 
                width="801"
                height="386">
        </div>
    </div>
</div>
<?php
}
?>