.search-autocomplete {
  z-index: 999;
  @media @sm-and-down {
    max-height: 50vh;
    overflow-y: auto;
  }
  dl {
    dt {
      &:not(:empty) {
        .lib-css(background, #f0f0ee);
        font-family: @font-second;
        font-size: 16px;
        font-weight: 400;
        border-color: #e8e8e8;
      }
    }
    dd {
      &:not(:empty) {
        border-color: #e8e8e8;
        border-top: 0;
      }
      &:hover,
      &.selected {
        .lib-css(background, #f0f0ee);
      }
    }
  }
}