/*Cart Page ===================================================================*/
body {
  &.checkout-cart-index {
    &.boxed-layout,
    &.wide-layout {
      background-color: #fff;
    }
  }
}
.checkout-cart-index {
  .page-title-wrapper {
    .page-title {
      letter-spacing: -0.2px;
      margin-bottom: 10px;
    }
  }
  .page-header {
    border-bottom: none;
    .top-block,
    .menu-wrapper {
      display: none;
    }
    .logo {
      padding-left: 0;
    }
  }
}
.cart-container {
  display: block;
  .cart-main-col {
    display: block;
    float: none;
    padding-right: 0;
    width: 100%;
    @media @desktop {
      width: 75%;
      padding-right: 20px;
      float: left;
    }
  }
  .form-cart {
    padding-right: 0;
    width: 100%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    .cart.table-wrapper {
      border-top: none;
      #shopping-cart-table {
        thead {
          @media @mobile {
            display: none;
          }
          tr {
            th.col {
              border-bottom: none;
              color: rgba(0,0,0,0.4);
              font-size: 13px;
              font-family: @font-second;
              font-weight: 400;
              padding-bottom: 0;
              &.price-wrapper,
              &.price,
              &.qty,
              &.subtotal {
                text-align: center;
              }
              @media @sm-and-up {
                &.item {
                  padding-left: 0;
                }
                &.actions {
                  padding-right: 0;
                }
              }
            }
          }
        }
        tbody.item {
          @media @mobile {
            padding: 30px 0;
            display: block;
            border-color: rgba(0,0,0,0.1);
          }
          .item-info {
            @media @mobile {
              width: 100%;
              display: block;
            }
            td.col {
              padding: 30px 10px;
              border-color: rgba(0,0,0,0.1);
              &.subtotal,
              &.price-wrapper {
                min-width: 140px;
                text-align: center;
                @media @mobile {
                  text-align: left;
                }
              }
              @media @desktop {
                &.item {
                  max-width: 410px;
                }
              }
              @media @mobile {
                width: 100%;
                display: block;
                float: none;
                text-align: left;
                padding: 5px 20px;
                &.qty,
                &.subtotal,
                &.price-wrapper,
                &.price,
                &.msrp {
                  &:before {
                    content: attr(data-th);
                    display: inline-block;
                    vertical-align: middle;
                    color: rgba(0,0,0,0.4);
                    font-family: @font-second;
                    font-weight: 600;
                    padding-bottom: 0;
                    margin-right: 8px;
                    font-size: 12px;
                    line-height: normal;
                  }
                  & > * {
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
              }
              @media @sm-and-up {
                &.item {
                  padding-left: 0;
                }
                &.actions {
                  padding-right: 0;
                  padding-left: 0;
                }
              }
            }
            .product-item-photo {
              max-width: 205px;
              .product-image-container {
                display: block;
              }
              @media @tablet-v {
                max-width: 105px;
              }
              @media @mobile {
                position: static;
                display: block;
                width: 100% !important;
                max-width: 100%;
                text-align: center;
                margin-bottom: 15px;
                .product-image-container {
                  width: auto !important;
                  padding: 0;
                }
              }
            }
            .product-item-details {
              .product-item-name {
                margin-bottom: 15px;
                padding-right: 20px;
                a {
                  font-family: @font-main;
                  font-weight: 400;
                  font-size: 16px;
                  color: rgba(0,0,0,0.8);
                }
                & + .item-options {
                  margin-top: 10px;
                }
              }
              .item-options {
                color: rgba(0,0,0,0.6);
                font-size: 13px;
                font-family: @font-second;
                line-height: 20px;
                dt {
                  font-weight: 400;
                  font-size: inherit;
                  color: inherit;
                  margin-right: 5px;
                  margin-bottom: 0;
                }
              }
              .actions-block {
                a.action-towishlist {
                  text-decoration: none;
                  padding: 0;
                  display: inline-block;
                  position: static;
                  top: 30px;
                  right: 10px;
                  margin-right: 0;
                  color: rgba(0,0,0,0.6);
                  &:before {
                    content: "\e914";
                    font-family: 'meigee';
                    font-size: 18px;
                    color: inherit;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: normal;
                    margin-right: 5px;
                  }
                  span {
                    display: inline-block;
                    vertical-align: middle;
                    position: static;
                    width: auto;
                    height: auto;
                  }
                  &:hover {
                    background-color: transparent;
                    color: #f72525;
                    &:before {
                      content: '\e915';
                    }
                  }
                }
              }
            }
            .price {
              font-size: 18px;
              line-height: 40px;
              font-family: @font-second;
              color: rgba(0,0,0,0.8);
              font-weight: 500;
            }
            .field.qty {
              .qty-box {
                display: block;
                width: 120px;
                background-color: rgba(0,0,0,0.04);
                div.quantity-decrease,
                div.quantity-increase {
                  width: 40px;
                  height:40px;
                  line-height: 40px;
                  font-size: 20px;
                  color: rgba(0,0,0,0.33);
                  background-color: transparent;
                  display: block;
                  float: left;
                  text-align: center;
                  cursor: pointer;
                  &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                  }
                }
                input {
                  width: 40px;
                  height: 40px;
                  margin: 0;
                  display: block;
                  float: left;
                  font-size: 18px;
                  line-height: 40px;
                  font-family: @font-second;
                  color: rgba(0,0,0,0.8);
                  background-color: transparent;
                  border: none;
                }
              }
            }
            .cart-actions {
              display: block;
              min-width: 70px;
              padding-top: 5px;
              a.action {
                display: block;
                float: left;
                color: rgba(0,0,0,0.3);
                text-decoration: none;
                margin-right: 0;
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 24px;
                text-align: center;
                i {
                  font-size: inherit;
                  line-height: inherit;
                  color: inherit;
                }
                &:hover {
                  color: rgba(0,0,0,0.3);
                  background-color: rgba(0,0,0,0.1);
                  text-decoration: none;
                }
                & + a {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
    .actions.main {
      padding-top: 10px;
      @media @mobile {
        padding: 10px 20px 0;
      }
      .continue {
        display: inline-block;
        text-decoration: none;
        float: left;
      }
      .clear {
        display: inline-block;
        margin-right: 15px;
      }
      @media @mobile {
        .clear,
        .continue,
        .update {
          float: none;
          width: 100%;
          display: block;
          margin: 0 0 10px;
        }
      }
    }
  }
  .crosssell-wrapper {
    padding-right: 0;
    padding-top: 15px;
    width: 100%;
    float: left;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    .block.crosssell {
      width: 100%;
      padding: 0;
      .block-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.11;
        color: rgba(0, 0, 0, 0.8);
        font-family: @font-main;
        margin: 0;
        text-transform: none;
        position: relative;
        letter-spacing: -0.4px;
        strong {
          font: inherit;
        }
        .icon-more {
          display: none !important;
        }
        @media @mobile {
          padding-left: 10px;
        }
      }
      .block-content {
        .products-grid {
          @media @desktop {
            margin: 0 0 0 -10px;
          }
          .product-item {
            @media @sm-and-up {
              width: 24.9%;
            }
          }
          .product-reviews-summary {
            .reviews-actions {
              display: none;
            }
          }
        }
      }
    }
  }
  .cart-summary {
    padding: 0;
    background-color: transparent;
    top: 0 !important;
    width: 100%;
    float: left;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
    @media @desktop {
      width: 25%;
      float: right;
    }
    @media @mobile {
      padding: 0 10px;
    }
    .totals-wrapper {
      padding: 30px;
      background-color: rgba(76,175,80,0.1);
      margin-bottom: 20px;
      @media @tablet-h {
        width: calc(~"50% - " 20px);
        float: left;
        margin-right: 10px;
      }
      @media @tablet-v {
        width: calc(~"50% - " 20px);
        float: left;
        margin-right: 10px;
      }
      .cart-totals {
        border-top: none;
        @media @mobile {
          padding-left: 0;
          padding-right: 0;
        }
        .table.totals {
          border-bottom: none;
          .table-caption {
            display: block;
            position: static;
            height: auto;
            width: 100%;
            font-size: 24px;
            font-family: @font-main;
            color: rgba(0,0,0,0.8);
            margin-bottom: 10px;
            text-align: left;
            font-weight: 600;
          }
          tbody,
          tfoot {
            .mark,
            .amount {
              font-family: @font-second;
              font-weight: 400;
              font-size: 14px;
              color: rgba(0,0,0,0.8);
            }
          }
          .grand {
            .mark {
              font-weight: 600;
              border-top: none;
              font-size: 14px;
              line-height: 26px;
            }
            .amount {
              font-weight: 600;
              font-size: 18px;
              border-top: none;
            }
          }
        }
      }
      .block.discount {
        .title {
          display: none;
        }
        .content {
          display: block !important;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 30px;
          @media @mobile {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 30px;
          }
          #discount-coupon-form {
            position: relative;
            label {
              display: none;
            }
            .control {
              input {
                width: 100%;
                height: 50px;
                border: 1px solid rgba(0, 0, 0, .04);
                background-color: rgba(0, 0, 0, .04);
                font-size: 14px;
                line-height: 48px;
                color: @color-body;
                &::-webkit-input-placeholder,
                &:-moz-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder,
                &::placeholder {
                  color: @color-body;
                }
                &:focus {
                  border-color: #ccc;
                  background-color: #fff;
                }
              }
            }
            .actions-toolbar {
              button.action {
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                height: 50px;
                margin-right: 0;
                padding: 0;
                border: none;
                background-color: transparent;
                box-shadow: none;
                font-size: 24px;
                line-height: 50px;
                color: @color-title;
                span {
                  display: none;
                }
                &:before {
                  content: '\e903';
                  font-family: 'meigee';
                  font-size: inherit;
                  color: inherit;
                }
                &:hover {
                  color: rgba(0,0,0,0.5);
                }
              }
            }
          }
        }
      }
      .checkout-methods-items {
        margin: 0 -30px;
        border-top: 1px dashed rgba(0,0,0,0.2);
        padding: 30px 30px 0;
        position: relative;
        &:before,
        &:after {
          content: '';
          background-color: #fff;
          height: 20px;
          width: 20px;
          border-radius: 20px;
          position: absolute;
          top: -10px;
          left: -10px;
        }
        &:after {
          left: auto;
          right: -10px;
        }
        .item {
          margin-bottom: 20px;
        }
        .action.primary.checkout {
          font-family: @font-main;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.45;
          text-transform: uppercase;
          background-color: #4caf50;
          border-color: #4caf50;
          color: #fff;
          &:hover,
          &:active,
          &:focus {
            background-color: @color-default;
            border-color: @color-default;
            color: #fff;
          }
        }
        .action.multicheckout {
          color: rgba(0,0,0,0.4);
          font-family: @font-second;
          font-size: 13px;
          text-decoration: none;
          font-weight: 400;
          &:hover,
          &:active,
          &:focus {
            background-color: transparent;
            text-decoration: underline;
            color: @color-primary;
          }
        }
      }
      .payments-wrapper {
        padding: 0 18px;
        text-align: center;
      }
    }
    #block-shipping {
      padding: 25px 30px;
      background-color: rgba(0,0,0,0.04);
      @media @tablet-h {
        width: calc(~"50% - " 20px);
        float: left;
        margin-left: 10px;
      }
      @media @tablet-v {
        width: calc(~"50% - " 20px);
        float: left;
        margin-left: 10px;
      }
      .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border: none;
        font-family: @font-main;
        font-size: 18px;
        font-weight: 600;
        color: @color-title;
        cursor: pointer;
        strong {
          font: inherit;
          display: inline-block;
          vertical-align: middle;
          margin: 0;
        }
        &:after {
          content: '\e90f';
          font-family: 'meigee';
          margin-top: 0;
          margin-left: 5px;
          line-height: 1;
          color: inherit;
          @media @mobile {
            margin-right: -15px;
          }
        }
      }
      .content {
        margin-top: 25px;
        padding: 0;
      }
      &.active {
        .title {
          &:after {
            content: '\e908';
          }
        }
      }
    }
  }
}
