html body.checkout-index-index {
  background-color: #f0f0ee;
  &.wide-layout,
  &.boxed-layout {
    .page-header {
      padding: 25px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      background-color: #f0f0ee;
      @media @mobile {
        margin-bottom: 0;
      }
      .checkout-header {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border-bottom: none;
        background-color: transparent;
        .middle-block {
          margin: 0;
          padding: 0;
          background-color: transparent;
          border-bottom: none;
          .container,
          .middle-block-inner {
            margin: 0;
            padding: 0;
            border-bottom: none;
            background-color: transparent;
          }
          .container {
            margin: 0 auto;
          }
        }
      }
    }
    #maincontent {
      background: transparent;
    }
  }
  .page-header {
    .left-block {
      float: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      @media @mobile {
        float: none;
        width: 100%;
        text-align: center;
      }
      .logo {
        padding-left: 0;
      }
    }
    .right-block {
      float: none;
      text-align: right;
      .checkout-header-custom-block {
        a {
          display: inline-block;
          vertical-align: middle;
          & + a {
            margin-left: 30px;
          }
        }
      }
    }
  }
  .page-title-wrapper {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
    height: auto;
    .page-title {
      font-size: 36px;
    }
  }
  .checkout-container {
    background-color: #fff;
    padding: 30px;
    @media @desktop {
      margin: 0;
    }
    @media @mobile {
      padding: 10px;
      margin: 0 -15px 20px;
    }
    .authentication-wrapper {
      margin-top: 0;
      @media @mobile {
        max-width: 40%;
        button.action {
          padding: 7px 15px;
          font-size: 12px;
          margin-left: 13px;
          margin-top: 20px;
        }
      }
      button.action {
        &:hover,
        &:active,
        &:focus {
          border-width: 1px;
          border-style: solid;
          border-color: inherit;
          text-decoration: none;
        }
      }
    }
    .opc-progress-bar {
      .opc-progress-bar-item {
        width: 165px;
        &:before {
          border-radius: 0 !important;
          height: 2px;
          border: none;
          background-color: #e8eaeb;
          top: 7px;
        }
        &._active {
          &:before {
            background-color: #e8eaeb;
          }
          & > span {
            color: rgba(0,0,0,0.85);
            &:after {
              background-color: #ffd631;
            }
          }
        }
        &._complete {
          & > span {
            &:after {
              background-color: #4caf50;
            }
          }
        }
        & > span {
          padding-top: 35px;
          font-family: @font-main;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1px;
          color: rgba(0,0,0,0.4);
          &:before {
            border: none;
            background-color: #e8eaeb;
            border-radius: 0;
            height: 16px;
            width: 16px;
            margin-left: -8px;
            top: 0;
          }
          &:after {
            height: 12px;
            width: 12px;
            content: '';
            margin-left: -6px;
            border: none;
            border-radius: 0;
            background-color: #e8eaeb;
            top: 2px;

          }
        }
      }
    }
    .opc-estimated-wrapper {
      background-color: transparent;
      border-top: none;
      margin: 0 -10px 15px;
      padding: 10px 20px 20px;
      .estimated-block {
        font-family: @font-main;
        font-weight: 600;
        color: rgba(0,0,0,0.8);
      }
      .minicart-wrapper {
        .action.showcart {
          &:before {
            content: '\e904';
            font-family: 'meigee';
            display: inline-block;
            vertical-align: middle;
          }
          .counter.qty {
            border-radius: 50%;
            background-color: #f72525;
            color: #ffffff;
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
            margin-left: 5px;
            min-width: 24px;
            .counter-number {
              text-shadow: none;
            }
          }
        }
      }
    }
    .opc-wrapper {
      padding-right: 10px;
      @media @tablet-h {
        width: 50%;
        #shipping {
          .shipping-address-item {
            &.selected-item {
              width: 100%;
            }
          }
        }
      }
      @media @tablet-v {
        width: 50%;
        #shipping {
          .shipping-address-item {
            &.selected-item {
              width: 100%;
            }
          }
        }
      }
      @media @mobile {
        width: 100%;
        float: none;
        padding-right: 0;
        #shipping {
          .shipping-address-item {
            &.selected-item {
              width: 100%;
            }
          }
        }
      }
      #shipping {
        .shipping-address-item {
          &.selected-item {
            width: 33.33333333%;
            margin-top: 15px;
          }
        }
      }
      #shipping,
      #opc-shipping_method {
     
        padding-right: 10px;
        @media @md-and-down {
          width: 100%;
          float: none;
        }
        @media @mobile {
          padding-right: 10px;
          padding-left: 10px;
        }
      }
      #opc-shipping_method {
        padding-left: 10px;
        .table-checkout-shipping-method {
          min-width: 405px;
          margin-top: 15px;
          tbody {
            tr {
              position: relative;
              display: block;
              padding-top: 25px;
              padding-bottom: 20px;
              margin-left: 0;
              margin-right: 0;
              &:first-child {
                td {
                  border-top: none;
                }
              }
            }
            td {
              display: inline-block;
              padding: 10px 5px;
              width: auto;
              font-size: 14px;
              font-weight: 400;
              color: rgba(0,0,0,0.8);
              .price {
                font-weight: inherit;
              }
              &:first-child {
                padding-left: 0;
                padding-right: 0;
                width: 20px;
                position: relative;
                top: -1px;
              }
              &.col-method {
                float: left;
                input[type="radio"] {
                  margin-top: 5px;
                }
              }
              &.col-carrier {
                position: absolute;
                top: -5px;
                left: 0;
                display: block;
                text-align: left;
                font-size: 14px;
                padding-left: 0;
                color: rgba(0,0,0,.8);
                font-weight: 600;
                font-family: @font-second;
              }
            }
          }
        }

      }
      .checkout-shipping-method .actions-toolbar .action.primary,
      .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary {
        font-size: 14px;
        line-height: 1.45;
        padding: 9px 22px;
        font-family: @font-main;
        font-weight: 500;
        background-color: #4caf50;
        border-color: #4caf50;
        color: #fff;
        &:hover,
        &:active,
        &:focus {
          background-color: #222;
          border-color: #222;
          color: #fff;
        }
      }
      .step-title {
        border: none;
        font-family: @font-main;
        font-size: 24px;
        font-weight: 600;
        color: rgba(0,0,0,0.8);
        padding-bottom: 0;
      }
      .form-shipping-address {
        @media @mobile {
          margin: 20px 0;
          padding: 0;
          background-color: transparent;
        }
        div.field {
          &[name="shippingAddress.firstname"],
          &[name="shippingAddress.lastname"] {
            width: 50%;
            float: left;
          }
          &[name="shippingAddress.firstname"] {
            padding-right: 10px;
          }
          &[name="shippingAddress.lastname"] {
            padding-left: 10px;
          }
          &[name="shippingAddress.telephone"] {
            .control._with-tooltip {
              .field-tooltip {
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        fieldset {
          .field {
            .label {
              font-family: @font-second;
              font-size: 14px;
              color: rgba(0,0,0,0.8);
              font-weight: 400;
            }
          }
          &.street {
            .field.additional {
              width: 50%;
              float: left;
              padding-right: 10px;
              & + .field.additional {
                padding-left: 10px;
                padding-right: 0;
              }
            }
          }
        }
      }
      .checkout-payment-method {
        .payment-option {
          .payment-option-title {
            .action-toggle {
              font-family: @font-main;
              font-size: 24px;
              font-weight: 600;
              color: rgba(0,0,0,0.8);
              &:after {
                color: inherit;
                content: "\e903";
                font-family: 'meigee';
              }

            }
          }
          &._active {
            .payment-option-title {
              .action-toggle {
                &:after {
                  content: '\e908';
                }
              }
            }
          }
          .form-discount {
            position: relative;
            margin-bottom: 20px;
            .payment-option-inner {
              margin-bottom: 0;
              .label {
                position: static;
                width: 100%;
                height: auto;
                display: block;
                font-family: @font-second;
                font-size: 14px;
                font-weight: 400;
                color: rgba(0,0,0,0.6);
                margin-bottom: 15px;
              }
              .control {
                position: relative;
                input.mage-error {
                  border-color: #f44336;
                }
                div.mage-error {
                  position: absolute;
                  bottom: -7px;
                  left: 0;
                  transform: translateY(100%);
                }
              }
            }
            .actions-toolbar {
              .action.action-apply {
                float: right;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 0;
                width: 50px;
                height: 50px;
                line-height: 48px;
                background-color: transparent;
                color: rgba(0,0,0,0.8);
                font-size: 24px;
                border: none;
                padding: 0;
                &:hover {
                  color: rgba(0,0,0,0.5);
                }
                span {
                  display: none;
                }
                &:before {
                  content: '\e903';
                  font-family: 'meigee';
                  font-size: inherit;
                  color: inherit;
                }
              }
            }
          }
        }
      }
      .checkout-shipping-method {
        #co-shipping-method-form {
          padding-top: 0;
          background-color: transparent;
          border: none;
          .actions-toolbar {
            .action.primary {
              margin-top: 0;
            }
          }
        }
      }
    }
    .opc-sidebar {
      @media @tablet-h {
        width: 50%;
        margin-top: 0;
      }
      @media @tablet-v {
        width: 50%;
        margin-top: 0;
      }
      @media @mobile {
        .modal-inner-wrap {
          background-color: #fff;
          .action-close {
            margin: 15px;
          }
          .opc-block-summary {
            margin: 0;
            min-height: 100vh;
            padding: 20px;
          }
        }
      }
      .opc-block-summary {
        margin-left: 10px;
        background-color: rgba(76, 175, 80, 0.1);
        color: rgba(0,0,0,0.6);
        padding: 30px;
        & > .title {
          font-size: 24px;
          font-family: @font-main;
          color: rgba(0, 0, 0, 0.8);
          font-weight: 600;
        }
        .table-totals {
          border: none;
          tr.totals {
            .mark,
            .amount {
              font-family: @font-second;
              font-weight: 400;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.8);
            }
            &.grand {
              .mark {
                font-weight: 600;
                border: none;
                font-size: 14px;
              }
              .amount {
                font-weight: 600;
                font-size: 18px;
                border: none;
              }
            }
          }
        }
        .block.items-in-cart {
          & > .title {
            border: none;
            strong {
              font-size: 19px;
              font-family: @font-main;
              color: rgba(0, 0, 0, 0.8);
              font-weight: 500;
            }
            &:after {
              top: 50%;
              transform: translateY(-50%);
              @media @mobile {
                content: none;
              }
            }
          }
          .content.minicart-items {
            margin-top: 5px;
            @media @mobile {
              display: block !important;
            }
            .minicart-items-wrapper {
              background-color: transparent;
              padding: 10px 0;
              margin-right: 0;
              @media @tablet-h {
                margin-right: 0;
              }
              @media @tablet-v {
                margin-right: 0;
              }
              .minicart-header {
                display: none;
              }
              .product {
                .product-image-container {
                  overflow: hidden;
                  margin: 10px 0;
                }
                .product-item-details {
                  @media @mobile {
                    .product-item-name-block,
                    .subtotal {
                      display: block;
                      width: 100%;
                      text-align: left;
                    }
                    .subtotal {
                      padding-top: 4px;
                    }
                    .toggle {
                      padding-right: 0;
                    }
                  }
                  .price,
                  .details-qty .value {
                    font-weight: 500;
                    color: rgba(0,0,0,0.8);
                  }
                }
              }
            }
          }
        }
      }
      .opc-block-shipping-information {
        @media @mobile {
          margin-top: 20px;
        }
        .shipping-information-title {
          border: none;
          font-family: @font-main;
          font-size: 24px;
          font-weight: 600;
          color: rgba(0,0,0,0.8);
          padding-bottom: 0;
          .action-edit {
            top: 50%;
            transform: translateY(-50%);
            &:before {
              content: '\e909';
              font-family: 'meigee';
            }
          }
        }
      }
    }
  }
  .modal-popup {
    .modal-footer {
      .action-hide-popup {
        font-family: @font-second;
        text-transform: none;
        color: rgba(0,0,0,0.8);
        margin-top: 0;
      }
    }
  }
}