<?php
$salesRepHelper = $this->helper('Appseconnect\B2BMage\Helper\Salesrep\Data');
?>
<?php if ($salesRepHelper->isAllow()) : ?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php /* @noEscape */ echo __('Address Book') ?></strong>
        <a class="action edit" href="<?php /* @noEscape */ echo $block->getAddressBookUrl() ?>">
        <span><?php /* @noEscape */ echo __('Manage Addresses') ?></span></a>
    </div>
    <div class="block-content">
        <div class="box box-billing-address">
            <strong class="box-title">
                <span><?php /* @noEscape */ echo __('Default Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?php echo $block->getPrimaryBillingAddressHtml() ?>
                </address>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?php /* @noEscape */ echo $block->getPrimaryBillingAddressEditUrl() ?>" 
                data-ui-id="default-billing-edit-link">
                <span><?php /* @noEscape */ echo __('Edit Address') ?></span></a>
            </div>
        </div>
        <div class="box box-shipping-address">
            <strong class="box-title">
                <span><?php /* @noEscape */ echo __('Default Shipping Address') ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?php echo $block->getPrimaryShippingAddressHtml() ?>
                </address>
            </div>
            <div class="box-actions">
                <a class="action edit" 
                href="<?php /* @noEscape */ echo $block->getPrimaryShippingAddressEditUrl() ?>" 
                data-ui-id="default-shipping-edit-link">
                <span><?php /* @noEscape */ echo __('Edit Address') ?></span></a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
