<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */

$images = $block->getGalleryImages()->getItems();
$mainImage = current(array_filter($images, function ($img) use ($block) {
    return $block->isMainImage($img);
}));

if (!empty($images) && empty($mainImage)) {
    $mainImage = $block->getGalleryImages()->getFirstItem();
}

$helper = $block->getData('imageHelper');
$mainImageData = $mainImage ?
$mainImage->getData('medium_image_url') :
$helper->getDefaultPlaceholderUrl('image');   
 
$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
$moreViewsType = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_view', 'product_more_views_type');

switch ($moreViewsType) {
	case 'list':
		$moreViewsTypeClassname = 'no-slider';
	break;
	case 'horizontal_slider':
		$moreViewsTypeClassname = 'more-views-horizontal-slider';
	break;
	case 'vertical_type_1':
		$moreViewsTypeClassname = 'more-views-vertical-slider type-1 ';
	break;
	case 'vertical_type_2':
		$moreViewsTypeClassname = 'more-views-vertical-slider type-2';
	break;
	case 'large':
		$moreViewsTypeClassname = 'more-views-large';
	break;
	default:
		$moreViewsTypeClassname = 'more-views-horizontal-slider';
	break;
}

$isRTL = $meigee_helper->getCustomThemeOptionCnf('coccinelle_layout', 'rtl_enabled');
$isRTL = $isRTL == 'rtl-enabled' ? 'true' : 'false';
?>
<div class="gallery-placeholder _block-content-loading <?php echo $moreViewsTypeClassname; ?><?php echo count($block->getGalleryImages()) == 1 ? ' single-image' : ''; ?><?php echo (count($block->getGalleryImages()) > 4 && $moreViewsType == "list") ? ' collapsed' : ''; ?>" data-gallery-role="gallery-placeholder">
    <img
        alt="main product photo"
        class="gallery-placeholder__image"
        src="<?= /* @noEscape */ $mainImageData ?>"
    />
</div>
<?php if ($moreViewsType == "list" && count($block->getGalleryImages()) > 4): ?>
    <span class="action-collapse">
        <span class="open"><?php echo __('Show more views'); ?><i class="meigee-arrow-down"></i></span>
        <span class="close"><?php echo __('Show less'); ?><i class="close meigee-arrow-up"></i></span>        
    </span>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?= /* @noEscape */ $block->getMagnifier() ?>,
                "data": <?= /* @noEscape */ $block->getGalleryImagesJson() ?>,
                "options": {
                    "nav": "<?php 
                    //Special case for gallery/nav which can be the string "thumbs/false/dots"
                    if (is_bool($block->getVar("gallery/nav"))) {
                        echo $block->getVar("gallery/nav") ? 'true' : 'false';
                    } else {
                        echo $block->escapeHtml($block->getVar("gallery/nav"));
                    }
                    ?>",
                    "loop": <?= /* @escapeNotVerified */ $block->getVar("gallery/loop") ? 'true' : 'false' ?>,
                    "keyboard": <?= /* @escapeNotVerified */ $block->getVar("gallery/keyboard") ? 'true' : 'false' ?>,
                    "arrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/arrows") ? 'true' : 'false' ?>,
                    "allowfullscreen": <?= /* @escapeNotVerified */ $block->getVar("gallery/allowfullscreen") ? 'true' : 'false' ?>,
                    "showCaption": <?= /* @escapeNotVerified */ $block->getVar("gallery/caption") ? 'true' : 'false' ?>,
					<?php if ($moreViewsType == "list"){ ?>
                        "thumbwidth": 100,
                        "thumbheight": 100,
                    <?php } elseif ($moreViewsType == "horizontal_slider"){ ?>
                        "thumbwidth": 80,
                        "thumbheight": 80,
                    <?php } elseif ($moreViewsType == "vertical_type_1"){ ?>
                        "thumbwidth": 80,
                        "thumbheight": 80,
					<?php } elseif ($moreViewsType == 'vertical_type_2'){ ?>
						"thumbwidth": 80,
                        "thumbheight": 80,
                    <?php } else { ?>
                        "thumbwidth": "<?= /* @escapeNotVerified */ (int)$block->escapeHtml($block->getImageAttribute('product_page_image_small', 'width')) ?>",
                        <?php if ($block->getImageAttribute('product_page_image_small', 'height') || $block->getImageAttribute('product_page_image_small', 'width')): ?>
							"thumbheight": <?php echo $block->getImageAttribute('product_page_image_small', 'height') ?: (int)$block->escapeHtml($block->getImageAttribute('product_page_image_small', 'width')); ?>,
                        <?php endif; ?>
                    <?php } ?>
					<?php if ($moreViewsType == 'vertical_type_1'){ ?>
                        "height" : 700,
                        "width" : 700,
                    <?php } else { ?>
                        "width": "<?= (int)$block->escapeHtml($block->getImageAttribute('product_page_image_medium', 'width')) ?>",
                        <?php if ($block->getImageAttribute('product_page_image_medium', 'height') || $block->getImageAttribute('product_page_image_medium', 'width')): ?>
						"height": <?php echo $block->getImageAttribute('product_page_image_medium', 'height')
							?: (int)$block->escapeHtml($block->getImageAttribute('product_page_image_medium', 'width')); ?>,
						<?php endif; ?>
                    <?php } ?>
                    <?php if ($block->getVar("gallery/transition/duration")): ?>
                        "transitionduration": <?= (int)$block->escapeHtml($block->getVar("gallery/transition/duration")) ?>,
                    <?php endif; ?>
                    "transition": "<?= $block->escapeHtml($block->getVar("gallery/transition/effect")) ?>",
                    "navarrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/navarrows") ? 'true' : 'false' ?>,
                    "navtype": "<?= $block->escapeHtml($block->getVar("gallery/navtype")) ?>",
					<?php if ($moreViewsType == 'vertical_type_1' || $moreViewsType == 'vertical_type_2'){ ?>
						"navdir": "vertical"
					<?php } else { ?>
						"navdir": "<?= $block->escapeHtml($block->getVar("gallery/navdir")) ?>"
					<?php } ?>
                },
                "fullscreen": <?= /* @noEscape */ $block->getGalleryOptions()->getFSOptionsJson() ?>,
                "breakpoints": <?= /* @noEscape */ $block->getBreakpoints() ?>
            },
            "Meigee_Coccinelle/js/theme_product_gallery": {
                "rtlEnabled": "<?= $block->escapeJs( $block->escapeHtml( $isRTL ) ); ?>"
			}
        }
    }
</script>