<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="add-review-link">
	<a href="#product_tabs_reviews" class="add-review"></i><?php /* @escapeNotVerified */ echo __('Add Your Review') ?></a>
</div>
