.blog-index-index,
.blog-category-view,
.blog-tag-view {
  .page-title {
    margin-bottom: 20px;
  }
}
.post-list-wrapper {
  .post-list {
    padding-left: 0;
    li.post-holder {
      padding: 0;
      background-color: transparent;
      margin: 10px;
      transition: background .3s ease, color .3s ease;
      -moz-transition: background .3s ease, color .3s ease;
      -webkit-transition: background .3s ease, color .3s ease;
      -o-transition: background .3s ease, color .3s ease;
      color: rgba(0,0,0,0.8);
      width: calc(~"33% - " 20px);
      float: left;
      .page-layout-1column &,
      .page-layout-empty & {
        &:nth-child(3n) {
          clear: right;
        }
        &:nth-child(3n + 1) {
          clear: left;
        }
      }
      .page-layout-2columns-right &,
      .page-layout-2columns-left & {
        width: calc(~"50% - " 20px);
        &:nth-child(2n) {
          clear: right;
        }
        &:nth-child(2n + 1) {
          clear: left;
        }
      }
      @media @sm-and-down {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
        .page-layout-2columns-right &,
        .page-layout-2columns-left & {
          width: 100%;
        }
      }
      &:hover {
        box-shadow: none;
        background-color: fade(@color-primary, 60%);
        color: #fff;
      }
      .post-ftimg-hld {
        width: 100%;
        display: block;
        a {
          display: block;
        }
      }
      a {
        transition: all 0s ease;
        -moz-transition: all 0s ease;
        -webkit-transition: all 0s ease;
        -o-transition: all 0s ease;
        &:hover,
        &:active,
        &:focus {
          color: #fff;
          opacity: 0.7;
        }
      }
      .post-title-holder {
        .post-title {
          margin-bottom: 15px;
          padding-bottom: 0;
          a {
            font-family: @font-main;
            font-size: 22px;
            font-weight: 600;
            line-height: 1.4;
            color: inherit;
            &:visited {
              color: inherit;
            }
            @media @mobile {
              font-size: 19px;
            }
          }
        }
      }
      .post-content {
        display: block;
        width: 100%;
        padding: 25px 25px 30px;
        color: inherit;
        position: relative;
        @media @md-and-down {
          padding-left: 15px;
          padding-right: 15px;
        }
        .post-info {
          margin-bottom: 15px;
          padding-right: 40px;
          .post-categories {
            display: inline;
            font-size: 13px;
            color: inherit;
            line-height: normal;
            white-space: nowrap;
            margin-bottom: 5px;
            margin-right: 15px;
            i {
              font-size: 11px;
              margin-right: 5px;
              color: inherit;
              line-height: normal;
            }
            .label {
              display: none;
            }
            a {
              color: inherit;
              &:visited {
                color: inherit;
                opacity: 0.8;
              }
            }
          }
          .comments {
            display: inline;
            white-space: nowrap;
            margin-bottom: 5px;
            i {
              font-size: 11px;
              margin-right: 5px;
              color: inherit;
              line-height: normal;
              display: inline-block;
              vertical-align: middle;
            }
          }
          .post-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 42px;
            z-index: -1;
            opacity: 0.05;
            color: inherit;
          }
        }
        .post-description {
          .post-text-hld {
            overflow: hidden;
            font-family: @font-second;
            font-size: 14px;
            line-height: 1.8;
            font-weight: 400;
            min-height: 1px;
            max-height: 100%;
            @media @mobile {
              font-size: 13px;
            }
          }
          .post-read-more,
          .actions {
            display: none;
          }
        }
        .post-info-bottom {
          .post-author,
          .post-date {
            display: inline;
            font-size: 13px;
            color: inherit;
            line-height: normal;
            white-space: nowrap;
            margin-bottom: 5px;
            i {
              font-size: 13px;
              margin-right: 5px;
              color: inherit;
              line-height: normal;
              display: inline-block;
              vertical-align: middle;
            }
            span {
              display: inline-block;
              vertical-align: middle;
            }
            .label {
              display: none;
            }
          }
          .post-author {
            margin-right: 15px;
          }
        }
        .post-footer {
          .tags {
            display: block;
            padding: 15px 0;
            h4 {
              color: inherit;
              display: inline;
              font-weight: 600;
            }
            ul.tags {
              display: inline;
              li {
                list-style: none;
                display: inline;
                padding: 0 8px 0 0;
                font-weight: 400;
                a {
                  opacity: 0.4;
                  &:hover,
                  &:active,
                  &:focus,
                  &:visited {
                    color: inherit;
                    opacity: 0.8;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.blog-widget-recent-masonry {
    .post-list {
      li.post-holder {
        width: 29%;
        float: left;
        @media @mobile {
          position: static !important;
          width: 100%;
          float: none;
        }
      }
      .post-header {
        padding: 25px 25px 0;
        @media @mobile {
          padding-left: 15px;
          padding-right: 15px;
        }
        .post-title {
          max-width: 100%;
          float: none;
        }
        .post-info {
          padding-bottom: 0;
          .post-posed-date,
          .post-categories {
            .label {
              display: none;
            }
            i {
              font-size: 11px;
              margin-right: 5px;
              color: inherit;
              line-height: normal;
              display: inline-block;
              vertical-align: middle;
            }
            span,
            a {
              display: inline-block;
              vertical-align: middle;
              font-size: 13px;
            }
          }
          .dash {
            margin: 0 4px;
          }
        }
      }
      .post-content {
        .post-description {
          .post-ftimg-hld {
            margin-bottom: 10px;
          }
          .post-text-hld {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
.blog-post-view {
  .page-title-wrapper {
    .page-title {
      margin-bottom: 20px;
      @media @mobile {
        font-size: 27px;
      }
    }
  }
  .post-view {
    .postWrapper {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 4px solid rgba(0,0,0,0.1);
      .postTitle {
        margin-bottom: 10px;
        h2 {
          display: none;
        }
        .postDetails {
          .poster {
            display: inline;
            position: relative;
            top: 1px;
            font-weight: 600;
          }
        }
      }
      .postContent {
        p {
          font-family: @font-second;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.8;
          &.quote {
            padding: 10px 27px 10px 65px;
            margin-bottom: 1.5em;
            font-size: 22.5px;
            line-height: 1.7;
            border-left: 2px solid @color-primary;
            font-family: @font-second;
            font-style: italic;
            font-weight: 400;
            @media @tablet-v {
              padding-left: 45px;
              font-size: 19.5px;
            }
            @media @mobile {
              padding-left: 35px;
              font-size: 18.5px;
            }
          }
        }
      }
      .addthis_toolbox {
        padding: 0;
        clear: both;
        font-size: 0;
        a {
          width: auto !important;
          height: 30px !important;
          padding: 0 9px !important;
          margin: 5px 10px 5px 0 !important;
          line-height: 30px !important;
          border-radius: 0;
          color: #222;
          background-color: #fff;
          border: 1px solid #222;
          font-size: 0;
          min-width: 50px;
          text-align: center;
          &.addthis_button_facebook {
            border-color: rgba(76,105,199,0.3);
            color: #4c69c7;
            &>*:not(svg):before {
              content: '\e91a';
            }
            &:hover {
              border-color: #4c69c7;
            }
          }
          &.addthis_button_twitter {
            border-color: rgba(59,162,241,0.3);
            color: #3ba2f1;
            &>*:not(svg):before {
              content: '\e920';
            }
            &:hover {
              border-color: #3ba2f1;
            }
          }
          &.addthis_button_google_plusone {
            border-color: rgba(220,74,56,0.3);
            color: #dc4a38;
            &>*:not(svg):before {
              content: '\e91b';
            }
            &:hover {
              border-color: #dc4a38;
            }
          }
          svg,
          & > * span {
            display: none;
          }
          & > * {
            float: none;
            margin-right: 5px;
            position: relative;
            top: -3px;
            &:not(svg) {
              height: auto !important;
              width: auto !important;
              line-height: 35px !important;
              background-color: transparent !important;
              display: inline-block;
              font-size: 15px;
              margin: 0;
              &:before {
                content: '';
                color: inherit;
                font-size: 13px;
                display: inline-block;
                font-family: 'meigee';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                vertical-align: middle;
              }
            }
          }
        }
      }
      .tags {
        padding-top: 25px;
        h4 {
          display: inline-block;
          margin-bottom: 0;
          margin-top: 0;
          font-weight: 600;
        }
        ul {
          display: inline;
          padding: 25px 10px 10px;
          margin: 0;
          li {
            display: inline;
            padding: 0 6px 0 0;
            font-weight: 400;
            border: none;
            clear: none;
            width: auto;
            margin: 0;
            float: none;
          }
        }
      }
    }
    .post-bottom {
      .post-nextprev-hld {
        a {
          color: rgba(0,0,0,0.8);
          font-weight: 400;
          &:hover,
          &:active,
          &:focus {
            color: @color-primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.sidebar {
  .block {
    &.blog-search {
      .block-content {
        position: relative;
        .field.search {
          input {
            height: 40px;
            line-height: 38px;
            padding-left: 10px;
            font-size: 14px;
          }
        }
        .action.search {
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          padding: 0;
          font-size: 18px;
          line-height: 40px;
          text-align: center;
          color: @color-title;
          &:before {
            content: '\e90e';
            background: unset;
            font-family: 'meigee';
            font-size: inherit;
            line-height: inherit;
            color: inherit;
          }
          &:hover {
            color: rgba(0,0,0,0.6);
          }
        }
      }
    }
    &.widget.block-categories {
      ul.accordion {
        margin-left: 0;
        li {
          list-style: none;
          margin-left: 0;
          padding: 5px 0;
        }
      }
    }
    &.widget.block-recent-posts {
      .block-content {
        .item {
          a.post-item-link {
            &:hover,
            &:active,
            &:focus,
            &:visited {
              color: @color-primary;
            }
          }
        }
      }
    }
  }
}

#post-comments {
  * {
    font-family: @font-second
  }
  .c-comments {
    .c-comment {
      background: rgba(0,0,0,0.04);
      padding: 18px 28px;
      .c-post {
        margin-left: 0;
        .commentDetails {
          .username {
            display: inline;
            font-weight: 600;
            font-size: 14px;
            color: rgba(0,0,0,0.8);
          }
          small {
            margin-left: 25px;
            display: inline;
            font-style: italic;
            font-size: 14px;
            color: rgba(0,0,0,0.8);
            font-weight: 500;
          }
        }
        .commentContent {
          margin-top: 15px;
          line-height: 1.8;
        }
        .p-actions {
          display: none;
        }
      }
    }
  }
  .block-title.remply-title {
    margin-top: 20px;
    margin-bottom: 15px;
    strong {
      font-family: @font-main;
      font-weight: 600;
      font-size: 26px;
      color: rgba(0,0,0,0.8);
    }
  }
  .c-replyform {
    margin-left: 0;
    .form-horizontal {
      ul.form-list {
        padding-left: 0;
        li {
          list-style: none;
          .form-group {
            margin-bottom: 15px;
            label {
              color: rgba(0,0,0,0.8);
              font-size: 16px;
              font-family: @font-second;
              margin-bottom: 5px;
              display: inline-block;
            }
            input,
            textarea {
              background-color: @input__bg-color !important;
              border: 1px solid @input__bg-color;
              color: @input__color;
              font-size: 16px;
              font-family: @font-second;
              &:focus {
                background-color: #fff !important;
                border-color: rgba(0,0,0,0.2);
                box-shadow: none;
                outline: none;
              }
              &.mage-error {
                border-color: #f44336;
              }
            }
            textarea {
              min-height: 180px;
            }
          }
        }
      }
      .button-set {
        .btn-default {
          border-radius: 0 !important;
          font-family: @font-main;
        }
      }
    }
  }
}