<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
/**  @var $block \Magento\Checkout\Block\Cart */
?>
<div class="cart-empty">
	<?= $block->getChildHtml('checkout_cart_empty_widget') ?>
	<div class="cart-empty__icon">
		<i class="meigee-cart"></i>
	</div>
	<div class="cart-empty__title">
		<?= /* @escapeNotVerified */ __('Shopping Cart') ?>
	</div>
	<div class="cart-empty__subtitle">
		<?= /* @escapeNotVerified */ __('You have no items in your shopping cart.') ?>
	</div>
	<div class="cart-empty__button">
		<?= /* @escapeNotVerified */ __( '<a href="%1" class="cart-empty__button__link">Continue Shopping</a>', $block->escapeUrl($block->getContinueShoppingUrl()) ); ?>
	</div>
    <?= $block->getChildHtml('shopping.cart.table.after') ?>
</div>
