<?php
/**
 * Copyright © 2015-2017 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post comments template
 *
 * @var $block \Magefan\Blog\Block\Post\View\Comments
 */
?>
<?php
    $comments = $block->getCommentsCollection();
    $numberOfCommentsToDisplay = $block->getNumberOfComments();
    $session = $block->getCustomerSession();

    $canPost = $block->canPost();
?>
<div id="post-comments">
    <?php
        $commentsCount = count($comments);
        if ($commentsCount) {
    ?>
        <!-- comments list -->
        <div class="c-comments" >
            <?php $i = 0 ?>
            <?php foreach ($comments as $comment) { ?>
                <?php
                    $i++;
                    $comment->setIsHidden($i > $numberOfCommentsToDisplay);
                ?>
                <?php echo $block->getCommentHtml($comment) ?>
            <?php } ?>
            <?php if ($commentsCount > $numberOfCommentsToDisplay) { ?>
                <a href="#" class="c-allcomments more-comments-action" data-comment="0"><?php echo __('Load more comments') ?></a>
            <?php } ?>
        </div>

        <!-- reply comment form -->
        <div class="block-title remply-title"><strong><?php echo __('Leave a Comment') ?></strong></div>
        <div id="c-replyform-comment" class="c-replyform c-replyform-comment" style="display:none">
            <form action="<?php echo $block->getFormUrl() ?>" method="post" data-mage-init='{"validation":{}}' class="form-horizontal">
                <?php echo $block->getBlockHtml('formkey') ?>
                <input type="hidden" name="post_id" value="<?php echo $block->getPost()->getId() ?>" />
                <input type="hidden" name="parent_id" value="" />


                <?php if ($canPost && !$session->getCustomerGroupId()) { ?>
                    <ul class="form-list">
                        <li>
                            <div class="form-group row">
                                <div class="col-sm-6 col-12 field required">
                                    <label for="author_nickname" class="required clearfix"><?php echo __('Name') ?></label>
                                    <input type="text" name="author_nickname" value="" placeholder="<?php echo __('Name') ?>" class="input-text required-entry refresh-value form-control" data-validate="{required:true}" autocomplete="off" aria-required="true">
                                </div>
                                <div class="col-sm-6 col-12 field required">
                                    <label for="email" class="required clearfix"><?php echo __('Email') ?></label>
                                    <input type="email" name="author_email" autocomplete="email"  value="" placeholder="<?php echo __('Email') ?>" class="input-text required-entry refresh-value form-control" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group aw-blog-comment-area">
                                <div class="field required">
                                    <label for="text" class="required clearfix"><?php echo __('Comment') ?></label>                                
                                        <textarea class="refresh-value form-control" name="text" rows="10" placeholder="<?php echo $canPost ? __('Add a reply...') : __('Sign in to add a comment...') ?>" <?php if (!$canPost) {?>disabled="disabled"<?php } ?> data-validate="{required:true}" class="required-entry form-control"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                <?php } ?>
                <div class="button-set clearfix">
                    <button type="button" class="cancel reply-cancel-action btn btn-default" ><?php echo __('Cancel') ?></button>
                    <?php if ($canPost) { ?>
                        <button type="submit" class="btn btn-default"><?php echo __('Submit Comment') ?></button>
                    <?php } else { ?>
                        <button type="button" class="btn btn-default" onclick="window.location='<?php echo $block->getCustomerUrl()->getLoginUrl() ?>';"><?php echo __('Sign In') ?></button>
                    <?php } ?>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    <?php } ?>
    <!-- <div class="c-count"><?php // echo __('%1 Comment(s)', $comments->getSize()) ?></div> -->
    <!-- reply form -->
    <div class="c-reply cf">
        <?php if ($image = $block->getCustomerImage()) { ?>
        <div class="c-img">
            <img src="<?php echo $image ?>" alt="<?php echo $block->escapeHtml($block->getCustomerName()) ?>">
        </div>
        <?php } ?>
        <div class="c-replyform ">
            <form action="<?php echo $block->getFormUrl() ?>" method="post" data-mage-init='{"validation":{}}' class="form-horizontal">
                <?php echo $block->getBlockHtml('formkey') ?>
                <input type="hidden" name="post_id" value="<?php echo $block->getPost()->getId() ?>" />
                <?php if ($canPost && !$session->getCustomerGroupId()) { ?>
                <ul class="form-list">
                    <li>
                        <div class="form-group row">
                            <div class="col-sm-6 col-12 field required">
                                <label for="author_nickname" class="required clearfix"><?php echo __('Name') ?></label>
                                <input type="text" name="author_nickname" value="" class="input-text required-entry form-control" data-validate="{required:true}" autocomplete="off" aria-required="true">
                            </div>
                            <div class="col-sm-6 col-12 field required">
                                <label for="email" class="required clearfix"><?php echo __('Email') ?></label>
                                <input type="email" name="author_email" autocomplete="email"  value="" class="input-text form-control" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group aw-blog-comment-area">
                            <div class="field required">
                                <label for="text" class="required clearfix"><?php echo __('Comment') ?></label>
                                <textarea class="form-control" name="text" rows="10" placeholder="<?php echo $canPost ? __('Add a comment...') : __('Sign in to add a comment...') ?>" <?php if (!$canPost) {?>disabled="disabled"<?php } ?> data-validate="{required:true}"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="button-set clearfix">
                    <?php if ($canPost) { ?>
                        <button class="btn btn-default" type="submit"><?php echo __('Submit Comment') ?></button>
                    <?php } else { ?>
                        <button class="btn btn-default" type="button" onclick="window.location='<?php echo $block->getCustomerUrl()->getLoginUrl() ?>';"><?php echo __('Sign In') ?></button>
                    <?php } ?>                    
                </div>
                
                <div class="lr-hld">
                    <div class="left-hld">
                    </div>
                    <div class="right-hld">
                    </div>
                </div>
                <?php } ?>


                    <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
{
    "#post-comments": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout() ?>
    }
}
</script>
