<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

// credit limit work
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerId = $objectManager->create('Magento\Customer\Model\Session')->getCustomerId();
$customerType=false;
if($customerId):
	$customerDetail = $objectManager->create('Appseconnect\B2BMage\Helper\ContactPerson\Data')->getCustomerData($customerId);
	//customer type
	$customerType=$customerDetail['customer_type'];
endif;
// Get current cart total
$quote = $objectManager->create('Magento\Checkout\Model\Session')->getQuote();
$customerCreditBalance=null;

$isActive=$objectManager->create('Appseconnect\B2BMage\Model\CreditLimit')->isActive($quote ? $quote->getStoreId() : null);

if($quote && $customerId && $customerType==3 && $isActive):
	$b2bcustomerDetail = $objectManager->create('Appseconnect\B2BMage\Helper\ContactPerson\Data')->getCustomerId($customerId);
	//Credit Balance
	$customerCreditBalance= $objectManager->create('Appseconnect\B2BMage\Helper\CreditLimit\Data')->getCustomerCreditData($b2bcustomerDetail['customer_id']);
	//Grand total


	if($customerCreditBalance):
	$priceHelper = $objectManager->create('Magento\Directory\Model\Currency');
	$formattedPrice = $priceHelper->getCurrencySymbol().number_format($customerCreditBalance['available_balance'],2);
	?>
	<div class="page messages">
		<div data-placeholder="messages"></div>	
		<div data-bind="scope: 'messages'">
		    <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">
		        <div data-bind="attr: {
		            class: 'message-' + message.type + ' ' + message.type + ' message',
		            'data-ui-id': 'message-' + message.type
		        }" class="message-success success message" data-ui-id="message-success">
		            <div data-bind="html: message.text">Your credit limit is <?php /* @noEscape */ echo $formattedPrice;?></div>
		        </div>
		    </div>
		    <div data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"></div>
		</div>
	
	</div>
	<?php endif;
endif;
// credit limit work end
?>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php /* @noEscape */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @noEscape */ echo __('Loading...'); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @noEscape */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?php /* @noEscape */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?php /* @noEscape */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            return url.setBaseUrl('<?php /* @noEscape */ echo $block->getBaseUrl();?>');
        })
    </script>
</div>
