@screen-xs-small: '374px';
@screen-xs-max: '767px';
@screen-sm-min: '768px';
@screen-sm-max: '1007px';
@screen-md-min: '1008px';
@screen-md-max: '1199px';
@screen-lg-min: '1200px';

@xs-small: ~"only screen and (max-width: @{screen-xs-small})";
@xs-and-up: ~"only screen"; // xs is the smallest size, so "xs and up" is basically "everything on a screen"
@xs-only: ~"only screen and (max-width: @{screen-xs-max})";
@sm-and-up: ~"only screen and (min-width: @{screen-sm-min})";
@sm-only: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@sm-and-down: ~"only screen and (max-width: @{screen-sm-max})";
@md-and-up: ~"only screen and (min-width: @{screen-md-min})";
@md-only: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@md-and-down: ~"only screen and (max-width: @{screen-md-max})";
@lg-and-up: ~"only screen and (min-width: @{screen-lg-min})";
@lg-only: @lg-and-up;
// Media query names like how we talk in the project (although "true" responsive webdesign shouldn't use these terms)
@print: ~"print";
@mobile-sm: @xs-small;
@mobile: @xs-only;
@tablet-v: @sm-only; //vertical
@tablet-h: @md-only;  //horizontal
@desktop: @lg-and-up;


//
//  Theme Typography
//  ---------------------------------------------

@font-main: 'Poppins', sans-serif;
@font-second: 'Oswald', sans-serif;

//
//  Theme Colors
//  ---------------------------------------------
@color-body: #333333;
@color-title: rgba(0,0,0,0.8);

/* Colors */
@color-default: #222222;
@color-primary: #f8dc0b;

@hover-bg-color: rgba(0,0,0,0.06);
@hover-bg-color-light: rgba(255,255,255,0.1);

@input__placeholder_color: rgba(0,0,0,0.3);
@input__color: rgba(0,0,0,0.6);
@input__bg-color: rgba(0,0,0,0.04);

@input__color-light: rgba(255,255,255,0.6);
@input__bg-color-light: rgba(255,255,255,0.1);

@border__color: rgba(0,0,0,0.1);
@border__color-light: rgba(255,255,255,0.1);

@white: #fff;
@color-white: #fff;
@color-footer: #1d1d1d;

/* Buttons */
@btn-default-color: @white;
@btn-default-bg-color: @color-default;
@btn-default-border-color: @color-default;

@btn-default__hover-color: @white;
@btn-default__hover-bg-color: @color-primary;
@btn-default__hover-border-color: @color-primary;

@btn-primary-color: rgba(0,0,0,0.6);
@btn-primary-bg-color: #fff;
@btn-primary-border-color: #e6e6e6;

@btn-primary__hover-color: rgba(0,0,0,0.6);
@btn-primary__hover-bg-color: #e6e6e6;
@btn-primary__hover-border-color: #e6e6e6;

@copyright__background-color: @color-gray-middle4;