<div class="footer-static">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="images"><img src="{{media url=&quot;wysiwyg/logo-wh.png&quot;}}" width="184" height="64"></p>
            </div>
            <div class="col-md-6">
                <p class="des">Via Serenissima, 11 -&nbsp;31025 S. Lucia di Piave (TV) Italy<br>P.Iva&nbsp;03431460264
                    -&nbsp;Tel. 0438 453010 -&nbsp;Fax. 0438 655919</p>
            </div>
            <div class="col-md-3">
                <p class="link" style="margin: 0 !important;">
                    <a class="lb-cs-settings-link" href="#">Aggiorna le preferenze sui cookie</a><br>
                    <a href="https://www.lightech.it/termini-di-vendita-b2b">Termini di vendita B2B</a><br>
                    <a href="https://www.lightech.it/privacy-policy-per-siti-web-o-e-commerce">Privacy Policy per siti web o e-commerce</a><br>
                    <a href="https://www.lightech.it/cookie-policy">Cookie Policy</a><br></p>
            </div>
        </div>
    </div>
</div>