<div class="footer-static">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="images"><img src="{{media url=&quot;wysiwyg/logo-wh.png&quot;}}" width="184" height="64"></p>
            </div>
            <div class="col-md-6">
                <p class="des">via Serenissima, 11 -&nbsp;31025 S. Lucia di Piave (TV) Italy<br>VAT N. 03431460264 -
                    Phone&nbsp;0438 453010 - Fax. 0438 655919</p>
            </div>
            <div class="col-md-3">
                <p class="link" style="margin: 0 !important;">
                    <a class="lb-cs-settings-link" href="#">Update your cookie preferences</a><br>
                    <a href="https://www.lightech.it/en/b2b-sales-conditions">B2B sales conditions</a><br>
                    <a href="https://www.lightech.it/en/privacy-policy-for-websites-or-e-commerce">Privacy Policy for websites or e-commerce</a><br>
                    <a href="https://www.lightech.it/en/cookie-policy">Cookie Policy</a><br>
                </p>
            </div>
        </div>
    </div>
</div>