<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
$layout = $meigee_helper->getCustomThemeOptionCnf('coccinelle_layout', 'site_layout');
$headerTransparent = $meigee_helper->getCustomThemeOptionCnf('coccinelle_header', 'header_home_transparency');
$headerMenuTransparent = $meigee_helper->getCustomThemeOptionCnf('coccinelle_header', 'home_menu_transparency');
$optionSearchType = $meigee_helper->getCustomThemeOptionCnf('coccinelle_header', 'header_search_type');
$headerLayout = $meigee_helper->getCustomThemeOptionCnf('coccinelle_layout', 'skinheader');
$headerSwatch = $meigee_helper->getCustomThemeOptionCnf('coccinelle_layout', 'skinheader_swatch');
$headerClass = '';
if ( $headerLayout == 'normandy_header' || $headerLayout == 'provence_header' ) $headerClass .= ' header-2';
if ( $headerLayout == 'brittany_header' ) $headerClass .= ' header-3';
if ( $headerLayout == 'lorraine_header' ) $headerClass .= ' header-4';
if ( $headerLayout == 'burgundy_header' ) $headerClass .= ' header-5';
if ( $headerLayout == 'burgundy_header' && $optionSearchType == 'type-2' ) $headerClass .= ' search-type-2';
if ( $headerTransparent ) $headerClass .= ' transparent-header';
if ( $headerMenuTransparent ) $headerClass .= ' transparent-menu';
if ( $headerSwatch == 'default' ) $headerClass .= ' default-swatch';
?>
<?php if ( $headerLayout == 'normandy_header' || $headerLayout == 'provence_header' ) : ?>
	<div class="header-wrapper">
		<header class="page-header<?= $headerClass; ?>">
			<div class="top-block">
				<div class="container">
					<div class="top-block-inner clearfix">
						<?php echo $this->getChildHtml("header.welcome"); ?>
					</div>
				</div>
			</div>
			<div class="middle-block">
				<div class="container">
					<div class="middle-block-inner clearfix">
						<div class="logo-wrapper pull-left">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<?php echo $this->getChildHtml("logo"); ?>
						</div>
						<div class="menu-wrapper">
							<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
							<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
						</div>
						<div class="right-block pull-right">
							<!-- Side-menu -->
							<div class="options-wrapper side-menu">
								<div class="options-block side-menu-btn">
									<span class="side-menu-icon"><i class="meigeeadditional-nav"></i></span>
								</div>
								<div class="options-dropdown side-menu-content">
									<div class="side-menu-header"><span class="btn-close"><i class="meigee-close"></i></span></div>
									<div class="dropdown-item">
										<span class="label"><?php /* @escapeNotVerified */ echo __('My Account'); ?></span>
										<?php echo $this->getChildHtml('top.links.meigee'); ?>
									</div>
		                			<?php echo $this->getChildHtml("store_language"); ?>
			                		<?php echo $this->getChildHtml("currency"); ?>
								</div>
							</div>
							<?php echo $this->getChildHtml("topSearch"); ?>
							<?php echo $this->getChildHtml("minicart"); ?>
						</div>
					</div>
				</div>
			</div>
		</header>
		<?php echo $this->getChildHtml("meigee_sticky_header"); ?>
	</div>
<?php elseif ( $headerLayout == 'brittany_header' ) : ?>
	<div class="header-wrapper">
		<header class="page-header<?= $headerClass; ?>">
			<div class="top-block">
				<div class="container">
					<div class="top-block-inner clearfix">
						<?php echo $this->getChildHtml("coccinelle.header.social.links"); ?>
						<?php echo $this->getChildHtml("header.welcome"); ?>
						<?php echo $this->getChildHtml("coccinelle.header.info"); ?>
					</div>
				</div>
			</div>
			<div class="middle-block">
				<div class="container">
					<div class="middle-block-inner clearfix">
						<div class="search-wrapper pull-left">
							<?php echo $this->getChildHtml("topSearch"); ?>
						</div>
						<div class="logo-wrapper">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<?php echo $this->getChildHtml("logo"); ?>
						</div>
						<div class="right-block pull-right">
							<!-- Language-currency -->
							<div class="options-wrapper language-currency-wrapper">
				              <div class="options-block language-currency">
				                <span class="currency"><?php echo $currency; ?></span>
				                <span class="language"><?php echo $block->escapeHtml($storeManager->getStore()->getName()) ?></span>
				                <i class="meigee-drop drop-icon"></i>
				              </div>
				              <div class="options-dropdown">
			                	<?php echo $this->getChildHtml("store_language"); ?>
				                <?php echo $this->getChildHtml("currency"); ?>
				              </div>
				            </div>
							<?php echo $this->getChildHtml("minicart"); ?>
							<!-- Side-menu -->
							<div class="options-wrapper side-menu">
								<div class="options-block side-menu-btn">
									<span class="side-menu-icon"><i class="meigeeadditional-nav"></i></span>
								</div>
								<div class="options-dropdown side-menu-content">
									<div class="side-menu-header"><span class="btn-close"><i class="meigee-close"></i></span></div>
									<div class="dropdown-item">
										<span class="label"><?php /* @escapeNotVerified */ echo __('My Account'); ?></span>
										<?php echo $this->getChildHtml('top.links.meigee'); ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-wrapper">
				<div class="container">
					<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
					<div class="menu-inner clearfix">
						<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
					</div>
				</div>
			</div>
		</header>
		<?php echo $this->getChildHtml("meigee_sticky_header"); ?>
	</div>
<?php elseif ( $headerLayout == 'lorraine_header' ) : ?>
	<div class="header-wrapper">
		<header class="page-header<?= $headerClass; ?>">
			<div class="top-block">
				<div class="container">
					<div class="top-block-inner clearfix">
						<?php echo $this->getChildHtml("header.welcome"); ?>
					</div>
				</div>
			</div>
			<div class="middle-block">
				<div class="container">
					<div class="middle-block-inner clearfix">
						<div class="logo-wrapper">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<?php echo $this->getChildHtml("logo"); ?>
						</div>
						<div class="search-wrapper">
							<?php echo $this->getChildHtml("topSearch"); ?>
						</div>
						<div class="right-block pull-right">
							<!-- Language-currency -->
							<div class="options-wrapper language-currency-wrapper">
				              <div class="options-block language-currency">
				                <span class="currency"><?php echo $currency; ?></span>
				                <span class="language"><?php echo $block->escapeHtml($storeManager->getStore()->getName()) ?></span>
				                <i class="meigee-drop drop-icon"></i>
				              </div>
				              <div class="options-dropdown">
			                	<?php echo $this->getChildHtml("store_language"); ?>
				                <?php echo $this->getChildHtml("currency"); ?>
				              </div>
				            </div>
							<!-- Account -->
							<div class="options-wrapper account-wrapper">
								<div class="options-block">
									<span class="title"><i class="meigee-account"></i></span>
								</div>
								<div class="options-dropdown">
									<div class="dropdown-item account">
										<span class="label"><?php /* @escapeNotVerified */ echo __('My Account'); ?></span>
										<?php echo $this->getChildHtml('top.links.meigee'); ?>
									</div>
								</div>
							</div>
							<?php echo $this->getChildHtml("minicart"); ?>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-wrapper hidden-sm hidden-xs">
				<div class="container">
					<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
					<div class="menu-inner clearfix">
						<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
						<?php echo $this->getChildHtml("coccinelle.header.social.links"); ?>
					</div>
				</div>
			</div>
		</header>
		<?php echo $this->getChildHtml("meigee_sticky_header"); ?>
	</div>
<?php elseif ( $headerLayout == 'burgundy_header' ) : ?>
	<div class="header-wrapper">
		<header class="page-header <?= $headerClass; ?>">
			<div class="top-padding">
				<div class="container"></div>
			</div>
			<?php if ( strlen( trim( $this->getChildHtml("header.welcome") ) ) ) : ?>
				<div class="top-block">
					<div class="container">
						<div class="top-block-inner clearfix">
							<?= $this->getChildHtml("header.welcome"); ?>
						</div>
					</div>
				</div>
			<?php endif; ?>
			<div class="middle-block">
				<div class="container">
					<div class="middle-block-inner">
						<div class="logo-wrapper">
							<?= $this->getChildHtml("mobile.menu.btn"); ?>
							<?= $this->getChildHtml("logo"); ?>
						</div>
						<div class="right-block">
							<div class="options-wrapper language-currency-wrapper">
								<div class="options-block language-currency">
									<span class="currency">
										<?= $currency; ?>
									</span>
									<span class="language">
										<?= $block->escapeHtml($storeManager->getStore()->getName()) ?>
									</span>
									<i class="meigee-drop drop-icon"></i>
								</div>
								<div class="options-dropdown">
									<?= $this->getChildHtml("store_language"); ?>
									<?= $this->getChildHtml("currency"); ?>
								</div>
							</div>
							<span data-bind="scope: 'wishlist'" class="link wishlist top-link-wishlist">
								<a href="<?= $this->getUrl('wishlist') ?>">
									<i class="meigee-wishlist"></i>
									<!-- ko if: wishlist().counter --><span data-bind="text: wishlist().counter" class="counter qty wishlist-counter"></span><!-- /ko -->
								</a>
							</span>
							<div class="options-wrapper account-wrapper">
								<div class="options-block">
									<span class="title"><i class="meigee-account"></i></span>
								</div>
								<div class="options-dropdown">
									<div class="dropdown-item account">
										<span class="label">
											<?= /* @escapeNotVerified */ __('My Account'); ?>
										</span>
										<?= $this->getChildHtml('top.links.meigee'); ?>
									</div>
								</div>
							</div>
							<?= $this->getChildHtml("topSearch"); ?>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-wrapper">
				<div class="container">
					<?= $this->getChildHtml("meigee_mobile_header"); ?>
					<div class="menu-inner">
						<div class="toggle-nav">
							<?= $this->getChildHtml("catalog.topnav"); ?>
						</div>
						<?= $this->getChildHtml("minicart"); ?>
					</div>
				</div>
			</div>
		</header>
		<?= $this->getChildHtml("meigee_sticky_header"); ?>
	</div>
<?php else : ?>
	<div class="header-wrapper">
		<header class="page-header header-1<?= $headerClass; ?>">
			<div class="top-block">
				<div class="container">
					<div class="top-block-inner clearfix">
						<?php echo $this->getChildHtml("header.welcome"); ?>
					</div>
				</div>
			</div>
			<div class="middle-block">
				<div class="container">
					<div class="middle-block-inner clearfix">
						<div class="logo-wrapper pull-left">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<?php echo $this->getChildHtml("logo"); ?>
						</div>
						<div class="right-block pull-right">
							<!-- Language-currency -->
							<div class="options-wrapper language-currency-wrapper">
				              <div class="options-block language-currency">
				                <span class="currency"><?php echo $currency; ?></span>
				                <span class="language"><?php echo $block->escapeHtml($storeManager->getStore()->getName()) ?></span>
				                <i class="meigee-drop drop-icon"></i>
				              </div>
				              <div class="options-dropdown">
			                	<?php echo $this->getChildHtml("store_language"); ?>
				                <?php echo $this->getChildHtml("currency"); ?>
				              </div>
				            </div>
				            <!-- Wishlist -->
							<span data-bind="scope: 'wishlist'" class="link wishlist top-link-wishlist">
								<a href="<?php echo $this->getUrl('wishlist') ?>">
									<i class="meigee-wishlist"></i>
									<!-- ko if: wishlist().counter --><span data-bind="text: wishlist().counter" class="counter qty wishlist-counter"></span><!-- /ko -->
								</a>
							</span>
							<!-- Account -->
							<div class="options-wrapper account-wrapper">
								<div class="options-block">
									<span class="title"><i class="meigee-account"></i></span>
								</div>
								<div class="options-dropdown">
									<div class="dropdown-item account">
										<span class="label"><?php /* @escapeNotVerified */ echo __('My Account'); ?></span>
										<?php echo $this->getChildHtml('top.links.meigee'); ?>
									</div>
								</div>
							</div>
							<!-- Side-menu -->
							<!-- <div class="options-wrapper side-menu">
								<div class="options-block side-menu-btn">
									<span class="side-menu-icon"><i class="meigeeadditional-nav"></i></span>
								</div>
								<div class="options-dropdown side-menu-content">
									<div class="side-menu-header"><span class="btn-close"><i class="meigee-close"></i></span></div>
									<div class="dropdown-item">
										<span class="label"><?php /* @escapeNotVerified */ // echo __('My Account'); ?></span>
										<?php // echo $this->getChildHtml('top.links.meigee'); ?>
									</div>
		                			<?php // echo $this->getChildHtml("store_language"); ?>
			                		<?php // echo $this->getChildHtml("currency"); ?>
								</div>
							</div> -->
							<?php echo $this->getChildHtml("minicart"); ?>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-wrapper">
				<div class="container">
					<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
					<div class="menu-inner clearfix">
						<div class="row">
							<div class="hidden-xs col-lg-9">
								<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
							</div>
							<div class="col-xs-12 col-lg-3">
								<?php echo $this->getChildHtml("topSearch"); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<?php echo $this->getChildHtml("meigee_sticky_header"); ?>
	</div>
<?php endif; ?>
