<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php $quoteButtonTitle = __('Add to Quote'); ?>
<?php if ($_product->isSaleable()): ?>
    <?php
    $isQuotationEnabled = $this->helper('Appseconnect\B2BMage\Helper\Quotation\Data')->isQuotationEnabled();
    $salesRepHelper = $this->helper('Appseconnect\B2BMage\Helper\Salesrep\Data');
    $salesrepId = $salesRepHelper->getSalesrepIdFromSession();

    $blockObj= $block->getLayout()->createBlock('Appseconnect\B2BMage\Block\Customer\CustomerSessionDetails');
    $customerData = $blockObj->getCustomerData();
    $isLogIn = $blockObj->getLogin();
    ?>
    <?php if ($isLogIn): ?>
    <div class="box-tocart">
        <div class="fieldset clearfix">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="quantity-wrapper clearfix">
                    <div class="field qty">
                        <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                        <div class="control clearfix">
                            <div class="quantity-decrease" onclick="qtyDown()"><i class="meigee-minus"></i></div>
                            <input type="text"
                                   name="qty"
                                   id="qty"
                                   value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                                   class="input-text qty"
                                   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                   data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                            />
                            <div class="quantity-increase" onclick="qtyUp()"><i class="meigee-plus"></i></div>
                        </div>
                    </div>
                    <?php echo $block->getChildHtml('product.qty.block.simple') ?>
                    <?php echo $block->getChildHtml('product.qty.block.options') ?>
                </div>
            <?php endif; ?>
            <div class="actions">
                <?php if ($customerData->getCustomerType() == 2 || (!$isLogIn)): ?>
                    <button type="submit"
                            disabled
                            title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                            class="action btn btn-primary btn-cart type-2 tocart btn-default"
                            id="product-addtocart-button">
                        <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                    </button>
                <?php else:?>
                    <button type="submit"
                            title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                            class="action btn btn-primary btn-cart type-2 tocart btn-default"
                            id="product-addtocart-button">
                        <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                    </button>
                    <?php if (!$salesrepId && $customerData->getCustomerType() == 3 && $isQuotationEnabled): ?>
                        <button type="button"
                                title="<?php /* @noEscape */ echo $quoteButtonTitle ?>"
                                class="action btn btn-primary btn-cart type-2 tocart toquote" id="product-addtoquote-button">
                            <span><?php /* @noEscape */ echo $quoteButtonTitle ?></span>
                        </button>
                    <?php endif; ?>
                <?php endif;?>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
     <?php endif; ?>
    <?php if ($block->shouldRenderQuantity()): ?>
        <script type="text/javascript">
            var qty_el = document.getElementById('qty');
            var qty = qty_el.value;
            // if(qty < 2){
            // jQuery('.quantity_box_button_down').css({
            // 'visibility' : 'hidden'
            // });
            // }
            function qtyDown(){
                var qty_el = document.getElementById('qty');
                var qty = qty_el.value;
                // if( qty == 2) {
                // jQuery('.quantity_box_button_down').css({
                // 'visibility' : 'hidden'
                // });
                // }
                if( !isNaN( qty ) && qty > 0 ){
                    qty_el.value--;
                }
                return false;
            }

            function qtyUp(){
                var qty_el = document.getElementById('qty');
                var qty = qty_el.value;
                if( !isNaN( qty )) {
                    qty_el.value++;
                }
                // jQuery('.quantity_box_button_down').css({
                // 'visibility' : 'visible'
                // });
                return false;
            }
        </script>
    <?php endif; ?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
    </script>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToQuote": {
                "actionUrl" : "<?php /* @noEscape */
                echo $this->getUrl('b2bmage/quotation/index_add'); ?>"
            }
        }
    }
</script>
