<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var \Magento\Catalog\ViewModel\Product\Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="breadcrumbs-wrapper">
	<div class="container">
		<div class="breadcrumbs"></div>
		<script type="text/x-magento-init">
				{
					".breadcrumbs": <?= $viewModel->getJsonConfigurationHtmlEscaped() ?>
				}
		</script>
	</div>
</div>