<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$meigee_front_helper = $this->helper(Meigee\Coccinelle\Helper\FrontHelper::class);
?>
<?php if (!$_productCollection->count()) : ?>
    <div class="message info empty"><div><?php echo $block->escapeHtml(___('We can\'t find products matching the selection.')) ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
	$meigee_helper = $this->helper(Meigee\Coccinelle\Helper\CoccinelleGeneral::class);
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        // $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
		$grid_columns = $lightbox_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'grid_columns');
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        // $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
		$grid_columns = '';
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
	$lightbox_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_lightbox', 'lightbox_status');
	$lightbox_listing_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_lightbox', 'lightbox_listing');
    $product_name = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'product_name');
	$product_price = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'product_price');
	$cart_btn = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'cart_btn');
	$compare_btn = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'compare_btn');
	$wishlist_btn = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'wishlist_btn');
	$name_align = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'product_name_aligment');
	$stock_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'stock_status');
    $image_hover_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_image_hover', 'image_hover_status');
    $image_hover_effect = $meigee_helper->getCustomThemeOptionCnf('coccinelle_image_hover', 'image_hover_type');
	$quickview_status = $meigee_front_helper->getConfig('weltpixel_quickview/general/enable_product_listing');
	$quickview_btn = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'quickview_btn');
    $front_helper = $this->helper(\Meigee\Coccinelle\Helper\FrontHelper::class);

    $labels_type = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_type');
    $label_new = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_new');
    $label_sale = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_sale');
    $label_sale_percentage = $meigee_helper->getCustomThemeOptionCnf('coccinelle_labels', 'label_sale_percentage');

	$product_hover = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'grid_hover');
	$productHoverClass = ' product-hover-' . $product_hover;

	$listingCustomGrid = $meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'listing_custom_grid');

	// ToDo: to make cookie uncacheable
	/*$listingColumnsGridString = preg_replace('/\s+/','',$meigee_helper->getCustomThemeOptionCnf('coccinelle_product_listing', 'listing_grid_switcher'));
	$listingColumnsGrids = explode(',', $listingColumnsGridString);
	$_columns = array(
		'1' => 'one-column',
		'2' => 'two-columns',
		'3' => 'three-columns',
		'4' => 'four-columns',
		'5' => 'five-columns',
		'6' => 'six-columns',
		'7' => 'seven-columns',
		'8' => 'eight-columns'
	);
	$_columnsSet = array();
	foreach ( $listingColumnsGrids as $_key => $_listingColumnsGrid )
	{
		array_push($_columnsSet, $_columns[$_listingColumnsGrid]);
	}
	array_push($_columnsSet, 'one-column');
	array_push($_columnsSet, 'two-columns');
	$listingCustomGridCookie = $meigee_front_helper->getFrontCookie('coccinelleListingGridSwitcher');
//	$listingCustomGridCookie = $meigee_front_helper->getCookie('coccinelleListingGridSwitcher');
	if ( $listingCustomGrid == 1 )
	{
		if ( $listingCustomGridCookie )
		{
			if ( in_array($listingCustomGridCookie,$_columnsSet) == false )
			{
				$grid_columns = $_columns[array_shift($listingColumnsGrids)];
			} else {
				$grid_columns = $listingCustomGridCookie;
			}
		} else {
			$grid_columns = $_columns[array_shift($listingColumnsGrids)];
		}
	}
	$productHoverClass .= ' '.$grid_columns;*/
    ?>
    <div class="products wrapper <?php /* @noEscape */ echo $viewMode; ?> products-<?php /* @noEscape */ echo $viewMode .' '. $grid_columns; if($image_hover_status && $product_hover != 3){echo $image_hover_effect ? ' hover-scale' : ' hover-simple';} ?><?= $productHoverClass; ?>">
        <?php $iterator = 1; ?>
        <ol class="products clearfix list items product-items row">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>

			<?php if($viewMode == 'list') { ?>
				 <?php foreach ($_productCollection as $_product): ?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
					<div class="product-item-info clearfix<?php echo !$_product->isAvailable() ? ' sold-out' : ''; ?>" data-container="product-grid">
						<div class="indent">
                            <div class="image-wrapper">
                                <?php $front_helper->addGallery($_product);
                                    $images = $_product->getMediaGalleryImages();
                                    if ($images->count() > 1) { ?>
                                        <div class="more-views owl-carousel owl-theme">
                                            <?php foreach ($images as $gallery_image) { ?>
                                                <?php if ($_product->getSmallImage() === $gallery_image['file']) { ?>
                                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="first">
                                                        <?php echo $block->getImage($_product, $image, array('data-hover-image'=>null))->toHtml(); ?>
                                                    </a>
                                                <?php } ?>
                                            <?php } ?>
                                            <?php foreach ($images as $gallery_image) { ?>
                                                <?php if ($_product->getSmallImage() !== $gallery_image['file']) { 
                                                        $imgUrl = $this->helper(Magento\Catalog\Helper\Image::class)
                                                                  ->init($_product, $image)
                                                                  ->setImageFile($gallery_image['file'])
                                                                  ->getUrl();
                                                    ?>
                                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                                        <img src="#" data-src="<?php echo $imgUrl;?>" alt="product-image">
                                                    </a>
                                                <?php } ?>
                                            <?php } ?>
                                        </div>
                                    <?php }
                                ?>
                                <?php
                                $hoverImage = $image_hover_status ? $_product->getHoverImage() : false;
                                if ($hoverImage)
                                {
                                    $hoverImageUrl = $this->helper(Magento\Catalog\Helper\Image::class)
                                                      ->init($_product, 'hover_image')
                                                      ->setImageFile($hoverImage)
                                                      ->getUrl();
                                    $productImage = $block->getImage($_product, $image, array('data-hover-image'=>$hoverImageUrl));
                                }
                                else
                                {
                                    $productImage = $block->getImage($_product, $image, array('data-hover-image'=>null));
                                }

                                if ($pos != null) {
                                    $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                } ?>
                                <a href="<?php echo $block->escapeUrl($_product->getProductUrl()) ?>" class="product photo product-item-photo" tabindex="-1">
                                    <?php echo $productImage->toHtml(); ?>
                                </a>
                                <?php
                                    if($front_helper->isProductNew($_product) || $front_helper->isProductSale($_product) || $front_helper->isProductOnlyLeft($_product)) {
                                        echo '<div class="product-labels clearfix '.$labels_type.' '.(($front_helper->isProductNew($_product) && $front_helper->isProductSale($_product)) || ($front_helper->isProductNew($_product) && $front_helper->isProductOnlyLeft($_product)) ? ' two-items' : '').'">';
                                            if($front_helper->isProductNew($_product) && $label_new) {
                                                echo '<span class="label-new">'.__('new').'</span>';
                                            }
                                            if ($front_helper->isProductOnlyLeft($_product) && $label_sale) {
                                                echo $front_helper->isProductOnlyLeft($_product);
                                            }
                                            elseif($front_helper->getProductSalePercent($_product) && $label_sale) {
                                                echo $front_helper->getProductSalePercent($_product);
                                            } elseif ($front_helper->isProductSale($_product) && $label_sale) {
                                                echo '<span class="label-sale">'.__('sale').'</span>';
                                            }
                                        echo '</div>';
                                    }
                                ?>
                                <?php if($wishlist_btn && $product_hover != 4 ) { ?>
                                    <div data-role="add-to-links" class="add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : ''; ?>>
                                        <?php if ($this->helper(Magento\Wishlist\Helper\Data::class)->isAllow()) : ?>
                                            <a href="#"
                                                data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_product) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                <?php } ?>
                                <?php if (($product_hover == 1 && ($cart_btn || ($quickview_btn && $quickview_status))) ||
                                   ($product_hover == 2 && $quickview_btn && $quickview_status)) : ?>
                                    <div class="actions-hover-buttons">
                                        <?php if($cart_btn && $product_hover == 1) { ?>
                                            <div class="product-action-wrapper">
                                                <?php if ($_product->isSaleable()) : ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?php echo $block->escapeUrl($postParams['action']); ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php /* @noEscape */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')); ?>"
                                                                class="action tocart btn btn-default btn-cart">
                                                            <i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php echo __('Read more') ?>" class="btn btn-default"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
                                                <?php endif; ?>
                                            </div>
                                        <?php } ?>
                                        <?php if($quickview_btn && $quickview_status) { ?>
                                            <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_product->getEntityId()); ?>" class="btn btn-primary weltpixel-quickview"><i class="meigee-quickview"></i><span><?php /* @escapeNotVerified */ echo __('Quick view') ?></span></a>
                                        <?php } ?>
                                    </div>
                                <?php endif; ?>

                                <?php if ( $product_hover != 4 && ( $compare_btn || ( $lightbox_status && $lightbox_listing_status ) || ( $cart_btn && $product_hover == 2 ) || ( $product_hover == 3 && $quickview_btn && $quickview_status ) ) ) : ?>
									<?php $btns_counter = 1; ?>
                                    <div class="hover-buttons">
                                        <?php if($cart_btn && $product_hover == 2) { ?>
                                            <div class="product-action-wrapper">
                                                <?php if ($_product->isSaleable()) : ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?php echo $block->escapeUrl($postParams['action']); ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php /* @noEscape */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')); ?>"
                                                                class="action tocart btn btn-default btn-cart<?php echo ' hover-btn-'.$btns_counter;?>">
                                                            <i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php echo __('Read more') ?>" class="btn btn-default<?php echo ' hover-btn-'.$btns_counter;?>"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
                                                <?php endif; ?>
                                            </div>
                                        <?php $btns_counter++; } ?>
                                        <?php if ($compare_btn) : ?>
                                            <div class="add-to-links" data-role="add-to-links">
                                                <?php if ($block->getAddToCompareUrl()): ?>
                                                    <?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class);?>
                                                    <a href="#" class="action tocompare<?php echo ' hover-btn-'.$btns_counter; $btns_counter++; ?>" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_product) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <i class="meigeeadditional-compare"></i>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if($lightbox_status && $lightbox_listing_status) { ?>
                                            <a href="<?php echo $productImage->getImageUrl();  ?>" class="lightbox-button<?php echo ' hover-btn-'.$btns_counter; $btns_counter++; ?>"  data-toggle="lightbox" data-footer="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" title="<?php echo __('Lightbox'); ?>">
                                                <i class="meigee-zoom"></i>
                                            </a>
                                        <?php } ?>
                                    </div>
                                <?php endif; ?>
                                <?php if (!$_product->isAvailable()) : ?>
                                    <div class="sold-out-label">
                                        <span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span>
                                    </div>
                                <?php endif; ?>

								<?php /* Product hover type 4 Hover Buttons begin */ ?>
								<?php
									$wishlist = $wishlist_btn && $this->helper(Magento\Wishlist\Helper\Data::class)->isAllow();
									$compare = $compare_btn && $block->getAddToCompareUrl();
									$quickview = $quickview_btn && $quickview_status;
									$lightbox = $lightbox_status && $lightbox_listing_status;
									$checkButtons = ( ( $wishlist ) || ( $compare ) || ( $quickview ) || ( $lightbox ) );
								?>
								<?php if ( $product_hover == 4 && $checkButtons ) : ?>
									<div class="box-hover-buttons">
										<?php if ( $wishlist ) : ?>
											<div class="box-hover-buttons__btn">
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Add to Wish List' ); ?>
												</div>
												<a href="#"
												   data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams( $_product ); ?>'
												   data-action="add-to-wishlist"
												   class="box-hover-buttons__btn__link">
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-wishlist"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-wishlist-fill"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
										<?php if ( $compare ) : ?>
											<div class="box-hover-buttons__btn">
												<?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class); ?>
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Add to Compare' ); ?>
												</div>
												<a href="#"
												   class="box-hover-buttons__btn__link"
												   data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams( $_product ); ?>'>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-compare"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-compare"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
										<?php if ( $quickview ) : ?>
											<?php
												$baseUrl = $block->getBaseUrl();
												$quickviewUrl = 'weltpixel_quickview/catalog_product/view/id/';
												$itemId = $block->escapeHtml( $_product->getEntityId() );
												$quickviewUrl = $baseUrl . $quickviewUrl . $itemId;
											?>
											<div class="box-hover-buttons__btn">
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Quick view' ); ?>
												</div>
												<a href="javascript:void(0);"
												   class="box-hover-buttons__btn__link"
												   data-quickview-url="<?= $quickviewUrl; ?>">
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-quickview"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-quickview"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
										<?php if ( $lightbox ) : ?>
											<div class="box-hover-buttons__btn">
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Lightbox' ); ?>
												</div>
												<a href="<?= $productImage->getImageUrl(); ?>"
												   class="box-hover-buttons__btn__link"
												   data-toggle="lightbox"
												   data-footer="<?= $_helper->productAttribute( $_product, $_product->getName(), 'name' ); ?>">
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-zoom"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-zoom"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
									</div>
								<?php endif; ?>
								<?php /* Product hover type 4 Hover Buttons eof */ ?>

                            </div>
							<div class="product details product-item-details">
                                <?php if($product_price) { ?>
                                    <?php /* @noEscape */ echo $block->getProductPrice($_product); ?>
                                <?php } ?>

								<?php $_productNameStripped = '';
                                    if($product_name) {
									$_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
									<strong class="product name product-item-name <?php echo $name_align; ?>">
										<a class="product-item-link"
										   href="<?php echo $block->escapeUrl($_product->getProductUrl()) ?>">
											<?php /* @noEscape */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</strong>
								<?php } ?>
								<div class="price-availability-block clearfix">
									<?php if($stock_status != 4 && $stock_status != 1) {
										if ($_product->isAvailable()) : ?>
											<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
										<?php else: ?>
											<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
										<?php endif;
									} ?>
								</div>
                                <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
								<div class="product-item-inner">
									 <?php if ($showDescription) :?>
										<div class="product description product-item-description">
											<?php /* @noEscape */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
											<a href="<?php echo $block->escapeUrl($_product->getProductUrl()) ?>" title="<?php /* @noEscape */ echo $_productNameStripped ?>"
											   class="action more"><?php echo $block->escapeHtml(__('Learn More')) ?></a>
										</div>
									<?php endif; ?>

	                                <div class="swatches-wrapper">
	                                    <?php echo $block->getProductDetailsHtml($_product); ?>
	                                </div>

	                                <?php echo $this->getLayout()->createBlock(Magento\Framework\View\Element\Template::class)->setTemplate("Magento_Catalog::product/product_timer.phtml")->setProduct($_product)->toHtml(); ?>

									<?php /* Product hover type 4 Add to cart begin */ ?>
									<?php if ( $product_hover == 4 && $cart_btn ) : ?>
										<div class="box-addtocart">
											<?php if ( $_product->isSaleable() ) : ?>
												<?php $postParams = $block->getAddToCartPostParams( $_product ); ?>
												<form data-role="tocart-form"
													  data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>"
													  action="<?= $block->escapeUrl($postParams['action']); ?>"
													  method="post">
													<input type="hidden" name="product" value="<?= /* @noEscape */ $postParams['data']['product']; ?>">
													<input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED; ?>"
														   value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?= $block->getBlockHtml('formkey'); ?>
													<button type="submit"
															title="<?= $block->escapeHtmlAttr( __( 'Add to Cart' ) ); ?>"
															class="box-addtocart__btn">
														<i class="meigee-cart"></i>
														<span>
															<?= /* @escapeNotVerified */ __( 'Add to Cart' ); ?>
														</span>
													</button>
												</form>
											<?php else : ?>
												<a href="<?= /* @escapeNotVerified */ $_product->getProductUrl(); ?>"
												   title="<?= __( 'Read more' ); ?>"
												   class="box-addtocart__btn box-addtocart__btn--readmore">
													<i class="meigee-readmore"></i>
													<span>
														<?= __( 'Read more' ); ?>
													</span>
												</a>
											<?php endif; ?>
										</div>
									<?php endif; ?>
									<?php /* Product hover type 4 Add to cart eof */ ?>

                                    <?php if($cart_btn && $product_hover == 3) : ?>
                                        <div class="mobile-action-buttons clearfix">
											<div class="product-action-wrapper">
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?php echo $block->escapeUrl($postParams['action']); ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @noEscape */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit"
																title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')); ?>"
																class="action tocart btn btn-default btn-cart">
															<i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													</form>
												<?php else: ?>
													<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php echo __('Read more') ?>" class="btn btn-default"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
												<?php endif; ?>
											</div>
                                        </div>
                                    <?php endif; ?>
								</div>
							</div>
						</div>
					</div>
					<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
				<?php endforeach; ?>
			<?php } else { ?>
				<?php foreach ($_productCollection as $_product): ?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
					<div class="product-item-info clearfix<?php echo !$_product->isAvailable() ? ' sold-out' : ''; ?>" data-container="product-grid">
						<div class="indent">
                            <div class="image-wrapper">
                                <?php $front_helper->addGallery($_product);
                                    $images = $_product->getMediaGalleryImages();
                                    if ($images->count() > 1) { ?>
                                        <div class="more-views owl-carousel owl-theme">
                                            <?php foreach ($images as $gallery_image) { ?>
                                                <?php if ($_product->getSmallImage() === $gallery_image['file']) { ?>
                                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="first">
                                                        <?php echo $block->getImage($_product, $image, array('data-hover-image'=>null))->toHtml(); ?>
                                                    </a>
                                                <?php } ?>
                                            <?php } ?>
                                            <?php foreach ($images as $gallery_image) { ?>
                                                <?php if ($_product->getSmallImage() !== $gallery_image['file']) { 
                                                        $imgUrl = $this->helper(Magento\Catalog\Helper\Image::class)
                                                                  ->init($_product, $image)
                                                                  ->setImageFile($gallery_image['file'])
                                                                  ->getUrl();
                                                    ?>
                                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                                        <img src="#" data-src="<?php echo $imgUrl;?>" alt="product-image">
                                                    </a>
                                                <?php } ?>
                                            <?php } ?>
                                        </div>
                                    <?php }
                                ?>
                                <?php
                                $hoverImage = $image_hover_status ? $_product->getHoverImage() : false;
                                if ($hoverImage)
                                {
                                    $hoverImageUrl = $this->helper(Magento\Catalog\Helper\Image::class)
                                                      ->init($_product, 'hover_image')
                                                      ->setImageFile($hoverImage)
                                                      ->getUrl();
                                    $productImage = $block->getImage($_product, $image, array('data-hover-image'=>$hoverImageUrl));
                                }
                                else
                                {
                                    $productImage = $block->getImage($_product, $image, array('data-hover-image'=>null));
                                }

                                if ($pos != null) {
                                    $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                } ?>
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                    <?php echo $productImage->toHtml(); ?>
                                </a>
                                <?php
                                    if($front_helper->isProductNew($_product) || $front_helper->isProductSale($_product) || $front_helper->isProductOnlyLeft($_product)) {
                                        echo '<div class="product-labels clearfix '.$labels_type.' '.(($front_helper->isProductNew($_product) && $front_helper->isProductSale($_product)) || ($front_helper->isProductNew($_product) && $front_helper->isProductOnlyLeft($_product)) ? ' two-items' : '').'">';
                                            if($front_helper->isProductNew($_product) && $label_new) {
                                                echo '<span class="label-new">'.__('new').'</span>';
                                            }
                                            if ($front_helper->isProductOnlyLeft($_product) && $label_sale) {
                                                echo $front_helper->isProductOnlyLeft($_product);
                                            }
                                            elseif($front_helper->getProductSalePercent($_product) && $label_sale) {
                                                echo $front_helper->getProductSalePercent($_product);
                                            } elseif ($front_helper->isProductSale($_product) && $label_sale) {
                                                echo '<span class="label-sale">'.__('sale').'</span>';
                                            }
                                        echo '</div>';
                                    }
                                ?>
                                <?php if($wishlist_btn && $product_hover != 4 ) { ?>
                                    <div data-role="add-to-links" class="add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                        <?php if ($this->helper(Magento\Wishlist\Helper\Data::class)->isAllow()): ?>
                                            <a href="#"
                                                data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_product) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                <?php } ?>
                                <?php if (($product_hover == 1 && ($cart_btn || ($quickview_btn && $quickview_status))) ||
                                        ($product_hover == 2 && $quickview_btn && $quickview_status)) : ?>
                                    <div class="actions-hover-buttons">
                                        <?php if($cart_btn && $product_hover == 1) { ?>
                                            <div class="product-action-wrapper">
                                                <?php if ($_product->isSaleable()) : ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?php echo $block->escapeUrl($postParams['action']); ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php /* @noEscape */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')); ?>"
                                                                class="action tocart btn btn-default btn-cart">
                                                            <i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php echo __('Read more') ?>" class="btn btn-default"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
                                                <?php endif; ?>
                                            </div>
                                        <?php } ?>
                                        <?php if($quickview_btn && $quickview_status) { ?>
                                            <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_product->getEntityId()); ?>" class="btn btn-primary weltpixel-quickview"><i class="meigee-quickview"></i><span><?php /* @escapeNotVerified */ echo __('Quick view') ?></span></a>
                                        <?php } ?>
                                    </div>
                                <?php endif; ?>
                                <?php if ( $product_hover != 4 && ( $compare_btn || ( $lightbox_status && $lightbox_listing_status ) || ( $cart_btn && $product_hover == 2 ) || ( $product_hover == 3 && $quickview_btn && $quickview_status ) ) ) : ?>
                                    <?php $btns_counter = 1; ?>
                                    <div class="hover-buttons">
                                        <?php if($cart_btn && $product_hover == 2) { ?>
                                            <div class="product-action-wrapper">
                                                <?php if ($_product->isSaleable()) : ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?php echo $block->escapeUrl($postParams['action']); ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php /* @noEscape */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')); ?>"
                                                                class="action tocart btn btn-default btn-cart<?php echo ' hover-btn-'.$btns_counter;?>">
                                                            <i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php echo __('Read more') ?>" class="btn btn-default<?php echo ' hover-btn-'.$btns_counter;?>"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
                                                <?php endif; ?>
                                            </div>
                                        <?php $btns_counter++; } ?>
                                        <?php if ($compare_btn) : ?>
                                            <div class="add-to-links" data-role="add-to-links">
                                                <?php if ($block->getAddToCompareUrl()) : ?>
                                                    <?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class);?>
                                                    <a href="#" class="action tocompare <?php echo ' hover-btn-'.$btns_counter;?>" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_product) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <i class="meigee-compare"></i>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if($lightbox_status && $lightbox_listing_status) { ?>
                                            <a href="<?php echo $productImage->getImageUrl();  ?>" class="lightbox-button<?php echo ' hover-btn-'.$btns_counter;?>"  data-toggle="lightbox" data-footer="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" title="<?php echo __('Lightbox'); ?>">
                                                <i class="meigee-zoom"></i>
                                            </a>
                                        <?php } ?>
                                        <?php if($product_hover == 3 && $quickview_btn && $quickview_status) { ?>
                                            <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_product->getEntityId()); ?>" class="btn btn-primary weltpixel-quickview<?php echo ' hover-btn-'.$btns_counter;?>"><i class="meigee-quickview"></i><span><?php /* @escapeNotVerified */ echo __('Quick view') ?></span></a>
                                        <?php } ?>
                                    </div>
                                <?php endif; ?>
                                <?php if ($wishlist_btn || $compare_btn || ($quickview_btn && $quickview_status) || ($lightbox_status && $lightbox_listing_status)) : ?>
                                    <div class="hover-buttons-toggle">
                                        <div class="toggle-options">
                                            <i class="meigee-options-vertical"></i>
                                        </div>
                                        <div class="options-block">
                                            <?php if($wishlist_btn || $compare_btn) { ?>
                                                <div data-role="add-to-links" class="add-to-links">
                                                    <?php if ($wishlist_btn && $this->helper(Magento\Wishlist\Helper\Data::class)->isAllow()) : ?>
                                                        <a href="#"
                                                            data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_product) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                        </a>
                                                    <?php endif; ?>
                                                    <?php if ($compare_btn && $block->getAddToCompareUrl()) : ?>
                                                        <?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class);?>
                                                        <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_product) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                            <i class="meigee-compare"></i>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                            <?php } ?>
                                            <?php if($quickview_btn && $quickview_status) { ?>
                                                <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_product->getEntityId()); ?>" class="btn btn-primary weltpixel-quickview"><i class="meigee-quickview"></i><span><?php /* @escapeNotVerified */ echo __('Quick view') ?></span></a>
                                            <?php } ?>
                                            <?php if($lightbox_status && $lightbox_listing_status) { ?>
                                                <a href="<?php echo $productImage->getImageUrl();  ?>" class="lightbox-button"  data-toggle="lightbox" data-footer="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" title="<?php echo __('Lightbox'); ?>">
                                                    <i class="meigee-zoom"></i>
                                                </a>
                                            <?php } ?>
                                        </div>
                                    </div>
                                <?php endif; ?>

                                <?php if (!$_product->isAvailable()): ?>
                                    <div class="sold-out-label">
                                        <span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span>
                                    </div>
                                <?php endif; ?>

								<?php /* Product hover type 4 Hover Buttons begin */ ?>
								<?php
									$wishlist = $wishlist_btn && $this->helper(Magento\Wishlist\Helper\Data::class)->isAllow();
									$compare = $compare_btn && $block->getAddToCompareUrl();
									$quickview = $quickview_btn && $quickview_status;
									$lightbox = $lightbox_status && $lightbox_listing_status;
									$checkButtons = ( ( $wishlist ) || ( $compare ) || ( $quickview ) || ( $lightbox ) );
								?>
								<?php if ( $product_hover == 4 && $checkButtons ) : ?>
									<div class="box-hover-buttons">
										<?php if ( $wishlist ) : ?>
											<div class="box-hover-buttons__btn">
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Add to Wish List' ); ?>
												</div>
												<a href="#"
												   data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams( $_product ); ?>'
												   data-action="add-to-wishlist"
												   class="box-hover-buttons__btn__link">
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-wishlist"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-wishlist-fill"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
										<?php if ( $compare ) : ?>
											<div class="box-hover-buttons__btn">
												<?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class); ?>
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Add to Compare' ); ?>
												</div>
												<a href="#"
												   class="box-hover-buttons__btn__link"
												   data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams( $_product ); ?>'>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-compare"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-compare"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
										<?php if ( $quickview ) : ?>
											<?php
												$baseUrl = $block->getBaseUrl();
												$quickviewUrl = 'weltpixel_quickview/catalog_product/view/id/';
												$itemId = $block->escapeHtml( $_product->getEntityId() );
												$quickviewUrl = $baseUrl . $quickviewUrl . $itemId;
											?>
											<div class="box-hover-buttons__btn">
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Quick view' ); ?>
												</div>
												<a href="javascript:void(0);"
												   class="box-hover-buttons__btn__link weltpixel-quickview"
												   data-quickview-url="<?= $quickviewUrl; ?>">
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-quickview"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-quickview"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
										<?php if ( $lightbox ) : ?>
											<div class="box-hover-buttons__btn">
												<div class="box-hover-buttons__btn__tooltip">
													<?= /* @escapeNotVerified */ __( 'Lightbox' ); ?>
												</div>
												<a href="<?= $productImage->getImageUrl(); ?>"
												   class="box-hover-buttons__btn__link"
												   data-toggle="lightbox"
												   data-footer="<?= $_helper->productAttribute( $_product, $_product->getName(), 'name' ); ?>">
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--front">
														<i class="meigeeadditional-zoom"></i>
													</span>
													<span class="box-hover-buttons__btn__link__side box-hover-buttons__btn__link__side--back">
														<i class="meigeeadditional-zoom"></i>
													</span>
												</a>
											</div>
										<?php endif; ?>
									</div>
								<?php endif; ?>
								<?php /* Product hover type 4 Hover Buttons eof */ ?>
                            </div>
							<?php
								$showReviews = $block->getReviewsSummaryHtml( $_product, $templateType );
                                $disableElements = $product_price || $product_name || $stock_status || $showReviews || $showDescription || $wishlist_btn || $compare_btn || $cart_btn ? '' : ' is-disable';
							?>
							<div class="product details product-item-details<?= $disableElements; ?>">
                                <?php if($product_price) { ?>
                                    <?php /* @noEscape */ echo $block->getProductPrice($_product); ?>
                                <?php } ?>
                                <?php $_productNameStripped = '';
                                    if($product_name) {
	                                $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
	                                <strong class="product name product-item-name <?php echo $name_align; ?>">
	                                    <a class="product-item-link"
	                                       href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
	                                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
	                                    </a>
	                                </strong>
	                            <?php }
	                            if($stock_status != 4 && $stock_status != 2) {
	                                if ($_product->isAvailable()) : ?>
	                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
	                                <?php else: ?>
	                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
	                               <?php endif;
	                            }

	                                echo $showReviews;
	                             ?>
	                            <div class="product-item-inner">
	                                 <?php if ($showDescription) :?>
	                                    <div class="product description product-item-description">
	                                        <?php /* @noEscape */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
	                                        <a href="<?php echo $block->escapeUrl($_product->getProductUrl()) ?>" title="<?php /* @noEscape */ echo $_productNameStripped ?>"
	                                           class="action more"><?php echo $block->escapeHtml(__('Learn More')) ?></a>
	                                    </div>
	                                <?php endif; ?>
	                            </div>
	                            <div class="swatches-wrapper">
	                                <?php echo $block->getProductDetailsHtml($_product); ?>
	                            </div>

                                <?php if ($wishlist_btn || $compare_btn || $cart_btn) : ?>
                                    <div class="mobile-action-buttons clearfix">
                                        <?php if($cart_btn) { ?>
                                            <div class="product-action-wrapper">
                                                <?php if ($_product->isSaleable()) : ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?php echo $block->escapeUrl($postParams['action']); ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php /* @noEscape */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')); ?>"
                                                                class="action tocart btn btn-default btn-cart">
                                                            <i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php echo __('Read more') ?>" class="btn btn-default"><i class="meigee-readmore"></i><span><?php echo __('Read more') ?></span></a>
                                                <?php endif; ?>
                                            </div>
                                        <?php } ?>
                                        <?php if($wishlist_btn || $compare_btn) { ?>
                                            <?php if ($wishlist_btn && $this->helper(Magento\Wishlist\Helper\Data::class)->isAllow()): ?>
                                                <div data-role="add-to-links" class="add-to-links">
                                                    <a href="#"
                                                        data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_product) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                    </a>
                                                </div>
                                            <?php endif; ?>
                                            <?php if ($compare_btn && $block->getAddToCompareUrl()) : ?>
                                                <div data-role="add-to-links" class="add-to-links">
                                                    <?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class);?>
                                                    <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_product) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <i class="meigee-compare"></i>
                                                    </a>
                                                </div>
                                            <?php endif; ?>
                                        <?php } ?>
                                    </div>
                                <?php endif; ?>

	                            <?php echo $this->getLayout()->createBlock(Magento\Framework\View\Element\Template::class)->setTemplate("Magento_Catalog::product/product_timer.phtml")->setProduct($_product)->toHtml(); ?>

								<?php /* Product hover type 4 Add to cart begin */ ?>
								<?php if ( $product_hover == 4 && $cart_btn ) : ?>
									<div class="box-addtocart">
										<?php if ( $_product->isSaleable() ) : ?>
											<form data-role="tocart-form"
												  data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>"
												  action="<?= $block->escapeUrl($postParams['action']); ?>"
												  method="post">
												<input type="hidden" name="product" value="<?= /* @noEscape */ $postParams['data']['product']; ?>">
												<input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED; ?>"
													   value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
												<?= $block->getBlockHtml('formkey'); ?>
												<button type="submit"
														title="<?= $block->escapeHtmlAttr( __( 'Add to Cart' ) ); ?>"
														class="box-addtocart__btn">
													<i class="meigee-cart"></i>
													<span>
														<?= /* @escapeNotVerified */ __( 'Add to Cart' ); ?>
													</span>
												</button>
											</form>
										<?php else : ?>
											<a href="<?= /* @escapeNotVerified */ $_product->getProductUrl(); ?>"
											   title="<?= __( 'Read more' ); ?>"
											   class="box-addtocart__btn box-addtocart__btn--readmore">
												<i class="meigee-readmore"></i>
												<span>
													<?= __( 'Read more' ); ?>
												</span>
											</a>
										<?php endif; ?>
									</div>
								<?php endif; ?>
								<?php /* Product hover type 4 Add to cart eof */ ?>

								</div>
							</div>
						</div>
					<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
				<?php endforeach; ?>
			<?php } ?>
        </ol>
    </div>
	<div class="toolbar-bottom">
		 <?= $block->getToolbarHtml(); ?>
	</div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>

	<script type="text/x-magento-init">
		{
			"*": {
				"Meigee_Coccinelle/js/theme_listing_helper": {
					"customSwitcher": "<?= $listingCustomGrid; ?>"
				}
			}
		}
	</script>
<?php endif; ?>
