<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<?php 
    $rand = rand(5, 1500);
?>
<div class="block newsletter">
    <div class="title"><strong><?php echo $block->escapeHtml(__('Newsletter')); ?></strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->escapeUrl($block->getFormActionUrl()); ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-content-validate-detail-<?php echo $rand; ?>">
            <div class="field newsletter">
                <label class="label" for="newsletter-content-<?php echo $rand; ?>"><span><?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Subscribe to our newsletter')) ?></span></label>
                <div class="input-wrapper">
                    <input class="form-control" name="email" type="email" id="newsletter-content-<?php echo $rand; ?>"
                                placeholder="<?php echo $block->escapeHtml(__('Email')) ?>"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Email'"
								data-mage-init='{"mage/trim-input":{}}'
                                data-validate="{required:true, 'validate-email':true}"/>

                </div>
                <button class="action subscribe btn btn-default" title="<?php echo $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit" aria-label="Subscribe">
                    <span><?php echo $block->escapeHtml(__('Subscribe')) ?></span><i class="meigee-arrow-right"></i>
                </button>
            </div>
        </form>
    </div>
</div>
