<?php
$_customers = $block->getCustomer();
if ($_customers && ! empty($_customers)) :
    ?>
<div class="block block-addresses-default">
 <div class="table-wrapper orders-history">
     <table class="data table table-order-items history"
            id="my-orders-table">
          <caption class="table-caption"></caption>
          <thead>
                <tr>
                   <th scope="col" class="col id"><?php /* @noEscape */ echo __('Id #') ?></th>
                   <th scope="col" class="col date"><?php /* @noEscape */ echo __('Name') ?></th>
                 <th scope="col" class="col shipping"><?php /* @noEscape */ echo __('Email') ?></th>
                    <th scope="col" class="col status"><?php /* @noEscape */ echo __('Status') ?></th>
                 <th scope="col" class="col actions">&nbsp;</th>
                </tr>
          </thead>
           <tbody>
            <?php
    
            foreach ($_customers as $_customer) :
                    $status = $_customer['customer_status'];
                    ?>
                            <tr>
                    <td
                        data-th="<?php /* @noEscape */ echo $block->escapeHtml(__('Id #')) ?>" class="col id">
                        <?php /* @noEscape */ echo $_customer['entity_id'] ?></td>
                 <td
                        data-th="<?php /* @noEscape */ echo $block->escapeHtml(__('Name #')) ?>" class="col date">
                        <?php /* @noEscape */ echo $_customer['name'] ?></td>
                  <td
                        data-th="<?php /* @noEscape */ echo $block->escapeHtml(__('Email #')) ?>" class="col shipping">
                        <?php /* @noEscape */ echo $_customer['email'] ?></td>
                 <td
                        data-th="<?php /* @noEscape */ echo $block->escapeHtml(__('Status #')) ?>" class="col status">
                        <?php /* @noEscape */ echo ($status)?'Active':'Inactive'?></td>
                    <td
                        data-th="<?php /* @noEscape */ echo $block->escapeHtml(__('Actions #')) ?>" class="col actions">
                    <?php if ($status) :
?>
                        <a
                     href="<?php /* @noEscape */ echo $block->getContactPersonLogin($_customer) ?>"
                     class="action order"> <span><?php /* @noEscape */ echo __('Place order') ?></span>
                 </a>
                    <?php
endif;?>
                    </td>
              </tr>
            <?php
            endforeach;?>
        </tbody>
     </table>
   </div>      
<?php if ($block->getPagerHtml()) :
?>
    <div class="order-products-toolbar toolbar bottom">
    <?php /* @noEscape */ echo $block->getPagerHtml(); ?></div>
<?php
endif ?>

</div>
<?php
else :
?>
<div class="message info empty">
    <span><?php /* @noEscape */ echo __('No contact person assign .'); ?></span>
</div>
<?php
endif ?>
