<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Checkout
 */
?>
<?php
/** @var \Magento\Checkout\Block\Onepage $block */

/** @var \Amasty\Checkout\Helper\Onepage $helper */
$helper = $block->getData('amcheckout_helper');
$design = $helper->isModernCheckoutDesign() ? 'modern' : 'classic';
$layout = $helper->getDesignLayout();
$lightechHelper = $this->helper('\Appseconnect\LightechDiscounts\Helper\Data');
$subTotal = $lightechHelper->getSubtotal();
$row = $lightechHelper->getRowDetails();
?>

<div id="checkout"
     data-bind="scope:'checkout'"
     class="checkout-container am-checkout -<?= /* @noEscape */ $design?> -layout-<?= /* @noEscape */ $layout?>"
     data-amcheckout-js="checkout">
    <div class="checkout-header">
        <h1 class="title"><?= $block->escapeHtml($helper->getTitle()); ?></h1>
        <div class="description"><?= /* @escapeNotVerified */ $helper->getDescription(); ?></div>
    </div>

    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?=
            /* @noEscape */ $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?= $block->escapeHtml(__('Loading...')); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @escapeNotVerified */ \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
        window.checkoutDesign = "<?= $helper->isModernCheckoutDesign() ? 'modern' : 'classic'?>";
        window.checkoutLayout = "<?= $helper->getLayoutTemplate()?>";
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?=
                /* @noEscape */ $block->getViewFileUrl('images/loader-1.gif'); ?>");
            return url.setBaseUrl('<?= /* @noEscape */ $block->getBaseUrl();?>');
        });
    </script>

    <?php if ($helper->isAddressSuggestionEnabled() && ($apiKey = $helper->getGoogleMapsKey())) : ?>
    <script>
        window.amasty_checkout_regions = <?= /* @noEscape */ $helper->getRegionsJson() ?>;
        function amasty_checkout_gmaps_init() {
            require(['Amasty_Checkout/js/autocomplete'], function (autocomplete) {
                autocomplete.isReady(true);
            });
        }
    </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?= /* @noEscape */ $block->stripTags($apiKey) ?>&libraries=places&callback=amasty_checkout_gmaps_init" async defer></script>
    <?php endif ?>
</div>
<input id="custom-cart-subtotal" value="<?php echo $subTotal?>" type="hidden" />
<script type="text/javascript">
    window.pausecontent = <?php echo json_encode($row); ?>;
</script>

<?php
$store = \Magento\Framework\App\ObjectManager::getInstance()->get(\Magento\Store\Model\StoreManagerInterface::class)->getStore();
?>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($, ui){
        //(function($) {
        $(document).ready(function(){
            // // CHECK IF THE BROWSER IS NOT INTERNET EXPLORER 10
            // if (navigator.appVersion.indexOf("MSIE 10") == -1)
            // {

                MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
                var observer = new MutationObserver(function(mutations, observer){
                    mutations.forEach(function(mutation) {
                        if($(mutation.target).length > 0 && $(mutation.target).prop('name') != undefined
                            && $(mutation.target).prop('name').toLowerCase() === 'comment-code')
                        {
                            var li_shippingMethod = $('#opc-shipping_method');
                            var div_orderNote = $('.checkout-agreements-block');
                            if (li_shippingMethod.length > 0 && div_orderNote.length > 0){
                                var div_shippingMethod = li_shippingMethod.parent();
                                if (div_shippingMethod.length > 0){

                                    <?php
                                    if ($store->getCode() == 'it'){
                                    ?>
                                    var title = 'Note Ordine';
                                    <?php
                                    } else{
                                    ?>
                                    var title = 'Order Notes';
                                    <?php
                                    }
                                    ?>

                                    var div = $(
                                        '<div class="checkout-block checkout-block-orders-note">' +
                                        '<li id="opc-shipping_method_order_notes" class="checkout-shipping-method checkout-orders_note">' +
                                        '<div class="checkout-shipping-method checkout-orders_note">' +
                                        '<p class="step-title amcheckout-title step-title-orders-note" data-amcheckout-js="step-title">' + title + '</p>' +
                                        '</div>' +
                                        '</li>' +
                                        '</div>'
                                    );

                                    div_shippingMethod.after(div);
                                    div_orderNote.appendTo($('.step-title-orders-note'));

                                    observer.disconnect();
                                }
                            }
                        }
                    });
                });
                observer.observe(document.body,{childList:false, subtree:true, attributes:true, characterData:false});

            // }//if (navigator.appVersion.indexOf("MSIE 10")
        });
        //})(jQuery);
    });
</script>