<?php
/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post list item template
 *
 * @var $block \Magefan\Blog\Block\Post\AbstractPost
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
?>
<li class="item-<?php echo $_post->getId() ?> item post-holder">
    <div class="inner-wrapper">
        <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
            <div class="post-ftimg-hld">
                <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                    <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                </a>
            </div>
        <?php } ?>

        <div class="post-content">
            <div class="post-info">
                <div class="post-categories">
                    <i class="meigee-category"></i>
                    <?php if ($_categoriesCount = $_post->getCategoriesCount()) { ?>
                        <?php echo __('Categories:') ?>
                        <?php $n = 0; foreach($_post->getParentCategories() as $ct) { $n++; ?>
                            <a title="<?php echo $block->escapeHtml($ct->getTitle()) ?>" href="<?php echo $ct->getCategoryUrl() ?>">
                                <?php echo $block->escapeHtml($ct->getTitle()) ?>
                            </a>
                            <?php if ($n != $_categoriesCount) { ?>, <?php } ?>
                        <?php } ?>
                    <?php } ?>
                </div>
                <div class="comments">
                    <a title="<?php echo $block->escapeHtml($_post->getTitle()) ?>" href="<?php echo $_postUrl ?>#post-comments">
                        <i class="meigee-comment"></i>
                        <?php echo __('Comments:') ?><?php echo $block->escapeHtml($_post->getCommentsCount()) ?>
                    </a>
                </div>
                <p class="post-icon">
                    <i class="meigee-post"></i>
                </p>
            </div>

            <div class="post-title-holder clearfix">
                <div class="post-title">
                    <a class="post-item-link" href="<?php echo $_postUrl ?>"> <?php echo $_postName; ?> </a>
                </div>
            </div>

            <div class="post-description clearfix">
                <div class="post-text-hld clearfix">
                    <?php echo $block->getShorContent($_post) ?>
                </div>
                <div class="actions">
                    <a class="btn btn-default" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>"
                       >
                       <?php echo __('Read') ?>
                    </a>
                </div>
            </div>

            <div class="post-info-bottom">
                <?php if ($_author = $_post->getAuthor()) { ?>
                    <div class="post-author">                                           
                        <i class="meigee-author"></i>
                        <span><?php echo $block->escapeHtml($_author->getTitle()) ?></span>
                    </div>
                <?php } ?>
                <div class="post-date">
                    <i class="meigee-clock"></i>
                    <span class="label"><?php echo __('Posted:') ?></span>
                    <span class="value"><?php echo $_post->getPublishDate('F d, Y') ?></span>
                </div>
            </div>
            
            <div class="post-footer">
                <?php if ($_tagsCount = $_post->getTagsCount()) { ?>
                    <div class="tags">
                        <h4><?php echo __('Tags:') ?></h4>
                        <ul class="tags">                    
                            <?php $n = 0; foreach($_post->getRelatedTags() as $tag) { $n++; ?>
                            <li>
                                <a title="<?php echo $block->escapeHtml($tag->getTitle()) ?>" href="<?php echo $tag->getTagUrl() ?>">
                                    <?php echo $block->escapeHtml($tag->getTitle()) ?>
                                </a>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                <?php } ?>
                <div class="addthis_toolbox addthis_default_style"
                    addthis:url="<?php echo $_postUrl ?>"
                    addthis:title="<?php echo $_postName; ?>"
                    <?php if ($firstImage = $_post->getFirstImage()) { ?>
                    addthis:media="<?php echo $firstImage ?>"
                    <?php } ?>>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_google_plusone"></a>
                </div>
            </div>
        </div>

    </div>
</li>