<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
// phpcs:disable PSR2.ControlStructures.SwitchDeclaration
// phpcs:disable Generic.WhiteSpace.ScopeIndent
 
/* @var $block \Magento\Catalog\Block\Product\Compare\ListCompare */
?>
<?php $total = $block->getItems()->getSize() ?>
<?php if ($total) : ?>
    <a href="#" class="action print hidden-print" title="<?php echo $block->escapeHtmlAttr(__('Print This Page')) ?>">
        <span><?php echo $block->escapeHtmlAttr(__('Print This Page')) ?></span>
    </a>
        <div class="table-wrapper comparison">
            <table class="data table table-bordered table-comparison" id="product-comparison"
                data-mage-init='{"compareList":{
                    "windowPrintSelector":".action.print",
                    "productsInRow":"5",
                    "selectors":{
                        "productAddToCartSelector":"button.action.tocart"}
                }}'>
               <!--  <caption class="table-caption"><?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Compare Products')) ?></caption> -->

                <tbody>
                <tr>
                    <?php $index = 0; ?>
                    <?php $helper = $this->helper(\Magento\Catalog\Helper\Output::class); ?>
                    <?php /** @var $item \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($block->getItems() as $item): ?>
                        <?php if ($index++ == 0) : ?>
                            <th scope="row" class="cell table-label product"><span><?php /* @escapeNotVerified */ echo __('Product') ?></span></th>
                        <?php endif; ?>
                        <td data-th="<?php echo $block->escapeHtml(__('Product')); ?>" class="cell product">
                            <a class="product-item-photo" href="<?php echo $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?php /* @noEscape */ echo $block->stripTags($item->getName(), null, true) ?>">
                                <?php echo $block->getImage($item, 'product_comparison_list')->toHtml(); ?>
                            </a>
                            <strong class="product-item-name">
                                <a href="<?php echo $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?php /* @noEscape */ echo $block->stripTags($item->getName(), null, true) ?>">
                                    <?php /* @noEscape */ echo $helper->productAttribute($item, $item->getName(), 'name') ?>
                                </a>
                            </strong>
                            <?php echo $block->getReviewsSummaryHtml($item, 'short') ?>
                            <?php /* @noEscape */ echo $block->getProductPrice($item, '-compare-list-top') ?>

                            <?php if (!$item->isSaleable()) : ?>
                                <?php if ($item->getIsSalable()) : ?>
                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo $block->escapeHtml(__('In stock')) ?></span></div>
                                <?php else: ?>
                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Out of stock')) ?></span></div>
                                <?php endif; ?>
                            <?php endif; ?>
                            <div class="product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($item->isSaleable()) : ?>
                                        <form data-role="tocart-form" action="<?php echo $block->escapeUrl($this->helper(\Magento\Catalog\Helper\Product\Compare::class)->getAddToCartUrl($item)); ?>" method="post">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <button type="submit" class="action tocart primary btn btn-default">
                                                <span><i class="meigee-cart"></i><span><?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Add to Cart')); ?></span></span>
                                            </button>
                                        </form>
                                    <?php endif; ?>
                                </div>
                                <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow()) : ?>
                                    <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                        <a href="#" data-post='<?php /* @noEscape */ echo $block->getAddToWishlistParams($item); ?>' class="action towishlist" data-action="add-to-wishlist" title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                            <i class="meigee-wishlist"></i>
                                        </a>
										<?php $compareHelper = $this->helper(\Magento\Catalog\Helper\Product\Compare::class);?>
										<a href="#" data-post='<?php /* @noEscape */ echo $compareHelper->getPostDataRemove($item); ?>'
										   class="action delete" title="<?php echo $block->escapeHtmlAttr(__('Remove Product')) ?>">
											<i class="meigee-close-small"></i>
										</a>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </tbody>
                <tbody>
                <?php foreach ($block->getAttributes() as $attribute): ?>
					<?php $index = 0 ?>
					<?php if ($block->hasAttributeValueForProducts($attribute)) : ?>
						<tr>
							<?php foreach ($block->getItems() as $item): ?>
								<?php if ($index++ == 0) : ?>
									<th scope="row" class="cell table-label">
										<span class="attribute label">
											<?php echo $block->escapeHtml($attribute->getStoreLabel() ? $attribute->getStoreLabel() : __($attribute->getFrontendLabel())) ?>
										</span>
									</th>
								<?php endif; ?>
								<td class="cell product attribute">
									<div class="attribute value">
										<?php switch ($attribute->getAttributeCode()) {
											case "price": ?>
												<?php
													/* @noEscape */ echo $block->getProductPrice(
														$item,
														'-compare-list-' . $attribute->getCode()
													)
												?>
												<?php break;
											case "small_image": ?>
												<?php $block->getImage($item, 'product_small_image')->toHtml(); ?>
												<?php break;
											default: ?>
                                                <?php if (is_string($block->getProductAttributeValue($item, $attribute))) : ?>
                                                    <?php /* @noEscape */ echo $helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode()) ?>
                                                <?php endif; ?>
											<?php break;
										} ?>
									</div>
								</td>
							<?php endforeach; ?>
						</tr>
					<?php endif; ?>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php if (!$block->isRedirectToCartEnabled()) : ?>
            <script type="text/x-magento-init">
            {
                "[data-role=tocart-form]": {
                    "catalogAddToCart": {}
                }
            }
            </script>
        <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><div><?php echo $block->escapeHtml(__('You have no items to compare.')) ?></div></div>
<?php endif; ?>
