<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
	$type = 'widget-product-grid';
    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';

	$widget_type = $this->getData('widget_type');
	if($widget_type == 'bestsellers') {
		$items = $block->getBestSellersCollection()->getItems();
	} elseif($widget_type == 'newproducts') {
		$items = $block->getNewProductsCollection()->getItems();
	} elseif($widget_type == 'featuredcategory') {
		$items = $block->getFeaturedCategoryProductsCollection()->getItems();
	} elseif($widget_type == 'saleproducts') {
		$items = $block->getSaleProductsCollection()->getItems();
	} else {
		$items = $block->getProductCollection()->getItems();
	}

    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

	$widget_id = $block->getData('widget_id');

	$visibleProducts       = $block->getData('visible_products');
    $visibleProductsTablet = $block->getData('visible_products_tablet');
    $visibleProductsMobile = $block->getData('visible_products_mobile');
    $pagination            = $block->getData('pagination');

	$type_price = 'widget-product-grid-'.$widget_id;
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $reviewBlock = $objectManager->get('\Magento\Review\Block\Product\ReviewRenderer');
    $url = $reviewBlock->getReviewsUrl() . '#reviews';
    $urlForm = $reviewBlock->getReviewsUrl() . '#review-form';
	
	$showName = $block->getOptionVal('product_name');
	$showPrice = $block->getOptionVal('product_price');
	$showStock = $block->getOptionVal('stock_status_slider');
	$showDesc = $block->getOptionVal('desc_slider');
	$showTimer = $block->getOptionVal('timer_slider'); // @todo
	$showCart = $block->getOptionVal('add_to_cart');
	$showWishlist = $block->getOptionVal('wishlist');
	$showCompare = $block->getOptionVal('compare');
	$showRatingStars = $block->getOptionVal('rating_stars_slider');
    $showRatingCustLink = $block->getOptionVal('rating_cust_link_slider');
    $showAddReview = $block->getOptionVal('rating_add_review_link_slider');
    (($showRatingStars || $showRatingCustLink || $showAddReview) ? $showReviews = true : $showReviews = false);

?>
    <div class="block widget block-products-list meigee-widget slider <?php /* @escapeNotVerified */ echo $mode; ?>" id="widget-products-<?php echo $widget_id; ?>">
        <?php if ($title):?>
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <div class="product-items owl-carousel owl-theme clearfix <?= /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php if ($iterator++ != 1): ?></div><?php endif ?>
                        <div class="product-item">
                        <div class="product-item-info">
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-item-details">
								<?php if($showName) { ?>
									<strong class="product-item-name">
										<a title="<?= $block->escapeHtml($_item->getName()) ?>"
										   href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
										   class="product-item-link">
											<?= $block->escapeHtml($_item->getName()) ?>
										</a>
									</strong>
								<?php } ?>
								
                                <?php echo ($showPrice ? $block->getProductPriceHtml($_item, $type) : ''); ?>

                                <?php if ($reviewBlock->getReviewsCount() && $showReviews): ?>
                                    <?php $rating = $reviewBlock->getRatingSummary(); ?>
                                    <div class="product-reviews-summary<?= !$rating ? ' no-rating' : '' ?>" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                        <?php if ($rating && $showRatingStars):?>
                                            <div class="rating-summary">
                                                 <span class="label"><span><?= $block->escapeHtml(__('Rating')) ?>:</span></span>
                                                 <div class="rating-result" title="<?= $block->escapeHtmlAttr($rating); ?>%">
                                                     <span style="width:<?= $block->escapeHtmlAttr($rating); ?>%">
                                                         <span>
                                                             <span itemprop="ratingValue"><?= $block->escapeHtml($rating); ?></span>% of <span itemprop="bestRating">100</span>
                                                         </span>
                                                     </span>
                                                 </div>
                                             </div>
                                        <?php endif;?>
                                        <?php if($showRatingCustLink || $showAddReview) { ?>
                                            <div class="reviews-actions">
                                                <?php if($showRatingCustLink) { ?>
                                                    <a class="action view"
                                                       href="<?= $block->escapeUrl($url) ?>">
                                                        <span itemprop="reviewCount"><?= $block->escapeHtml($reviewBlock->getReviewsCount()) ?></span>&nbsp;
                                                        <span><?= ($reviewBlock->getReviewsCount() == 1) ? $block->escapeHtml(__('Review')) : $block->escapeHtml(__('Reviews')) ?></span>
                                                    </a>
                                                <?php } ?>
                                                <?php if($showAddReview) { ?>
                                                    <a class="action add" href="<?= $block->escapeUrl($urlForm) ?>"><?= $block->escapeHtml(__('Add Your Review')) ?></a>
                                                <?php } ?>
                                            </div>
                                        <?php } ?>
                                    </div>
                                <?php elseif ($reviewBlock->getDisplayIfEmpty()): ?>
                                    <div class="product-reviews-summary empty">
                                        <div class="reviews-actions">
                                            <a class="action add" href="<?= $block->escapeUrl($urlForm) ?>">
                                                <?= $block->escapeHtml(__('Be the first to review this product')) ?>
                                            </a>
                                        </div>
                                    </div>
                                <?php endif; ?>

								<?php if($showStock) { ?>
									<?php if ($_item->getIsSalable()): ?>
										<div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
									<?php endif; ?>
								<?php } ?>
								
								<?php if ($showDesc):?>
                                    <div class="product-item-description">
                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
                                        <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                           href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>"
                                           class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                    </div>
                                <?php endif; ?>
								
                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <button class="action primary" onclick="window.location.href='<?= $block->escapeUrl($block->getProductUrl($_item)) ?>'">
														<span><?= $block->escapeHtml(__('View product')) ?></span>
													</button>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?= ($iterator == count($items)+1) ? '</div>' : '' ?>
                    <?php endforeach ?>
                </div>
            </div>
			<?php
			if(count($items) > 4){ ?>
				<script type="text/javascript">
					require(["jquery"], function(jQuery)
					{
						require(["widgetCarousel"], function(owlCarousel)
                        {
                            homeSlider<?php echo $widget_id; ?> = jQuery('#widget-products-<?php echo $widget_id; ?> .product-items');
                            homeSlider<?php echo $widget_id; ?>.owlCarousel({
                                margin: 0,
                                nav:true,
                                responsive:{
                                    0:{
                                        items:1
                                    },
                                    375:{
                                        items:2
                                    },
                                    767:{
                                        items:<?php echo $visibleProductsTablet; ?>
                                    },
                                    1007:{
                                        items:<?php echo $visibleProducts; ?>
                                    },
                                    1331:{
                                        items:<?php echo $visibleProducts; ?>
                                    }
                                },
                                smartSpeed: 500,
                                dots: <?php echo $pagination; ?>,
                                loop: true,
                                navigation: true,
                                navText: ['<i class="caret-left"></i>','<i class="caret-right"></i>']
							});
                            jQuery(document).ready(function(){
                                homeSlider<?php echo $widget_id; ?> = jQuery('#widget-products-<?php echo $widget_id; ?> .product-items');
                                if(!jQuery('#widget-products-<?php echo $widget_id; ?>').closest('.text-banner').find('.owl-nav').length && !jQuery('#widget-products-<?php echo $widget_id; ?>').prev('.widget-title').find('.owl-nav-wrapper').length) {
                                    navContainer = jQuery('<div class="owl-nav-wrapper clearfix" />');
                                    navButtons = jQuery('#widget-products-<?php echo $widget_id; ?>').find('.owl-nav');
                                    navContainer.appendTo(jQuery('#widget-products-<?php echo $widget_id; ?>').prev('.widget-title'));
                                    navButtons.appendTo(jQuery('#widget-products-<?php echo $widget_id; ?>').prev('.widget-title').addClass('with-owl-nav').find('.owl-nav-wrapper'));
                                } else if (jQuery('#widget-products-<?php echo $widget_id; ?>').closest('.text-banner')) {
                                    navContainer = jQuery('#widget-products-<?php echo $widget_id; ?>').find('.owl-nav');
                                    navContainer.appendTo(jQuery('#widget-products-<?php echo $widget_id; ?>').closest('.text-banner'));
                                    jQuery('#widget-products-<?php echo $widget_id; ?>').closest('.text-banner').addClass('with-owl-buttons');
                                }
                            });
                        });
					  });
				</script>
			<?php } else {
				  echo $block->getPagerHtml();
				}
			?>
        </div>
    </div>
<?php endif;?>
