<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
//$price_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_topcart', 'price');
$icon_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_topcart', 'icon');
$text_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_topcart', 'text');
$counter_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_topcart', 'counter');
?>
<?php if($icon_status || $text_status || $counter_status) { ?>
    <div data-block="minicart" class="minicart-wrapper">
        <a class="action showcart title-cart<?php if ($text_status): echo ' with-text'; endif; ?>" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>"
           data-bind="scope: 'minicart_content'">
            <span class="counter qty empty"
                      data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                    <span class="icon-wrapper<?php if (!$icon_status): echo ' no-icon'; endif; ?><?php if (!$counter_status): echo ' no-counter'; endif; ?>">
                        <span class="icon">
                            <i class="meigee-cart"></i>
                        </span>
                        <?php if($counter_status) { ?>
                        <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
                        <span class="counter-label">
                        <!-- ko if: getCartParam('summary_count') -->
                            <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                            <!-- ko i18n: 'items' --><!-- /ko -->
                        <!-- /ko -->
                        </span>
                        <?php } ?>
                    </span>
                <?php if($text_status) { ?>
                <span class="text"><?php /* @escapeNotVerified */ echo __('Cart'); ?></span>
                <?php } ?>
            </span>
        </a>
        <?php if ($block->getIsNeedToDisplaySideBar()): ?>
            <div class="block block-minicart"
                 data-role="dropdownDialog"
                 data-mage-init='{"dropdownDialog":{
                    "appendTo":"[data-block=minicart]",
                    "triggerTarget":".showcart",
                    "timeout": "2000",
                    "closeOnMouseLeave": true,
                    "closeOnEscape": true,
                    "triggerClass":"active",
                    "parentClass":"active",
                    "buttons":[]}}'>
                <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
    			<?php echo $block->getChildHtml('minicart.addons'); ?>
            </div>
        <?php else: ?>
        <script>
            require(['jquery'], function ($) {
                $('a.action.showcart').click(function() {
                    $(document.body).trigger('processStart');
                });
            });
        </script>
        <?php endif ?>
        <script>
            window.checkout = <?= /* @escapeNotVerified */ $block->getSerializedConfig() ?>;
        </script>
        <script type="text/x-magento-init">
        {
            "[data-block='minicart']": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            },
            "*": {
                "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
            }
        }
        </script>
    </div>
<?php } ?>

