<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Catalog\Pricing\Render\FinalPriceBox;
use Magento\Framework\Pricing\Price\PriceInterface;

// @codingStandardsIgnoreFile

?>

<?php
/** @var FinalPriceBox $block */

/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
?>
<?php if ($block->hasSpecialPrice()): ?>
    <span class="special-price">
        <?php /* @escapeNotVerified */
        echo $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label' => __('Special Price'),
            'price_id' => $block->getPriceId('product-price-' . $idSuffix),
            'price_type' => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </span>
    <span class="old-price">
        <?php /* @escapeNotVerified */
        echo $block->renderAmount($priceModel->getAmount(), [
            'display_label' => __('Regular Price'),
            'price_id' => $block->getPriceId('old-price-' . $idSuffix),
            'price_type' => 'oldPrice',
            'include_container' => true,
            'skip_adjustments' => true
        ]); ?>
    </span>
<?php else:
    $priceData = $block->renderAmount($finalPriceModel->getAmount(), [
        'price_id' => $block->getPriceId('product-price-' . $idSuffix),
        'price_type' => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]);
    ?>

<?php 
    /* @escapeNotVerified */
    echo $priceData;
?>
    <?php if($block->getZone() == 'item_view') : ?>
    <?php
            $doc = new DOMDocument();
            $doc->loadHTML($priceData);
            $newPrice = $doc->getElementById('custom-price-discount')->textContent;
            $oldPrice = $priceModel->getAmount()->getValue();
    ?>
        <?php echo (!empty($newPrice) && !empty($oldPrice) && $newPrice != $oldPrice) ? "<span class='price' style='font-weight: 350'>&nbsp;&nbsp;<strike>" . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($oldPrice, true, false) . "</strike></span>": "" ?>
    <?php else: ?>
    <?php
            $oldPrice = $finalPriceModel->getAmount()->getValue();
            $price = $block->getPriceType('final_price')->getProduct()->getBaseCost();
    ?>
        <?php echo (!empty($price) && !empty($oldPrice) && $price != $oldPrice) ? "<span class='price' style='font-weight: 350'>&nbsp;&nbsp;<strike>" . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price, true, false) . "</strike></span>" : "" ?>
    <?php endif; ?>
<?php endif; ?>
<?php if ($block->showMinimalPrice()): ?>
    <?php if ($block->getUseLinkForAsLowAs()): ?>
        <a href="<?= /* @escapeNotVerified */
        $block->getSaleableItem()->getProductUrl() ?>" class="minimal-price-link">
            <?= /* @escapeNotVerified */
            $block->renderAmountMinimal() ?>
        </a>
    <?php else: ?>
        <span class="minimal-price-link">
            <?= /* @escapeNotVerified */
            $block->renderAmountMinimal() ?>
        </span>
    <?php endif ?>
<?php endif; ?>