/*Filter navigation*/
#layered-filter-block {
  padding-top: 0;
  &.empty:not(.mobile),
  &.filter-no-options:not(.mobile) {
    height: 0;
    padding: 0;
    border: none;
  }
  .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ddd;
    background: none;
    text-align: left;
    @media @sm-and-up {
      display: none;
    }
    i {
      padding-right: 10px;
    }
    span {
      font-family: @font-main;
      font-size: 18px;
      line-height: 1;
    }
  }
  .block-subtitle {
    border-bottom: none;
    font-family: @font-main;
    font-size: 24px;
    color: rgba(0,0,0,0.8);
    font-weight: 600;
    line-height: normal;
    padding-left: 0;
  }
  .filter-options-item {
    padding-bottom: 0;
    border: none;
    .filter-options-title {
      font-family: @font-main;
      font-size: 18px;
      color: rgba(0,0,0,0.8);
      font-weight: 600;
      text-transform: none;
      padding-bottom: 5px;
      padding-left: 0;
      &:after {
        content: '\e908';
        font-family: 'meigee';
        color: rgba(0,0,0,0.4);
      }
    }
    .filter-options-content {
      padding-left: 0;
      padding-right: 0;
      .item {
        font-weight: 400;
        font-family: @font-second;
        font-size: 14px;
        line-height: normal;
        color: rgba(0,0,0,0.6);
        .filter-label {
          font-weight: 400;
        }
      }
      a {
        color: rgba(0,0,0,0.6);
        &:hover {
          color: @color-primary;
          background-color: transparent;
        }
        .swatch-option {
          margin-bottom: 10px;
          &.color,
          &.image {
            width: 40px;
            height: 40px;
            padding: 0;
            border: 1px solid rgba(0,0,0,0.3);
            outline: 1px solid rgba(0,0,0,0);
            transition: all .3s ease;
            -moz-transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            @media @mobile {
              width: 30px;
              height: 30px;
              min-width: 30px;
            }
            &:not(.disabled):hover,
            &.selected {
              border-color: #fff;
              outline-color: rgba(0,0,0,8);
            }
          }
          &.text {
            border: solid 1px rgba(0,0,0,.1);
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            color: @color-title;
            font-family: @font-second;
            box-sizing: border-box;
            padding: 0 10px;
            margin-bottom: 7px;
            min-height: 40px;
            min-width: 40px;
            line-height: 40px;
            text-align: center;
            background-color: transparent;
            transition: all .3s ease;
            -moz-transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0);
            @media @mobile {
              width: auto;
              height: 30px;
              min-width: 30px;
              min-height: 30px;
              line-height: 30px;
              padding: 0 5px;
              font-size: 12px;
            }
            &:not(.disabled):hover,
            &.selected {
              background-color: @color-default !important;
              color: #fff;
              border-color: @color-default;
              -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
              -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
              box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
              outline: none;
            }
          }
        }
      }
    }
  }
  .filter-current {
    padding-top: 30px;
    padding-bottom: 10px;
    .block-subtitle {
      display: none;
    }
    .items {
      display: inline-block;
      padding: 0;
      li {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        line-height: 38px;
        padding: 0 0 0 15px;
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        margin: 0 20px 20px 0;
        display: block;
        float: left;
        white-space: normal;
        span {
          vertical-align: baseline;
          color: inherit;
          &.filter-label {
            display: none;
          }
        }
        a.remove {
          background-color: rgba(0,0,0,0.1);
          color: rgba(0,0,0,0.3);
          line-height: 36px;
          width: 40px;
          height: 38px;
          text-align: center;
          margin: 0 0 0 15px;
          display: block;
          float: right;
          position: static;
          &:before {
            content: none;
          }
          &:hover {
            background-color: rgba(0,0,0,0.8);
            color: #fff;
          }
        }
      }
    }
  }
  .filter-actions {
    margin-bottom: 0;
    .btn.btn-default.filter-clear {
      background-color: #f44336;
      border-color: #f44336;
      color: #fff;
      text-decoration: none;
      min-height: 40px;
      padding-top: 4px;
      padding-bottom: 4px;
      line-height: 30px;
      &:hover,
      &:active,
      &:focus {
        background-color: #222;
        border-color: #222;
        color: #fff;
      }
    }
  }
  /*Filter mobile*/
  &.mobile {
    body:not(.page-layout-1column-custom-sidebar) & {
      width: 300px;
      background-color: #fff;
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 9999;
      padding: 0;
      transition: left 550ms ease;
      right: -300px;
      overflow-y: auto;
      height: auto;
      min-height: 100vh;
      padding: 0;
      &:before {
        content: '';
        width: 25px;
        height: auto;
        position: absolute;
        top: 0;
        left: -25px;
        bottom: 0;
        -webkit-box-shadow: 10px 0px 60px -5px rgba(0,0,0,0.44);
        -moz-box-shadow: 10px 0px 60px -5px rgba(0,0,0,0.44);
        box-shadow: 10px 0px 60px -5px rgba(0,0,0,0.44);
      }
    }
    body.page-layout-1column-custom-sidebar & {
      .filter-content {
        .filter-options {
          .filter-options-item {
            &:last-child {
              border-bottom: none;
            }
          }
        }
        .block-actions {
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
    }
    .block-title {
      height: 50px;
      margin: 0;
      padding: 0 20px;
      border-bottom: 1px solid #ddd;
      font-size: 24px;
      text-transform: none;
      position: static;
      &:before {
        content: none;
      }
      strong {
        position: static;
        display: block;
        padding: 0;
        border: none;
        background: none;
        box-shadow: none;
        line-height: 50px;
        text-align: left;
        color: @color-title;
        &:after {
          content: none;
        }
        .page-layout-1column-custom-sidebar & {
          background: transparent;
          border: none;
          margin-bottom: 15px;
          box-shadow: none;
        }
      }
    }
    #narrow-by-list {
      width: 100%;
      padding: 0;
      margin: 0;
      display: block;
    }
    .filter-actions {
      width: 100%;
      padding: 15px;
      margin: 0;
      text-align: center;
      .page-layout-1column-custom-sidebar & {
        @media @mobile {
          padding-bottom: 0;
        }
      }
    }
    .filter-content {
      margin-bottom: 0;
    }
    .filter-current {
      width: 100%;
      padding: 0;
      margin: 0;
      border: none;
      .items {
        display: block;
        li {
          float: none;
          display: block;
          margin: 0;
          padding-left: 20px;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          background-color: transparent;
          line-height: 44px;
          a.remove {
            height: 45px;
            width: 45px;
            line-height: 41px;
          }
          .page-layout-1column-custom-sidebar & {
            border-width: 1px 0 0 1px;
            &:last-child {
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
    .filter-content {
      .filter-subtitle {
        display: none;
      }
      .filter-options {
        position: static;
        background-color: transparent;
        .filter-options-item {
          border-bottom: 1px solid rgba(0,0,0,0.1);
          &:last-child {
            margin-bottom: 0;
          }
          &.active {
            .filter-options-title {
              &:after {
                content: "\e90b";
              }
            }
          }
          .filter-options-title {
            padding-bottom: 10px;
            padding-left: 20px;
            &:after {
              content: "\e90d";
              top: 14px;
            }
          }
          .filter-options-content {
            padding-left: 20px;
            padding-right: 20px;
            display: none;
          }
        }
      }
    }
  }
  .page-layout-1column & {
    @media @sm-and-up {
      border-top: none;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      position: relative;
      z-index: 20;
      padding-bottom: 10px;
      &:not(.mobile),
      &.filter-no-options:not(.mobile) {
        height: auto;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 10px;
      }
      .filter-content {
        margin-top: 0;
        .filter-options {
          .filter-options-item {
            margin-right: 10px;
            margin-bottom: 20px;
            .filter-options-title {
              height: 40px;
              line-height: 40px;
              background-color: rgba(0, 0, 0, 0.06);
              color: rgba(0, 0, 0, 0.6);
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='9' height='9' viewBox='0 0 9 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Emeigee-drop%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cg id='Canvas' transform='translate(393 11)'%3E%3Cg id='icons'%3E%3Cg id='meigee-drop'%3E%3Cuse xlink:href='%23path0_stroke' transform='translate(-392 -8)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cpath id='path0_stroke' d='M 3.5 3.5L 3.14645 3.85355L 3.5 4.20711L 3.85355 3.85355L 3.5 3.5ZM -0.353553 0.353553L 3.14645 3.85355L 3.85355 3.14645L 0.353553 -0.353553L -0.353553 0.353553ZM 3.85355 3.85355L 7.35355 0.353553L 6.64645 -0.353553L 3.14645 3.14645L 3.85355 3.85355Z'/%3E%3C/defs%3E%3C/svg%3E");
              background-size: 9px;
              background-position: calc(~"100% - " 10px) calc(50% - -3px);
              background-repeat: no-repeat;
              padding: 0 30px 0 15px;
              font-family: @font-second;
              font-size: 14px;
              font-weight: 400;
              &:after {
                content: none;
              }
            }
            .filter-options-content {
              padding: 15px;
              z-index: 100;
              display: none;
              width: 190px;
              background-color: #fff;
              border: none;
              -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
              -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
              box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
              transition: visibility .3s ease;
              -moz-transition: visibility .3s ease;
              -webkit-transition: visibility .3s ease;
              -o-transition: visibility .3s ease;
              .swatch-attribute-options {
                margin-top: 0;
              }
            }
            &.active {
              &:before,
              &:after {
                content: none;
              }
            }
          }
        }
        .filter-current {
          display: block;
          padding: 0;
          width: 100%;
          &:before,
          &:after {
            content: '';
            display: table;
            clear: both;
          }
          .filter-actions {
            display: block;
          }
          .items {
            display: block;
          }
        }
      }
    }
  }
}

#layered-filter-block-current {
  display: block;
  width: 100%;
  margin-bottom: -20px;
  .filter-current {
    padding-top: 0;
    padding-bottom: 0;
    float: none;
    display: inline;
    .block-subtitle {
      display: none;
    }
    .items {
      display: inline;
      padding: 0;
      li {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        line-height: 38px;
        padding: 0 0 0 15px;
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        margin: 0 20px 20px 0;
        display: block;
        float: left;
        span {
          vertical-align: baseline;
          &.filter-label {
            display: none;
          }
        }
        a.remove {
          background-color: rgba(0,0,0,0.1);
          color: rgba(0,0,0,0.3);
          line-height: 36px;
          width: 40px;
          height: 38px;
          text-align: center;
          margin: 0 0 0 15px;
          display: block;
          float: right;
          position: static;
          &:before {
            content: none;
          }
          &:hover {
            background-color: rgba(0,0,0,0.8);
            color: #fff;
          }
        }
      }
    }
  }
}
.filter-actions {
  margin-bottom: 0;
  float: left;
  padding-left: 0;
  .action.clear.filter-clear {
    position: relative;
    display: inline-block;
    min-height: 40px;
    padding: 0 22px;
    border-radius: 0;
    border: 1px solid #f44336;
    background-color: #f44336;
    box-shadow: none;
    font-family: @font-main;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    outline: none;
    transition: opacity 400ms ease, background-color 300ms, color 300ms, border-color 300ms;
    &:hover,
    &:active,
    &:focus {
      background-color: #222;
      border-color: #222;
      color: #fff;
    }
  }
}
