& when (@media-common = true) {

	.clearer(@n) {
		&:nth-child(@{n}n + 1) {
			clear: left;
		}
		&:nth-child(@{n}n + @{n}) {
			clear: right;
		}
	}
	.block.widget.meigee-widget {
		&.grid {
			.product-items {
				margin: 0 -10px;
				
				&:before,
				&:after {
					content: '';
					clear: both;
					display: table;
				}
				&.one-column {
					.product-item {
						width: 100%;
						clear: both;
					}
				}
				&.two-columns {				
					.product-item {
						width: 50%;
						.clearer(2);
					}
				}
				&.three-columns {
					.product-item {
						width: 33.3333%;
						.clearer(3);
					}
				}
				&.four-columns {
					.product-item {
						width: 25%;
						.clearer(4);
					}
				}
				&.five-columns {
					.product-item {
						width: 20%;
						.clearer(5);
					}
				}
				&.six-columns {
					.product-item {
						width: 16.666666667%;
						.clearer(6);
					}
				}
				.product-item {
					padding: 0 10px;
					margin-left: 0 !important;
					float: left;
					
					.price-box {
						margin: 0 0 6px;
					}
					.product-reviews-summary {
						margin: 0 0 6px;
					}
					.stock {
						margin: 0 0 6px;
					}
					.product-item-actions {
						margin: 0;
					}
				}
				
			}
		}
		&.list {
			.product-items {
				&.twenty {
					.product-item-photo {
						width: 20%;
					}
					.product-item-details {
						width: 80%;
					}
				}
				&.twenty-five {
					.product-item-photo {
						width: 25%;
					}
					.product-item-details {
						width: 75%;
					}
				}
				&.thirty {
					.product-item-photo {
						width: 30%;
					}
					.product-item-details {
						width: 70%;
					}
				}
				&.thirty-five {
					.product-item-photo {
						width: 35%;
					}
					.product-item-details {
						width: 65%;
					}
				}
				&.forty {
					.product-item-photo {
						width: 40%;
					}
					.product-item-details {
						width: 60%;
					}
				}
				&.forty-five {
					.product-item-photo {
						width: 45%;
					}
					.product-item-details {
						width: 55%;
					}
				}
				&.fifty {
					.product-item-photo {
						width: 50%;
					}
					.product-item-details {
						width: 50%;
					}
				}
				.product-item-info {
					margin: 0 -10px;
					
					&:before,
					&:after {
						content: '';
						clear: both;
						display: table;
					}
					.product-item-photo {
						float: left;
						padding: 0 10px;
						box-sizing: border-box;
					}
					.product-item-details {
						float: left;
						padding: 0 10px;
						box-sizing: border-box;
					}
				}
			}
			
			&.footer-list {
				.product-item-photo {
					width: 25%;
				}
				.product-item-details {
					width: 75%;
				}
			}
		}
		
		&.slider {
			.product-item {
				width: 100%;
			}
			@color_1: inherit;

			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			.owl-carousel {
				display: none;
				width: 100%;
				-webkit-tap-highlight-color: transparent;
				position: relative;
				z-index: 1;
				
				.owl-stage {
					position: relative;
					-ms-touch-action: pan-Y;
					touch-action: manipulation;
					-moz-backface-visibility: hidden;
					
					&:after {
						content: ".";
						display: block;
						clear: both;
						visibility: hidden;
						line-height: 0;
						height: 0;
					}
				}
				.owl-stage-outer {
					position: relative;
					overflow: hidden;
					-webkit-transform: translate3d(0px, 0px, 0px);
				}
				.owl-wrapper {
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
					-webkit-transform: translate3d(0, 0, 0);
					-moz-transform: translate3d(0, 0, 0);
					-ms-transform: translate3d(0, 0, 0);
				}
				.owl-item {
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
					-webkit-transform: translate3d(0, 0, 0);
					-moz-transform: translate3d(0, 0, 0);
					-ms-transform: translate3d(0, 0, 0);
					position: relative;
					min-height: 1px;
					float: left;
					-webkit-backface-visibility: hidden;
					-webkit-tap-highlight-color: transparent;
					-webkit-touch-callout: none;

					.product-item {
						width: 100% !important;
					}
					
					img {
						display: block;
						width: 100%;
					}
					.owl-lazy {
						opacity: 0;
						transition: opacity 400ms ease;
						&:not([src]) {
							max-height: 0;
						}
					}
					.owl-lazy[src^=""] {
						max-height: 0;
					}
					img.owl-lazy {
						transform-style: preserve-3d;
					}
				}
				.owl-nav.disabled {
					display: none;
				}
				.owl-dots.disabled {
					display: none;
				}
				.owl-nav {
					.owl-prev {
						cursor: pointer;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
					.owl-next {
						cursor: pointer;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
					button.owl-prev {
						background: none;
						color: @color_1;
						border: none;
						padding: 0 !important;
						font: inherit;
					}
					button.owl-next {
						background: none;
						color: @color_1;
						border: none;
						padding: 0 !important;
						font: inherit;
					}
				}
				.owl-dot {
					cursor: pointer;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
				button.owl-dot {
					background: none;
					color: @color_1;
					border: none;
					padding: 0 !important;
					font: inherit;
				}
				.animated {
					animation-duration: 1000ms;
					animation-fill-mode: both;
				}
				.owl-animated-in {
					z-index: 0;
				}
				.owl-animated-out {
					z-index: 1;
				}
				.fadeOut {
					animation-name: fadeOut;
				}
				
				&.owl-theme {
					@color_1: #FFF;
				
					.owl-nav {
						margin-top: 10px;
						text-align: center;
						-webkit-tap-highlight-color: transparent;
						[class*='owl-'] {
							color: @color_1;
							font-size: 14px;
							margin: 5px;
							padding: 4px 7px;
							background: #D6D6D6;
							display: inline-block;
							cursor: pointer;
							border-radius: 3px;
							&:hover {
								background: #869791;
								color: @color_1;
								text-decoration: none;
							}
							
							i {
								font-size: 26px;
								display: inline-block;
								color: inherit;
								line-height: 26px;
								font-style: normal;
								
								&.caret-left:before {
									content: '\2039';
									vertical-align: top;
									display: inline-block;
									line-height: 20px;
								}
								&.caret-right:before {
									content: '\203A';
									vertical-align: top;
									display: inline-block;
									line-height: 20px;
								}
							}
						}
						.disabled {
							opacity: 0.5;
							cursor: default;
						}
					}
					.owl-nav.disabled {
						&+.owl-dots {
							margin-top: 10px;
						}
					}
					.owl-dots {
						text-align: center;
						-webkit-tap-highlight-color: transparent;
						.owl-dot {
							display: inline-block;
							zoom: 1;
							*display: inline;
							span {
								width: 10px;
								height: 10px;
								margin: 5px 7px;
								background: #D6D6D6;
								display: block;
								-webkit-backface-visibility: visible;
								transition: opacity 200ms ease;
								border-radius: 30px;
							}
							&:hover {
								span {
									background: #869791;
								}
							}
						}
						.owl-dot.active {
							span {
								background: #869791;
							}
						}
					}
				}

				&.owl-loaded {
					display: block;
				}
				&.owl-loading {
					opacity: 0;
					display: block;
				}
				&.owl-hidden {
					opacity: 0;
				}
				&.owl-refresh {
					.owl-item {
						visibility: hidden;
					}
				}
				&.owl-drag {
					.owl-item {
						-ms-touch-action: pan-y;
						touch-action: pan-y;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
				}
				&.owl-grab {
					cursor: move;
					cursor: grab;
				}
				&.owl-rtl {
					direction: rtl;
					.owl-item {
						float: right;
					}
				}
			}
			.no-js {
				.owl-carousel {
					display: block;
				}
			}
			.owl-height {
				transition: height 500ms ease-in-out;
			}
		}
	}
}