<?php
$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
$timer_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_countdown', 'timer_status');
$timer_list_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_countdown', 'timer_listing_status');
$timer_list_display = $meigee_helper->getCustomThemeOptionCnf('coccinelle_countdown', 'timer_listing_display');
$timer_product_status = $meigee_helper->getCustomThemeOptionCnf('coccinelle_countdown', 'timer_product_status');
$timer_product_display = $meigee_helper->getCustomThemeOptionCnf('coccinelle_countdown', 'timer_product_display');
$front_helper = $this->helper('\Meigee\Coccinelle\Helper\FrontHelper');
$current_page = $front_helper->getCurrentPage();
if(($timer_status && $timer_list_status && $current_page != 'catalog_product_view') || ($timer_status && $timer_product_status && $current_page == 'catalog_product_view')) {
	$_product = $this->getProduct();
	$special_to_date = $_product->getSpecialToDate();
	if($special_to_date){
		$specialprice = $_product->getSpecialPrice();
		$specialPriceFromDate = $_product->getSpecialFromDate();
		$today =  time();
		$rand = rand(1, 15000);
		$timerId = $_product->getId().$rand;
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$magentoDateObject = $objectManager->create('Magento\Framework\Stdlib\DateTime\DateTime');
		$magentoDate = $magentoDateObject->gmtDate();
		if ($specialprice && isset($specialPriceFromDate) && isset($special_to_date)):
			if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($special_to_date) || $today >= strtotime( $specialPriceFromDate) && is_null($special_to_date)):
	?>
				<div class="timer-<?php echo $timerId; ?> timer-box flip-timer clearfix<?php echo (($timer_list_display == 0 && $current_page != 'catalog_product_view') || ($timer_product_display == 0 && $current_page == 'catalog_product_view') ? ' no-days' : ''); ?>">
					<div class="timer-wrapper">
						<div class="time-title"><?php /* @escapeNotVerified */ echo __('Offer ends in:') ?></div>
						<div class="days flip-block">
							<ul class="flip-items">
								<li class="flip-item active"><span><span class="flip-wrapper flip-up"><span class="shadow"></span> <span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
								<li class="flip-item before"><span><span class="flip-wrapper flip-up"><span class="shadow"></span><span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
							</ul>
							<span class="time-counter-descr"><?php /* @escapeNotVerified */ echo __('Days') ?></span>
						</div>
						<div class="flip-clock-divider"><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></div>
						<div class="hours flip-block">
							<ul class="flip-items">
								<li class="flip-item active"><span><span class="flip-wrapper flip-up"><span class="shadow"></span><span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
								<li class="flip-item before"><span><span class="flip-wrapper flip-up"><span class="shadow"></span><span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
							</ul>
							<span class="time-counter-descr"><?php /* @escapeNotVerified */ echo __('Hours') ?></span>
						</div>
						<div class="flip-clock-divider"><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></div>
						<div class="minutes flip-block">
							<ul class="flip-items">
								<li class="flip-item active"><span><span class="flip-wrapper flip-up"><span class="shadow"></span><span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
								<li class="flip-item before"><span><span class="flip-wrapper flip-up"><span class="shadow"></span><span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
							</ul>
							<span class="time-counter-descr"><?php /* @escapeNotVerified */ echo __('Minutes') ?></span>
						</div>
						<div class="flip-clock-divider"><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></div>
						<div class="seconds flip-block">
							<ul class="flip-items">
								<li class="flip-item active"><span><span class="flip-wrapper flip-up"><span class="shadow"></span><span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
								<li class="flip-item before"><span><span class="flip-wrapper flip-up"><span class="shadow"></span><span class="flip-text">00</span></span><span class="flip-wrapper flip-down"><span class="shadow"></span><span class="flip-text">00</span></span></span></li>
							</ul>
							<span class="time-counter-descr"><?php /* @escapeNotVerified */ echo __('Seconds') ?></span>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					require(["jquery"], function(jQuery)
					{
						endDate = new Date("<?php echo Date("m/d/y", strtotime($special_to_date)).' 11:59:00 PM'; ?>");
						startDate = new Date(Date.parse("<?php echo Date("m/d/y h:i:s A", strtotime($magentoDate)); ?>"));
						dateDiff = new Date((endDate)-(startDate));
						secondsDiff = Math.floor(dateDiff.valueOf()/1000);
						new productTimer.init(secondsDiff, <?php echo $timerId; ?>);
					});
				</script>
	<?php
			endif;
		endif;
	}
}
?>
