.toolbar {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  &.toolbar-products {
    .page-layout-1column & {
      position: static;
    }
    @media @mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      margin: 10px 0;
    }
  }
  .modes {
    margin-right: 0;
    margin-left: 10px;
    float: right;
    margin-top: 4px;
    @media @sm-only {
      display: none;
    }
    @media @mobile {
      float: none;
      display: block;
      margin: 0;
      padding: 20px 20px 20px 0;
      .item {
        display: none;
      }
      .item.mobile {
        display: block;
      }
    }
    .modes-label {
      display: none;
    }
    .modes-mode {
      padding: 7px 9px;
      min-width: 30px;
      border-radius: 0;
      box-shadow: none;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.2);
      color: rgba(0,0,0,0.3);
      outline: none;
      margin-left: 10px;
      transition: all .3s linear;
      -moz-transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      &:before {
        content: none;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        position: static;
        width: auto;
        height: auto;
      }
      @media @mobile {
        display: block;
        float: left;
      }
    }
    strong.modes-mode,
    a.modes-mode:hover {
      background-color: rgba(0,0,0,0.8);
      border-color: rgba(0,0,0,0.8);
      color: #fff;
      box-shadow: none;
      i {
        color: inherit;
      }
    }
    .item {
      float: left;
      display: block;
      position: relative;
      &:hover,
      &:focus,
      &:active {
        i.meigeeadditional-grid-1 {
          &:before {
            background-color: rgba(0,0,0,0.2);
          }
        }
      }
      &:not(.mobile) {
        @media @mobile {
          display: none;
        }
      }
      &.mobile {
        @media @sm-and-up {
          display: none;
        }
      }
      &.current {
        opacity: 1;
        i {
          background-color: @color-default;
          bottom-color: @color-default;
          color: #fff;
        }
        i.meigeeadditional-grid-1 {
          &:before {
            background-color: #fff;
          }
        }
      }
      &+.item {
        margin-left: 10px;
      }
      &:not(.current) {
        cursor: pointer;
        i {
          &:hover,
          &:focus,
          &:active {
            opacity: 0.75;
          }
        }
      }
      i {
        font-size: 14px;
        display: block;
        line-height: 1;
        width: auto;
        margin: 0;
        padding: 7px;
        color: rgba(0,0,0,0.2);
        border: 1px solid rgba(0,0,0,0.2);
        text-align: center;
        border-radius: 0;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &.meigeeadditional-grid-1 {
          &:before {
            content: '';
            display: block;
            height: 14px;
            width: 14px;
            line-height: 14px;
            background-color: rgba(0,0,0,0.2);
          }
        }
      }
    }
    strong {
      &.item {
        opacity: 1;
      }
      i {
        color: @color-default;
      }
    }
    a {
      &:hover,
      &:focus,
      &:active {
        i {
          color: rgba(0,0,0,0.2);
        }
      }
    }
  }
  .toolbar-amount {
    float: right;
    margin-top: 4px;
    @media @mobile {
      float: none;
      width: auto;
      margin: 0;
    }
  }
  .sorter {
    float: left;
    display: block;
    position: static;
    @media @mobile {
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-right: 10px;
    }
    .sorter-options {
      height: 40px;
      line-height: 40px;
      @media @mobile {
        margin: 0 5px;
      }
    }
    .sorter-action {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      line-height: 36px;
      border: 1px solid rgba(0,0,0,0.2);
      text-decoration: none;
      color: rgba(0,0,0,0.8);
      text-align: center;
      padding: 0;
      font-size: 24px;
      i {
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
        font-size: inherit;
        color: inherit;
      }
      &:before {
        content: none;
      }
      &:hover,
      &:active,
      &:focus {
        background-color: rgba(0,0,0,0.8);
        color: #fff;
        border-color: rgba(0,0,0,0.8);
      }
    }
  }
  .shop-by {
    float: left;
    margin-right: 10px;
    display: none;
    @media @mobile {
      display: block;
      margin-right: 6px;
    }
    .page-layout-1column-custom-sidebar & {
      display: block;
    }
    label {
      display: none;
    }
    .shop-by-button {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 4px 6px;
      border-radius: 0;
      border: none;
      background-color: transparent;
      box-shadow: none;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      color: #333;
      outline: none;
      z-index: 1;
      overflow: hidden;
    }
  }
}
.toolbar-bottom {
  .toolbar {
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 0;
    border-bottom: none;
    & > *:not(.pages) {
      display: none;
    }
    &.toolbar-products {
      .pages {
        display: block;
        float: left;
        margin-bottom: 0;
        .pagination {
          padding: 0;
          margin: 0;
          li.item {
            display: block;
            float: left;
            margin: 0 2px 0 0;
            a {
              width: 50px;
              height: 50px;
              line-height: 50px;
              color: rgba(0,0,0,0.8);
              background-color: rgba(0,0,0,0.06);
              text-decoration: none;
              border: none;
              display: block;
              border-radius: 0;
              text-align: center;
              font-size: 14px;
              margin: 0;
              box-shadow: none;
              &:before {
                content: none;
              }
              &:hover {
                color: #fff;
                background-color: #222;
              }
              i {
                font-size: inherit;
                color: inherit;
                line-height: inherit;
                display: block;
              }
            }
            &.active {
              a {
                color: #fff;
                background-color: #222;
              }
            }
          }
        }
      }
    }
  }
}


.sidebar {
  .widget.block:not(:last-child),
  .widget:not(:last-child) {
    margin-bottom: 0;
  }
  .block {
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .block-title {
      margin-bottom: 20px;
      &.filter-title {
        @media @md-and-up {
          display: none;
        }
      }
      strong {
        font-family: @font-main;
        font-weight: 600;
        font-size: 24px;
        color: rgba(0,0,0,0.8);
        @media @tablet-v {
          font-size: 20px;
        }
      }
    }
    &.block-reorder {
      padding: 0;
      border-bottom: none;
      .block-title {
        padding-top: 30px;
      }
      .block-content {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        .product-item {
          .product-item-name {
            vertical-align: top;
            max-width: calc(~"100% - " 23px);
          }
          .field.item {
            vertical-align: top;
            margin-top: 2px;
          }
        }
      }
    }
    &.block-wishlist {
      .counter {
        display: block;
      }
      .product-item {
        .product-item-photo {
          display: table-cell;
          max-width: 100%;
          padding-right: 20px;
          position: static;
          vertical-align: top;
          width: 1%;
          float: none;
          .product-image-photo {
            position: static;
          }
          @media @tablet-v {
            display: block;
            margin-bottom: 15px;
            width: 100%;
            float: none;
          }
          @media @tablet-h {
            padding-right: 10px;
          }
        }
        .product-item-details {
          display: table-cell;
          vertical-align: top;
          white-space: normal;
          width: 99%;
          position: relative;
          padding-right: 20px;
          @media @tablet-v {
            display: block;
            width: 100%;
            float: none;
          }
          .product-item-actions {
            margin-top: 0;
            max-width: 25px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            .actions-primary,
            .actions-secondary {
              display: block;
              float: none;
              margin: 0 0 5px;
              width: 100%;
              padding: 0;
              text-align: center;
            }
            .action {
              border: none;
              background-color: transparent;
              color: rgba(0,0,0,0.6);
              padding: 3px;
              position: static;
              &.tocart {
                border: none;
                line-height: 1;
                padding: 3px;
                min-height: 1px;
                height: auto;
                &:before {
                  content: '\e904';
                  font-family: 'meigee';
                  font-size: 12px;
                  color: inherit;
                  font-weight: 400;
                }
                span {
                  display: none;
                }
              }
              &:hover {
                color: rgba(0,0,0,0.8);
                background-color: transparent;
              }
              &:before {
                color: inherit;
              }
            }
          }
        }
      }
      .actions-toolbar {
        .primary {
          display: block;
          width: 100%;
          text-align: center;
          a.action {
            margin-right: 0;
            text-decoration: none;
            @media @tablet-v {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }
      }
    }
    &.block-compare {
      @media @mobile {
        display: block;
      }
      .counter {
        display: block;
      }
      .actions-toolbar {
        .secondary {
          a.action {
            margin-top: 11px;
          }
        }
      }
    }
    .product-items {
      &.product-items-names {
        a.action {
          padding: 0;
          right: auto;
          left: 0;
          &:hover {
            background-color: transparent;
            color: rgba(0,0,0,0.8);
          }
        }
      }
    }
    &.meigee-instagram-widget {
      .block-title {
        display: block;
      }
      .meigee-instagram-block {
        &:before,
        &:after {
          content: '';
          display: table;
          clear: both;
        }
        a.insta-photo {
          display: block;
          float: left;
          margin-right: 11px;
          margin-bottom: 11px;
          width: calc(~"33.2% - " 11px);
          max-width: 100px;
          @media @tablet-v {
            width: calc(~"50% - " 11px);
          }
        }
      }
    }
  }
  &:last-of-type {
    .block:last-of-type {
      border-bottom: none;
    }
  }
  &:first-of-type {
    .block:first-of-type {
      padding-top: 0;
    }
  }
  .products-items {
    .action {
      &.delete {
        padding: 0;
        right: auto;
      }
      &:hover {
        color: @color-primary;
        background-color: transparent;
      }
    }
  }
}

.page-layout-1column-custom-sidebar {
  .sidebar {
    display: none;
  }
  #custom-sidebar {
    position: fixed;
    top: 0;
    left: -340px;
    right: auto;
    bottom: 0;
    width: 320px;
    z-index: 998;
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    padding-left: 0;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
    overflow-y: auto;
    transition: left .4s ease;
    -moz-transition: left .4s ease;
    -webkit-transition: left .4s ease;
    -o-transition: left .4s ease;
    @media @mobile {
      width: 90%;
      left: -100%;
    }
    .sidebar {
      display: block;
      position: relative;
      z-index: 10;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #fff;
      @media @mobile {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    & + .custom-sidebar-underlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
      z-index: 15;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;
      -moz-transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
    }
    &.active {
      left: 0;
      & > button.close {
        position: fixed;
        left: 0;
      }
      & + .custom-sidebar-underlay {
        opacity: 1;
        visibility: visible;
      }
    }
    &.scroll-item {
      & > button.close {
        @media @sm-and-up {
          width: 303px;
        }
      }
    }
    & > button.close {
      width: 317px;
      position: fixed;
      left: -340px;
      top: 0;
      background-color: #fff;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      color: #222;
      border: none;
      padding: 15px 30px;
      outline: none;
      font-size: 15px;
      z-index: 999;
      text-align: left;
      transition: left .4s ease;
      -moz-transition: left .4s ease;
      -webkit-transition: left .4s ease;
      -o-transition: left .4s ease;
      @media @mobile {
        // width: 273px;
        // left: -320px;
        width: 87%;
        left: -100%;
      }
      &:hover,
      &:active,
      &:focus {
        color: @color-primary;
      }
      i {
        font-size: 18px;
        color: inherit;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        font-size: inherit;
        color: inherit;
        font-family: @font-main;
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}