
.amlocator-map-container {
    flex-direction: row;
}

.-storelistNew .amlocator-stores-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
}
.-storelistNew .amlocator-store-desc{
    margin: 5px;
    flex: 1 0 47%;
}

.ma-amlocator-search-container{
    display: flex;
    align-items: flex-end;
    margin: 30px 0;
	width: 100%;
}
/*.ma-amlocator-search-container > div{
    margin: 0px 10px;
}*/

.ma-amlocator-search-container button{
    background: #222222;
    box-shadow: none;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
	float: right;
    font-weight: 500;
    line-height: 40px;
    margin: 23px 0 0;
    padding: 0 25px;
    text-transform: uppercase;
    transition: opacity 400ms ease, background-color 300ms, color 300ms, border-color 300ms;
    -moz-transition: opacity 400ms ease, background-color 300ms, color 300ms, border-color 300ms;
    -webkit-transition: opacity 400ms ease, background-color 300ms, color 300ms, border-color 300ms;
    -o-transition: opacity 400ms ease, background-color 300ms, color 300ms, border-color 300ms;
}

.ma-amlocator-search-container button:hover{
    color: #222222;
    background-color: #f8dc0b;
    box-shadow: none;
}
.amlocator-store-list.-storelistNew .amlocator-wrapper{
    max-height: none;
}

#ma_store_locator_country{
	font-size: 16px;
    height: 40px;
    margin-bottom: 0px;
}

#find_title{
    font-size: 25px;
	margin: 30px 0 0;
}
.amlocator-index-index .column.main {
	margin-top: -50px;
}
.amlocator-map-container .icone {
  border-bottom: 1px solid #222222;
  padding: 0 0 25px;
}

.description {
	display: flex;
	margin: 0 0 25px;
}

.description img {
	float: left;
	width: 60px;
}

.description .titolo {
	font-family: 'Oswald', sans-serif;
    font-size: 22px;
    float: left;
    margin: 15px 0 0 25px;
}

.amlocator-map-container .testo {
	font-size: 13px;
}