.smile-elasticsuite-autocomplete-result {
  .product-shop .product-name {
    font-size: 14px;
  }
  .product-item {
    .price-box {
      margin: 0 0 7px 0;
      .price {
        font-size: 14px;
      }
    }
  }
}
#layered-filter-block .filter-options-item .filter-options-content,
.smile-es-range-slider {
  a.ui-slider-handle {
    &:hover {
      background: #ff5501;
    }
  }
}