<div id="popup-modal">
	
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: false,
				closed: function(){
				   $('#popup-modal').html('');
				}
            };

            var meigeeModal = modal(options, $('#popup-modal'));
            $('a[data-toggle="modal"]').on('click', function() {
				target = $(this).data('target');
				content = $(document).find(target).children().clone();
				$('#popup-modal').html(content);
				$('#popup-modal').modal('openModal');
			});
        }
    );
</script>