<?php
	$popupCookie = $this->helper('\Meigee\Coccinelle\Helper\FrontHelper')->getCookie('coccinellePopup');
	$popupCookie2 = $this->helper('\Meigee\Coccinelle\Helper\FrontHelper')->getCookie('coccinellePopupFlag');
?>
<?php if ( !$popupCookie && !$popupCookie2 ) : ?>
	<?php
		$meigee_helper = $this->helper('\Meigee\Coccinelle\Helper\CoccinelleGeneral');
		$popupStatus   = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'status');
		$expires       = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'expires');
		$popupWidth    = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'width');
		$popupHeight   = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'height');
		$popupStatic   = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'static');
		$popupOnlyHome = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'onlyhome');
		$popupMobile   = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'mobile');
		$popupTablet   = $meigee_helper->getCustomThemeOptionCnf('coccinelle_popup_content', 'tablet');
		$isHome        = $this->helper('\Meigee\Coccinelle\Helper\FrontHelper')->getCurrentPage() == 'cms_index_index';
		$checkboxClass = 'js-subscribe-popup-hide';
	?>
	<?php if ( ( $popupOnlyHome && $isHome ) || !$popupOnlyHome ) : ?>
		<?php
			$addClass = '';
			if ( !$popupMobile ) $addClass .= ' mobile-hide';
			if ( !$popupTablet ) $addClass .= ' tablet-hide';
		?>

		<div class="modal fade popup-block<?= $addClass; ?>" id="popup-block" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content" style="height: <?= $popupHeight; ?>px; width: <?= $popupWidth; ?>px;">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="meigee-close"></i>
					</span>
				</button>
			  </div>
			  <div class="modal-body clearfix">
				<?= $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($popupStatic)->toHtml(); ?>
				<label class="popup-bottom">
					<input type="checkbox" class="<?= $checkboxClass; ?>"/>
					<?= __('Don&#39;t show again'); ?>
				</label>
			  </div>
			</div>
		  </div>
		</div>
		<script type="text/x-magento-init">
			{
				"#popup-block": {
					"Meigee_Coccinelle/js/theme_subscribe_popup": {
						"expiresCookie": "<?= $expires; ?>",
						"checkboxClass": ".<?= $checkboxClass; ?>"
					}
				}
			}
		</script>
	<?php endif; ?>
<?php endif; ?>
