<?php
/**
 * Copyright © 2016 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog recent posts widget
 *
 * @var $block \Magefan\Blog\Block\Widget\Recent
 */
?>

<?php
    $_postCollection = $block->getPostCollection();
?>
<?php if ($_postCollection->count()) { ?>
<div class="post-list-wrapper blog-widget-recent">
    <h3 class="title"><?php echo $block->escapeHtml($block->getTitle()) ?></h3>
    <ul class="post-list clearfix">
        <?php foreach ($_postCollection as $_post) { ?>
            <?php
                $_postUrl = $_post->getPostUrl();
                $_postName = $block->escapeHtml($_post->getTitle(), null, true);
            ?>
            <li class="post-holder post-holder-<?php echo $_post->getId() ?>">
                <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                    <div class="post-ftimg-hld">
                        <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                            <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                        </a>
                    </div>
                <?php } ?>

                <div class="post-content">
                    <div class="post-info">
                        <div class="post-categories">
                            <i class="meigee-category"></i>
                            <?php if ($_categoriesCount = $_post->getCategoriesCount()) { ?>
                                <span class="label"><?php echo __('Categories:') ?></span>
                                <?php $n = 0; foreach($_post->getParentCategories() as $ct) { $n++; ?>
                                    <a title="<?php echo $block->escapeHtml($ct->getTitle()) ?>" href="<?php echo $ct->getCategoryUrl() ?>"><?php echo $block->escapeHtml($ct->getTitle()) ?></a>
                                    <?php if ($n != $_categoriesCount) { ?>, <?php } ?>
                                <?php } ?>
                            <?php } ?>
                        </div>
                        <div class="comments">
                            <a href="<?php echo $_postUrl ?>#post-comments">
                                <i class="meigee-comment"></i>
                                <span><?php echo __('Comments') ?></span>
                            </a>
                        </div>
                        <p class="post-icon">
                            <i class="meigee-post"></i>
                        </p>
                    </div>

                    <div class="post-title-holder clearfix">
                        <div class="post-title">
                            <a class="post-item-link"
                               href="<?php echo $_postUrl ?>">
                                <?php echo $_postName; ?>
                            </a>
                        </div>
                    </div>

                    <div class="post-description clearfix">
                        
                        <div class="post-text-hld clearfix">
                            <?php echo $block->getShorContent($_post) ?>
                        </div>
                        <a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>"
                           >
                           <?php echo __('Read more &#187;') ?>
                        </a>
                    </div>
                    
                    <div class="post-info-bottom">
                        <?php if ($_author = $_post->getAuthor()) { ?>
                            <div class="post-author">                                           
                                    <i class="meigee-author"></i>
                                    <span><?php echo $block->escapeHtml($_author->getTitle()) ?></span>
                            </div>
                        <?php } ?>
                        <div class="post-date">
                            <i class="meigee-clock"></i>
                            <span class="label"><?php echo __('Posted:') ?></span>
                            <span class="value"><?php echo $_post->getPublishDate('F d, Y') ?></span>
                        </div>
                    </div>
                </div>
                <div class="post-footer">

                </div>
            </li>

        <?php } ?>
    </ul>
</div>
<?php } ?>