<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php if ( $block->getCollection()->getSize() ) : ?>
    <div class="toolbar clearfix toolbar-products" data-mage-init='<?= /* @escapeNotVerified */ $block->getWidgetOptionsJson(); ?>'>
        <?php include ( $block->getTemplateFile('Magento_Catalog::product/list/toolbar/filter.phtml') ) ?>
        <?= $block->getPagerHtml() ?>
        <?php if ( $block->isExpanded() ) : ?>
            <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/sorter.phtml')) ?>
        <?php endif; ?>

        <?php include ( $block->getTemplateFile('Magento_Catalog::product/list/toolbar/limiter.phtml') ) ?>
        
        <?php if ( $block->isExpanded() ) : ?>
            <?php include ( $block->getTemplateFile('Magento_Catalog::product/list/toolbar/viewmode.phtml') ) ?>
        <?php endif; ?>

        <?php include ( $block->getTemplateFile('Magento_Catalog::product/list/toolbar/amount.phtml') ) ?>
    </div>
<?php endif ?>
<script type="text/javascript">

require( ['jquery'], function ( $ ) {

	$( document ).ready( function() {
		moveCurrentFilters();
	} );

    function moveCurrentFilters() {
    	var bodyNode = $('body'),
    		filterBlock = $('#layered-filter-block'),
    		filterBlockFilterCurrent = filterBlock.find('.block-content .filter-current'),
    		filterBlockActions = filterBlock.find('.block-content .filter-actions'),
    		filterBlockCurrent = $('#layered-filter-block-current'),
			toolbar = $('.toolbar.toolbar-products');

        if ( ( filterBlockFilterCurrent.length || filterBlockCurrent.length ) && !bodyNode.hasClass('page-layout-1column') ) {

            if ( window.matchMedia('(min-width: 768px)').matches ) {

                if ( !filterBlockCurrent.length && toolbar.length ) {

                    $('<div id="layered-filter-block-current" class="clearfix"/>').insertAfter( toolbar.first() );
					filterBlockCurrent = $('#layered-filter-block-current');

                }

                if ( filterBlockFilterCurrent.length ) filterBlockFilterCurrent.appendTo(filterBlockCurrent);
                if ( filterBlockActions.length ) filterBlockActions.appendTo(filterBlockCurrent);
				!$('#layered-filter-block #narrow-by-list').length ? filterBlock.addClass('empty') : filterBlock.removeClass('empty');

            } else {

                if ( filterBlockCurrent.length ) {
                    $('#layered-filter-block-current .filter-actions').appendTo('#layered-filter-block .block-content');
                    $('#layered-filter-block-current .filter-current').prependTo('#layered-filter-block .block-content');
                    filterBlockCurrent.remove();
                }

				filterBlock.removeClass('empty');

            }

        } else if ( bodyNode.hasClass('page-layout-1column') && filterBlockFilterCurrent.length ) {

            if ( window.matchMedia('(min-width: 768px)').matches ) {

                $('#layered-filter-block .filter-actions').appendTo('#layered-filter-block .filter-current');

            } else {

                $('#layered-filter-block .filter-current .filter-actions').appendTo('#layered-filter-block .block-content');

            }

        } else {

			filterBlock.removeClass('empty');

        }

    }

    $( window ).on( 'resize', function() {

        moveCurrentFilters();

    } );

} );

</script>