<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
// use Magento\Catalog\Model\Product\ProductList\Toolbar;
$front_helper = $this->helper('\Meigee\Coccinelle\Helper\FrontHelper');
if(null != $front_helper->getCurrentCategory() && $front_helper->getCurrentCategory()->getIsAnchor() == 1) {
?>
<div class="shop-by" id="shop-by-filter">
    <label><?php echo __('Shop By'); ?></label>
    <button class="shop-by-button" type="button" title="<?php echo __('Shop By'); ?>"><i class="meigee-filter"></i></button>
</div>
<?php } ?>
