<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();



$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$lightechHelper = $this->helper('\Appseconnect\LightechDiscounts\Helper\Data');
$cId = $lightechHelper->getCustomerId();
$classId = $lightechHelper->getProductClass($product->getEntityId());
$discountCollection = $lightechHelper->getDiscountCollection($cId, $classId);
$disc = 0;
//$lightechHelper->getSubtotal();
if(empty($discountCollection)):
    $discountCollection = $lightechHelper->checkDiscountCollection($cId, $classId);
endif;
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);

?>
<tbody class="cart item">
<tr class="item-info">
    <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item">
        <?php if ($block->hasProductUrl()): ?>
        <a href="<?= /* @escapeNotVerified */
        $block->getProductUrl() ?>"
           title="<?= $block->escapeHtml($block->getProductName()) ?>"
           tabindex="-1"
           class="product-item-photo">
            <?php else: ?>
            <span class="product-item-photo">
            <?php endif; ?>
            <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
            <?php if ($block->hasProductUrl()): ?>
        </a>
    <?php else: ?>
        </span>
    <?php endif; ?>
        <div class="product-item-details">
            <strong class="product-item-name">
                <?php if ($block->hasProductUrl()): ?>
                    <a href="<?= /* @escapeNotVerified */
                    $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                <?php else: ?>
                    <?= $block->escapeHtml($block->getProductName()) ?>
                <?php endif; ?>
            </strong>
            
            <?php if ($_options = $block->getOptionList()): ?>
                <dl class="item-options">
                    <?php foreach ($_options as $_option) : ?>
                        <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                        <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                        <dd>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                <?= /* @escapeNotVerified */
                                $_formatedOptionValue['full_view'] ?>
                            <?php else: ?>
                                <?= $block->escapeHtml($_formatedOptionValue['value'], ['span']) ?>
                            <?php endif; ?>
                        </dd>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
            <?php if ($messages = $block->getMessages()): ?>
                <?php foreach ($messages as $message): ?>
                    <div class="cart item message <?= /* @escapeNotVerified */
                    $message['type'] ?>">
                        <div><?= $block->escapeHtml($message['text']) ?></div>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock): ?>
                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif; ?>
            <div class="actions-block">
                <?= /* @escapeNotVerified */
                $block->getActions($_item) ?>
                <?php $remove_block = $block->getLayout()->createBlock('\Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove'); ?>
                <a href="#"
                   title="<?= $block->escapeHtml(__('Remove item')) ?>"
                   class="action action-delete"
                   data-post='<?= /* @escapeNotVerified */
                   $remove_block->setItem($_item)->getDeletePostJson($_item) ?>'>
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
    </td>
    <td class="col price-wrapper" data-th="<?= $block->escapeHtml(__('Price')) ?>">
            <span class="cart-price">
                    <span class="price">
                        <?php
                        $basePrice = empty($product->getData('base_cost'))?$lightechHelper->getProductBaseCostBySku($product->getSku()):$product->getData('base_cost');
                        echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($basePrice,2),true,false);
                        ?>
                    </span>
            </span>
    </td>
    <?php if ($canApplyMsrp): ?>
        <td class="col msrp" data-th="<?= $block->escapeHtml(__('Price')); ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?= /* @escapeNotVerified */
                        __('See price before order confirmation.') ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?= /* @escapeNotVerified */
                    ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */
                    $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */
                    $product->getName() ?>","showAddToCart": false}}'>
                        <span><?= /* @escapeNotVerified */
                            __("What's this?") ?></span>
                    </a>
                </span>
        </td>
    <?php else: ?>
        <td class="col price-wrapper" data-th="<?= $block->escapeHtml(__('Price')) ?>">
            <?= $block->getUnitPriceHtml($_item) ?>
            <?php
            if($basePrice != $product->getPrice()){
            ?><span><?php echo empty($discountCollection)?'':strval($discountCollection[0]['sconto']*100)."%";?></span>
        </td>
    <?php }endif; ?>
    <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <div class="field qty clearfix">
            <label class="label" for="cart-<?= /* @escapeNotVerified */
            $_item->getId() ?>-qty">
                <span><?= /* @escapeNotVerified */
                    __('Qty') ?></span>
            </label>
            <div class="control qty-box clearfix">
                <div class="quantity-decrease" onclick="qtyDown<?= $_item->getId() ?>()"><i class="meigee-minus"></i>
                </div>
                <input id="cart-<?= /* @escapeNotVerified */
                $_item->getId() ?>-qty"
                       name="cart[<?= /* @escapeNotVerified */
                       $_item->getId() ?>][qty]"
                       data-cart-item-id="<?= /* @escapeNotVerified */
                       $_item->getSku() ?>"
                       value="<?= /* @escapeNotVerified */
                       $block->getQty() ?>"
                       type="text"
                       size="4"
                       title="<?= $block->escapeHtml(__('Qty')) ?>"
                       class="input-text qty cart-qty"
                       maxlength="12"
                       data-validate="{required:true,'validate-greater-than-zero':true}"
                       data-role="cart-item-qty"/>
                <div class="quantity-increase" onclick="qtyUp<?= $_item->getId() ?>()"><i class="meigee-plus"></i></div>
            </div>
            <script type="text/javascript">
                function qtyDown<?= $_item->getId() ?>() {
                    qty_el = document.getElementById('cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty');
                    qty = qty_el.value;
                    if (!isNaN(qty) && qty > 1) {
                        qty_el.value--;
                    }
                    return false;
                }

                function qtyUp<?= $_item->getId() ?>() {
                    qty_el = document.getElementById('cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty');
                    qty = qty_el.value;
                    if (!isNaN(qty)) {
                        qty_el.value++;
                    }
                    return false;
                }
            </script>
        </div>
    </td>

    <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
        <?php if ($canApplyMsrp): ?>
            <span class="cart msrp subtotal">--</span>
        <?php else: ?>
            <?= $block->getRowTotalHtml($_item) ?>
        <?php endif; ?>
    </td>

    <td class="col actions" data-th="<?= $block->escapeHtml(__('Actions')) ?>">
        <div class="cart-actions clearfix">
            <?php
            $remove_block = $block->getLayout()->createBlock('\Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove');
            $edit_block = $block->getLayout()->createBlock('\Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit');
            ?>
            <?php if ($edit_block->setItem($_item)->isProductVisibleInSiteVisibility()): ?>
                <a class="action aciont-edit"
                   href="<?php /* @escapeNotVerified */
                   echo $edit_block->setItem($_item)->getConfigureUrl() ?>"
                   title="<?php echo $block->escapeHtml(__('Edit item parameters')); ?>">
                    <i class="meigee-edit"></i>
                </a>
            <?php endif ?>
            <a href="#"
               title="<?php echo $block->escapeHtml(__('Remove item')); ?>"
               class="action action-delete"
               data-post='<?php /* @escapeNotVerified */
               echo $remove_block->setItem($_item)->getDeletePostJson($_item); ?>'>
                <i class="meigee-close-small"></i>
            </a>
        </div>
    </td>
</tr>
</tbody>
